In [1]:
# Donchian Weekly Classic Trend Following System
import gta_prices
import numpy as np
import pandas as pd

In [2]:
# Trade parameters.
exchange = 'LSE'
tidm = 'STAN'
timeframe = 'Weekly'
filename = f'{exchange}_{tidm}_prices.csv'
p = [48, 24, 12, 6] # Look back periods.
position_size = 7500  # Position size in major currency unit.
risk_pct = 0.2 # Percentage risk per trade.
commission = 11.95  # Commission per trade.
sduty = 0.5  # Stamp Duty percentage.

In [3]:
# Function definitions.
def charges(date, commission):
    '''Calculate trading charges.'''
    df = pd.DataFrame(index=date, columns=['date_shift', 'charges'])
    df.date_shift = df.index.values
    df.date_shift = df.date_shift.shift()
    df.charges = np.where(df.index == df.date_shift, 0, commission)
    return df.charges

def donchian(prices, period):
    '''Calculate upper, lower, & middle Donchian lines.'''
    df = pd.DataFrame()
    df['upr'] = prices.high.rolling(period).max().shift(periods=1)
    df['lwr'] = prices.low.rolling(period).min().shift(periods=1)
    df['mid'] = 0.5 * (df.upr + df.lwr)
    return df

def shares_div4(shares):
    '''Modify number of shares to be purchased to be divisible by 4.'''
    s = pd.Series(shares.values)
    for i in s.index:
        while s.iloc[i] % 4 != 0:
            s.iloc[i] += 1
    return shares

def state(entry_signal, exit_signal, period):
    '''Calculate trade state signals.'''
    df = pd.concat([entry_signal, exit_signal], axis=1)
    df.columns = ['entry', 'exit']
    df['state'] = 0
    for i in range(period, len(df)):
        if df.loc[df.index[i], 'entry'] == 1 \
        and df.loc[df.index[i - 1], 'state'] == 0:
            df.loc[df.index[i], 'state'] = 1
        elif df.loc[df.index[i], 'exit'] == 1:
            df.loc[df.index[i], 'state'] = 0
        else:
            df.loc[df.index[i], 'state'] = df.loc[df.index[i - 1], 'state']
    return df.state

def trade_summary(trade_list):
    '''Generate trade summary.'''
    frame = pd.DataFrame(columns=['trade', 'entry', 'volatility','cost', 'exit', 'days', 'profit', 'pct', 'annual'])
    if trade_list.entry.iloc[-1] == 1:
        trade_num = trade_list.index.max()
    else:
        trade_num = trade_list.index.max() + 1
        
    for i in list(range(1, trade_num)):
        df = trade_list.loc[i]
        trade = df.index[0]
        entry = df.date.iloc[0]
        volatility = df.volatility.iloc[0]
        cost = df.cost.iloc[0]
        exit = df.date.iloc[-1]
        days = df.days.iloc[-1]
        profit = df.profit.sum()
        pct = (profit / cost) * 100
        annual = ((1 + pct / 100) ** (365 / days) - 1) * 100
        frame.loc[i] = [trade, entry, volatility, cost, exit, days, profit, pct, annual]
    frame = frame.set_index('trade')
    return frame

pd.set_option("display.max_columns", None)

In [4]:
# Import weekly closing prices.
prices = gta_prices.weekly(exchange, tidm)

In [5]:
# Donchian channels.
for i in range(len(p)):
    globals()[f'p{i + 1}'] = p[i]
    globals()[f'dc{i + 1}'] = donchian(prices, p[i])

In [6]:
# System 1 entries & exits.
s1 = pd.concat([prices, dc1], axis=1)
s1['sys'] = 1
s1['buy'] = np.where(s1.close > s1.upr, 1, 0)
s1['sell'] = np.where(s1.close < s1.mid, 1, 0)
s1['state'] = state(s1.buy, s1.sell, p1)
s1['entry'] = np.where(np.logical_and(s1.state == 1, s1.state.shift(periods=1) == 0), 1, 0)
s1['exit'] = np.where(np.logical_and(s1.state == 0, s1.state.shift(periods=1) == 1), 1, 0)

In [7]:
# System 2 entries & exits.
s2 = pd.concat([prices, dc2], axis=1)
s2['sys'] = 2
s2['buy'] = s1.entry
s2['sell'] = np.where(s2.close < s2.mid, 1, 0)
s2['state'] = state(s2.buy, s2.sell, p2)
s2['entry'] = np.where(np.logical_and(s2.state == 1, s2.state.shift(periods=1) == 0), 1, 0)
s2['exit'] = np.where(np.logical_and(s2.state == 0, s2.state.shift(periods=1) == 1), 1, 0)

In [8]:
# System 3 entries & exits.
s3 = pd.concat([prices, dc3], axis=1)
s3['sys'] = 3
s3['buy'] = s1.entry
s3['sell'] = np.where(s3.close < s3.mid, 1, 0)
s3['state'] = state(s3.buy, s3.sell, p3)
s3['entry'] = np.where(np.logical_and(s3.state == 1, s3.state.shift(periods=1) == 0), 1, 0)
s3['exit'] = np.where(np.logical_and(s3.state == 0, s3.state.shift(periods=1) == 1), 1, 0)

In [9]:
# System 4 entries & exits.
s4 = pd.concat([prices, dc4], axis=1)
s4['sys'] = 4
s4['buy'] = s1.entry
s4['sell'] = np.where(s4.close < s4.mid, 1, 0)
s4['state'] = state(s4.buy, s4.sell, p4)
s4['entry'] = np.where(np.logical_and(s4.state == 1, s4.state.shift(periods=1) == 0), 1, 0)
s4['exit'] = np.where(np.logical_and(s4.state == 0, s4.state.shift(periods=1) == 1), 1, 0)

In [10]:
# Trade list indexed by date.
td = pd.concat([s1[s1.entry == 1] , s1[s1.exit == 1], s2[s2.exit == 1], s3[s3.exit == 1], s4[s4.exit == 1]], axis=0)
td = td.sort_index()

In [11]:
# Position size (buy).
td['volatility'] = np.where(td.entry == 1, abs((td.mid - td.close) / td.close), 0)
td['risk_amt'] = np.where(td.entry == 1, ((position_size * risk_pct) / td.volatility), 0)
td['shares'] = np.where(td.entry == 1, (td.risk_amt / td.close).astype('int'), 0)
td.shares = shares_div4(td.shares) # Modify number of shares to be purchased to be divisible by 4.
td.risk_amt = np.where(td.entry == 1, (td.close * td.shares), 0) # Adjust risk amount for revised share count.

In [12]:
# Position size (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        shares = row['shares']
    elif row['exit'] == 1:
        td.at[index, 'shares'] = int(shares / 4)

In [13]:
# Charges.
td['charges'] = charges(td.index, commission)

In [14]:
# Stamp duty.
td['sduty'] = np.where(td.entry==1, ((sduty / 100) * td.close * td.shares), 0)

In [15]:
# Cost (buy).
td['cost'] = np.where(td.entry == 1, ((td.close * td.shares) + td.charges + td.sduty), 0)

In [16]:
# Cost (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        cost = row['cost']
    elif row['exit'] == 1:
        td.at[index, 'cost'] = (cost / 4)

In [17]:
# Value (sell).
td['value'] = np.where(td.exit == 1, ((td.close * td.shares) - td.charges), 0)

In [18]:
# Profit.
td['profit'] = np.where(td.exit == 1, td.value - td.cost, 0)

In [19]:
# Cumulative profit.
td['profit_cum'] = td.profit.cumsum()

In [20]:
# Percentage return.
td['pct'] = np.where(td.exit == 1, ((td.profit / td.cost) * 100), 0)

In [21]:
# Trade duration.
td['days'] = 0
for index, row in td.iterrows():
    if row['entry'] == 1:
        start_date = index
    elif row['exit'] == 1:
        td.at[index, 'days'] = index - start_date
td.days = td.days.astype('timedelta64[D]')
td.days = td.days.dt.days

In [22]:
# Annual percentage return.
td['annual'] = ((np.power(1 + td.profit / td.cost, (365 / td.days)) - 1) * 100)

In [23]:
# Trade list indexed by trade.
td['trade'] = td.state.cumsum()
td = td.reset_index()
td = td.set_index('trade')
td.round(2)

,date,open,high,low,close,upr,lwr,mid,sys,buy,sell,state,entry,exit,volatility,risk_amt,shares,charges,sduty,cost,value,profit,profit_cum,pct,days,annual
trade,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2003-08-15,6.46,6.96,6.46,6.84,6.54,4.88,5.71,1,1,0,1,1,0,0.16,9108.88,1332,11.95,45.54,9166.38,0.00,0.00,0.00,0.00,0,0.00
1,2003-11-21,7.38,7.52,7.21,7.30,7.91,7.10,7.50,4,0,1,0,0,1,0.00,0.00,333,11.95,0.00,2291.59,2420.32,128.72,128.72,5.62,98,22.57
1,2004-01-02,7.35,7.52,7.35,7.47,7.91,7.10,7.50,3,0,1,0,0,1,0.00,0.00,333,11.95,0.00,2291.59,2476.43,184.83,313.55,8.07,140,22.41
1,2004-02-06,7.16,7.26,7.00,7.20,7.91,6.61,7.26,2,0,1,0,0,1,0.00,0.00,333,11.95,0.00,2291.59,2385.55,93.96,407.51,4.10,175,8.74
1,2004-07-16,6.99,7.06,6.93,6.98,7.91,6.46,7.18,1,0,1,0,0,1,0.00,0.00,333,11.95,0.00,2291.59,2310.72,19.13,426.64,0.83,336,0.91
2,2004-10-08,7.83,8.02,7.79,7.97,7.87,6.67,7.27,1,1,0,1,1,0,0.09,17175.13,2156,11.95,85.88,17272.95,0.00,0.00,426.64,0.00,0,0.00
2,2004-12-03,8.06,8.26,7.86,7.95,8.33,7.76,8.04,4,0,1,0,0,1,0.00,0.00,539,11.95,0.00,4318.24,4273.21,-45.03,381.61,-1.04,56,-6.60
2,2004-12-10,7.95,8.00,7.63,7.64,8.33,7.48,7.90,3,0,1,0,0,1,0.00,0.00,539,11.95,0.00,4318.24,4106.66,-211.58,170.03,-4.90,63,-25.25
2,2005-01-14,7.45,7.58,7.36,7.52,8.33,6.95,7.64,2,0,1,0,0,1,0.00,0.00,539,11.95,0.00,4318.24,4041.76,-276.48,-106.45,-6.40,98,-21.84
2,2005-03-18,7.69,7.74,7.39,7.42,8.33,6.67,7.50,1,0,1,0,0,1,0.00,0.00,539,11.95,0.00,4318.24,3987.65,-330.59,-437.04,-7.66,161,-16.52
3,2005-06-10,8.03,8.46,7.99,8.37,8.33,6.87,7.60,1,1,0,1,1,0,0.09,16367.03,1956,11.95,81.84,16460.81,0.00,0.00,-437.04,0.00,0,0.00
3,2005-10-14,9.73,9.90,9.22,9.29,10.03,9.41,9.72,4,0,1,0,0,1,0.00,0.00,489,11.95,0.00,4115.20,4533.11,417.91,-19.13,10.16,126,32.34
3,2005-10-14,9.73,9.90,9.22,9.29,10.11,8.66,9.39,3,0,1,0,0,1,0.00,0.00,489,0.00,0.00,4115.20,4545.06,429.86,410.72,10.45,126,33.35
3,2006-05-19,11.26,11.34,10.55,10.68,12.83,9.41,11.12,2,0,1,0,0,1,0.00,0.00,489,11.95,0.00,4115.20,5208.13,1092.92,1503.64,26.56,343,28.48
3,2006-06-09,10.56,10.57,9.89,10.15,12.83,8.13,10.48,1,0,1,0,0,1,0.00,0.00,489,11.95,0.00,4115.20,4952.87,837.66,2341.31,20.36,364,20.42
4,2007-04-27,12.26,12.71,12.09,12.52,12.46,9.58,11.02,1,1,0,1,1,0,0.12,12521.00,1000,11.95,62.60,12595.55,0.00,0.00,2341.31,0.00,0,0.00
4,2007-06-29,13.21,13.34,12.58,13.08,14.15,12.59,13.37,4,0,1,0,0,1,0.00,0.00,250,11.95,0.00,3148.89,3258.80,109.91,2451.22,3.49,63,21.99
4,2007-07-27,13.23,13.59,12.14,12.42,14.15,12.19,13.17,3,0,1,0,0,1,0.00,0.00,250,11.95,0.00,3148.89,3092.30,-56.59,2394.63,-1.80,91,-7.02
4,2007-08-24,12.52,12.95,11.97,11.99,14.15,10.60,12.38,2,0,1,0,0,1,0.00,0.00,250,11.95,0.00,3148.89,2985.80,-163.09,2231.54,-5.18,119,-15.05
4,2007-08-24,12.52,12.95,11.97,11.99,14.15,10.57,12.36,1,0,1,0,0,1,0.00,0.00,250,0.00,0.00,3148.89,2997.75,-151.14,2080.40,-4.80,119,-14.00
5,2007-10-26,12.84,14.66,12.79,14.49,14.15,10.60,12.38,1,1,0,1,1,0,0.15,10315.46,712,11.95,51.58,10378.98,0.00,0.00,2080.40,0.00,0,0.00
5,2007-11-09,14.05,14.29,12.84,13.44,15.02,12.46,13.74,4,0,1,0,0,1,0.00,0.00,178,11.95,0.00,2594.75,2381.08,-213.66,1866.74,-8.23,14,-89.36
5,2008-01-11,14.50,15.00,14.11,14.25,15.85,12.79,14.32,3,0,1,0,0,1,0.00,0.00,178,11.95,0.00,2594.75,2524.02,-70.73,1796.01,-2.73,77,-12.28
5,2008-01-18,14.05,14.22,12.71,12.83,15.85,11.33,13.59,2,0,1,0,0,1,0.00,0.00,178,11.95,0.00,2594.75,2272.50,-322.24,1473.77,-12.42,84,-43.80
5,2008-01-18,14.05,14.22,12.71,12.83,15.85,10.60,13.23,1,0,1,0,0,1,0.00,0.00,178,0.00,0.00,2594.75,2284.45,-310.29,1163.47,-11.96,84,-42.50
6,2009-09-18,12.93,13.95,12.93,13.73,13.46,5.08,9.27,1,1,0,1,1,0,0.32,4612.27,336,11.95,23.06,4647.28,0.00,0.00,1163.47,0.00,0,0.00
6,2009-10-30,14.79,14.98,13.47,13.76,14.88,12.93,13.90,4,0,1,0,0,1,0.00,0.00,84,11.95,0.00,1161.82,1143.81,-18.01,1145.46,-1.55,42,-12.70
6,2009-11-27,14.94,15.48,13.26,13.94,15.55,12.39,13.97,3,0,1,0,0,1,0.00,0.00,84,11.95,0.00,1161.82,1158.84,-2.98,1142.48,-0.26,70,-1.33
6,2010-01-22,14.30,14.42,12.76,13.09,15.55,12.01,13.78,2,0,1,0,0,1,0.00,0.00,84,11.95,0.00,1161.82,1087.95,-73.87,1068.60,-6.36,126,-17.33
6,2011-01-28,15.92,16.02,15.41,15.49,18.80,13.67,16.24,1,0,1,0,0,1,0.00,0.00,84,11.95,0.00,1161.82,1289.29,127.47,1196.08,10.97,497,7.95
7,2013-01-11,15.60,16.18,15.29,16.00,15.84,10.39,13.12,1,1,0,1,1,0,0.18,8381.38,524,11.95,41.91,8435.24,0.00,0.00,1196.08,0.00,0,0.00
7,2013-03-22,16.47,16.58,16.20,16.20,17.71,15.59,16.65,4,0,1,0,0,1,0.00,0.00,131,11.95,0.00,2108.81,2109.60,0.79,1196.86,0.04,70,0.19
7,2013-03-22,16.47,16.58,16.20,16.20,17.71,14.80,16.26,3,0,1,0,0,1,0.00,0.00,131,0.00,0.00,2108.81,2121.54,12.74,1209.60,0.60,70,3.19
7,2013-04-12,15.84,15.91,15.43,15.51,17.71,13.46,15.59,2,0,1,0,0,1,0.00,0.00,131,11.95,0.00,2108.81,2020.38,-88.43,1121.17,-4.19,91,-15.79
7,2013-06-07,14.54,14.70,13.65,14.02,17.71,10.39,14.05,1,0,1,0,0,1,0.00,0.00,131,11.95,0.00,2108.81,1825.32,-283.48,837.69,-13.44,147,-30.12
8,2016-10-21,6.58,7.08,6.56,7.06,6.83,3.73,5.28,1,1,0,1,1,0,0.25,5983.49,848,11.95,29.92,6025.36,0.00,0.00,837.69,0.00,0,0.00
8,2016-11-04,6.99,7.19,6.28,6.33,7.16,5.99,6.58,3,0,1,0,0,1,0.00,0.00,212,11.95,0.00,1506.34,1329.80,-176.54,661.15,-11.72,14,-96.12
8,2016-11-04,6.99,7.19,6.28,6.33,7.16,5.99,6.58,4,0,1,0,0,1,0.00,0.00,212,0.00,0.00,1506.34,1341.75,-164.59,496.56,-10.93,14,-95.10
8,2017-04-14,7.40,7.44,7.08,7.10,8.22,6.10,7.16,2,0,1,0,0,1,0.00,0.00,212,11.95,0.00,1506.34,1492.19,-14.15,482.41,-0.94,175,-1.95
8,2017-09-22,7.39,7.44,7.23,7.30,8.60,6.10,7.35,1,0,1,0,0,1,0.00,0.00,212,11.95,0.00,1506.34,1535.65,29.31,511.72,1.95,336,2.12
9,2019-07-05,7.20,7.38,7.06,7.35,7.21,5.14,6.18,1,1,0,1,1,0,0.16,9405.44,1280,11.95,47.03,9464.42,0.00,0.00,511.72,0.00,0,0.00
9,2019-07-26,7.08,7.20,6.82,6.90,7.43,6.73,7.08,4,0,1,0,0,1,0.00,0.00,320,11.95,0.00,2366.10,2196.69,-169.41,342.31,-7.16,21,-72.51
9,2019-07-26,7.08,7.20,6.82,6.90,7.43,6.56,6.99,3,0,1,0,0,1,0.00,0.00,320,0.00,0.00,2366.10,2208.64,-157.46,184.84,-6.66,21,-69.79
9,2019-08-09,6.61,6.62,6.20,6.26,7.43,5.14,6.28,1,0,1,0,0,1,0.00,0.00,320,11.95,0.00,2366.10,1992.53,-373.57,-188.73,-15.79,35,-83.34
9,2019-08-09,6.61,6.62,6.20,6.26,7.43,5.74,6.58,2,0,1,0,0,1,0.00,0.00,320,0.00,0.00,2366.10,2004.48,-361.62,-550.36,-15.28,35,-82.27
10,2021-04-30,4.80,5.33,4.77,5.20,5.19,3.34,4.27,1,1,0,1,1,0,0.18,8417.52,1620,11.95,42.09,8471.56,0.00,0.00,-550.36,0.00,0,0.00
10,2021-06-04,5.09,5.11,4.95,4.96,5.33,4.70,5.02,3,0,1,0,0,1,0.00,0.00,405,11.95,0.00,2117.89,1996.44,-121.44,-671.80,-5.73,35,-45.98
10,2021-06-04,5.09,5.11,4.95,4.96,5.33,4.70,5.02,4,0,1,0,0,1,0.00,0.00,405,0.00,0.00,2117.89,2008.39,-109.49,-781.30,-5.17,35,-42.51
10,2021-06-18,4.95,5.00,4.69,4.69,5.33,4.35,4.84,2,0,1,0,0,1,0.00,0.00,405,11.95,0.00,2117.89,1886.28,-231.60,-1012.90,-10.94,49,-57.80
10,2021-07-23,4.30,4.35,4.14,4.32,5.33,3.34,4.34,1,0,1,0,0,1,0.00,0.00,405,11.95,0.00,2117.89,1736.44,-381.45,-1394.36,-18.01,84,-57.81
11,2022-02-18,5.44,5.82,5.21,5.79,5.74,4.06,4.90,1,1,0,1,1,0,0.15,9730.56,1680,11.95,48.65,9791.16,0.00,0.00,-1394.36,0.00,0,0.00
11,2022-03-04,5.36,5.46,4.66,4.69,5.90,4.06,4.98,1,0,1,0,0,1,0.00,0.00,420,11.95,0.00,2447.79,1958.69,-489.10,-1883.46,-19.98,14,-99.70
11,2022-03-04,5.36,5.46,4.66,4.69,5.90,4.06,4.98,2,0,1,0,0,1,0.00,0.00,420,0.00,0.00,2447.79,1970.64,-477.15,-2360.61,-19.49,14,-99.65
11,2022-03-04,5.36,5.46,4.66,4.69,5.90,4.14,5.02,3,0,1,0,0,1,0.00,0.00,420,0.00,0.00,2447.79,1970.64,-477.15,-2837.76,-19.49,14,-99.65
11,2022-03-04,5.36,5.46,4.66,4.69,5.90,4.86,5.38,4,0,1,0,0,1,0.00,0.00,420,0.00,0.00,2447.79,1970.64,-477.15,-3314.91,-19.49,14,-99.65
12,2022-05-27,5.95,6.29,5.88,6.27,6.00,4.06,5.03,1,1,0,1,1,0,0.20,7574.16,1208,11.95,37.87,7623.98,0.00,0.00,-3314.91,0.00,0,0.00

In [24]:
# Trade summary.
tds = trade_summary(td)
tds.round({'volatility': 3, 'pct': 1, 'annual': 1})

,entry,volatility,cost,exit,days,profit,pct,annual
trade,,,,,,,,
1,2003-08-15,0.165,9166.376410,2004-07-16,336,426.639790,4.7,5.1
2,2004-10-08,0.087,17272.952836,2005-03-18,161,-863.681436,-5.0,-11.0
3,2005-06-10,0.092,16460.810728,2006-06-09,364,2778.350072,16.9,16.9
4,2007-04-27,0.120,12595.555000,2007-08-24,119,-260.905000,-2.1,-6.2
5,2007-10-26,0.146,10378.983280,2008-01-18,84,-916.931280,-8.8,-33.1
6,2009-09-18,0.325,4647.283360,2011-01-28,497,32.604640,0.7,0.5
7,2013-01-11,0.180,8435.236900,2013-06-07,147,-358.387900,-4.2,-10.2
8,2016-10-21,0.251,6025.355440,2017-09-22,336,-325.969440,-5.4,-5.9
9,2019-07-05,0.160,9464.417200,2019-08-09,35,-1062.077200,-11.2,-71.1
10,2021-04-30,0.179,8471.557600,2021-07-23,84,-843.997600,-10.0,-36.6
11,2022-02-18,0.154,9791.162800,2022-03-04,14,-1920.552800,-19.6,-99.7

In [25]:
cost_total = tds.cost.sum()
cost_total

112709.691554

In [26]:
profit_total = tds.profit.sum()
profit_total

-3314.908154000002

In [27]:
pct_total = (profit_total / cost_total) * 100
pct_total

-2.9411030305338084

In [28]:
days_total = (tds.exit.iloc[-1] - tds.entry.iloc[0])
days_total = days_total.days
days_total

6776

In [29]:
annual_total = ((1 + pct_total / 100) ** (365 / days_total) - 1) * 100
annual_total

-0.16067443089037292