In [1]:
# Donchian Weekly Classic Trend Following System
import gta_prices
import numpy as np
import pandas as pd

In [2]:
# Trade parameters.
exchange = 'LSE'
tidm = 'CHG'
timeframe = 'Weekly'
filename = f'{exchange}_{tidm}_prices.csv'
p1 = 48 # System 1 look back period.
p2 = 24 # System 2 look back period.
p3 = 12 # System 3 look back period.
p4 = 6  # System 4 look back period.
position_size = 7500  # Position size in major currency unit.
risk_pct = 0.2 # Percentage risk per trade.
commission = 11.95  # Commission per trade.
sduty = 0.5  # Stamp Duty percentage.

In [3]:
# Function definitions.
def charges(date, commission):
    '''Calculate trading charges.'''
    df = pd.DataFrame(index=date, columns=['date_shift', 'charges'])
    df.date_shift = df.index.values
    df.date_shift = df.date_shift.shift()
    df.charges = np.where(df.index == df.date_shift, 0, commission)
    return df.charges

def donchian(prices, period):
    '''Calculate upper, lower, & middle Donchian lines.'''
    df = pd.DataFrame()
    df['upr'] = prices.high.rolling(period).max().shift(periods=1)
    df['lwr'] = prices.low.rolling(period).min().shift(periods=1)
    df['mid'] = 0.5 * (df.upr + df.lwr)
    return df

def shares_div4(shares):
    '''Modify number of shares to be purchased to be divisible by 4.'''
    s = pd.Series(shares.values)
    for i in s.index:
        while s.iloc[i] % 4 != 0:
            s.iloc[i] += 1
    return shares

def state(entry_signal, exit_signal, period):
    '''Calculate trade state signals.'''
    df = pd.concat([entry_signal, exit_signal], axis=1)
    df.columns = ['entry', 'exit']
    df['state'] = 0
    for i in range(period, len(df)):
        if df.loc[df.index[i], 'entry'] == 1 \
        and df.loc[df.index[i - 1], 'state'] == 0:
            df.loc[df.index[i], 'state'] = 1
        elif df.loc[df.index[i], 'exit'] == 1:
            df.loc[df.index[i], 'state'] = 0
        else:
            df.loc[df.index[i], 'state'] = df.loc[df.index[i - 1], 'state']
    return df.state

def trade_summary(trade_list):
    '''Generate trade summary.'''
    frame = pd.DataFrame(columns=['trade', 'entry', 'volatility','cost', 'exit', 'days', 'profit', 'pct', 'annual'])
    
    if trade_list.entry.iloc[-1] == 1:
        trade_num = trade_list.index.max()
    else:
        trade_num = trade_list.index.max() + 1
        
    for i in list(range(1, trade_num)):
        df = trade_list.loc[i]
        trade = df.index[0]
        entry = df.date.iloc[0]
        volatility = df.volatility.iloc[0]
        cost = df.cost.iloc[0]
        exit = df.date.iloc[-1]
        days = df.days.iloc[-1]
        profit = df.profit.sum()
        pct = (profit / cost) * 100
        annual = ((1 + pct / 100) ** (365 / days) - 1) * 100
        frame.loc[i] = [trade, entry, volatility, cost, exit, days, profit, pct, annual]
    frame = frame.set_index('trade')
    return frame

pd.set_option("display.max_columns", None)

In [4]:
# Import weekly closing prices.
prices = gta_prices.weekly(exchange, tidm)

In [5]:
# Donchian channels.
dc1 = donchian(prices, p1)
dc2 = donchian(prices, p2)
dc3 = donchian(prices, p3)
dc4 = donchian(prices, p4)

In [6]:
# System 1 entries & exits.
s1 = pd.concat([prices, dc1], axis=1)
s1['sys'] = 1
s1['buy'] = np.where(s1.close > s1.upr, 1, 0)
s1['sell'] = np.where(s1.close < s1.mid, 1, 0)
s1['state'] = state(s1.buy, s1.sell, p1)
s1['entry'] = np.where(np.logical_and(s1.state == 1, s1.state.shift(periods=1) == 0), 1, 0)
s1['exit'] = np.where(np.logical_and(s1.state == 0, s1.state.shift(periods=1) == 1), 1, 0)

In [7]:
# System 2 entries & exits.
s2 = pd.concat([prices, dc2], axis=1)
s2['sys'] = 2
s2['buy'] = s1.entry
s2['sell'] = np.where(s2.close < s2.mid, 1, 0)
s2['state'] = state(s2.buy, s2.sell, p2)
s2['entry'] = np.where(np.logical_and(s2.state == 1, s2.state.shift(periods=1) == 0), 1, 0)
s2['exit'] = np.where(np.logical_and(s2.state == 0, s2.state.shift(periods=1) == 1), 1, 0)

In [8]:
# System 3 entries & exits.
s3 = pd.concat([prices, dc3], axis=1)
s3['sys'] = 3
s3['buy'] = s1.entry
s3['sell'] = np.where(s3.close < s3.mid, 1, 0)
s3['state'] = state(s3.buy, s3.sell, p3)
s3['entry'] = np.where(np.logical_and(s3.state == 1, s3.state.shift(periods=1) == 0), 1, 0)
s3['exit'] = np.where(np.logical_and(s3.state == 0, s3.state.shift(periods=1) == 1), 1, 0)

In [9]:
# System 4 entries & exits.
s4 = pd.concat([prices, dc4], axis=1)
s4['sys'] = 4
s4['buy'] = s1.entry
s4['sell'] = np.where(s4.close < s4.mid, 1, 0)
s4['state'] = state(s4.buy, s4.sell, p4)
s4['entry'] = np.where(np.logical_and(s4.state == 1, s4.state.shift(periods=1) == 0), 1, 0)
s4['exit'] = np.where(np.logical_and(s4.state == 0, s4.state.shift(periods=1) == 1), 1, 0)

In [10]:
# Trade list indexed by date.
td = pd.concat([s1[s1.entry == 1] , s1[s1.exit == 1], s2[s2.exit == 1], s3[s3.exit == 1], s4[s4.exit == 1]], axis=0)
td = td.sort_index()

In [11]:
# Position size (buy).
td['volatility'] = np.where(td.entry == 1, abs((td.mid - td.close) / td.close).round(3), 0)
td['risk_amt'] = np.where(td.entry == 1, ((position_size * risk_pct) / td.volatility).round(2), 0)
td['shares'] = np.where(td.entry == 1, (td.risk_amt / td.close).astype('int'), 0)
td.shares = shares_div4(td.shares) # Modify number of shares to be purchased to be divisible by 4.
td.risk_amt = np.where(td.entry == 1, (td.close * td.shares).round(2), 0) # Adjust risk amount for revised share count.

In [12]:
# Position size (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        shares = row['shares']
    elif row['exit'] == 1:
        td.at[index, 'shares'] = int(shares / 4)

In [13]:
# Charges.
td['charges'] = charges(td.index, commission)

In [14]:
# Stamp duty.
td['sduty'] = np.where(td.entry==1, ((sduty / 100) * td.close * td.shares).round(2), 0)

In [15]:
# Cost (buy).
td['cost'] = np.where(td.entry == 1, ((td.close * td.shares) + td.charges + td.sduty).round(2), 0)

In [16]:
# Cost (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        cost = row['cost']
    elif row['exit'] == 1:
        td.at[index, 'cost'] = (cost / 4).round(2)

In [17]:
# Value (sell).
td['value'] = np.where(td.exit == 1, ((td.close * td.shares) - td.charges).round(2), 0)

In [18]:
# Profit.
td['profit'] = np.where(td.exit == 1, td.value - td.cost, 0)

In [19]:
# Cumulative profit.
td['cum_profit'] = td.profit.cumsum()

In [20]:
# Percentage return.
td['pct'] = np.where(td.exit == 1, ((td.profit / td.cost) * 100).round(1), 0)

In [21]:
# Trade duration.
td['days'] = 0
for index, row in td.iterrows():
    if row['entry'] == 1:
        start_date = index
    elif row['exit'] == 1:
        td.at[index, 'days'] = index - start_date
td.days = td.days.astype('timedelta64[D]')
td.days = td.days.dt.days

In [22]:
# Annual percentage return.
td['annual'] = ((np.power(1 + td.profit / td.cost, (365 / td.days)) - 1) * 100).round(1)

In [23]:
# Trade list indexed by trade.
td['trade'] = td.state.cumsum()
td = td.reset_index()
td = td.set_index('trade')
td

,date,open,high,low,close,upr,lwr,mid,sys,buy,sell,state,entry,exit,volatility,risk_amt,shares,charges,sduty,cost,value,profit,cum_profit,pct,days,annual
trade,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2001-05-18,0.57550,0.58951,0.57550,0.58864,0.57900,0.42483,0.501915,1,1,0,1,1,0,0.147,10204.66,17336,11.95,51.02,10267.63,0.00,0.00,0.00,0.0,0,0.0
1,2001-06-29,0.60615,0.60615,0.58951,0.58951,0.62280,0.55710,0.589950,4,0,1,0,0,1,0.000,0.00,4334,11.95,0.00,2566.91,2542.99,-23.92,-23.92,-0.9,42,-7.8
1,2001-07-06,0.58951,0.58951,0.56323,0.56323,0.62280,0.50717,0.564985,3,0,1,0,0,1,0.000,0.00,4334,11.95,0.00,2566.91,2429.09,-137.82,-161.74,-5.4,49,-33.7
1,2001-07-06,0.58951,0.58951,0.56323,0.56323,0.62280,0.50542,0.564110,2,0,1,0,0,1,0.000,0.00,4334,0.00,0.00,2566.91,2441.04,-125.87,-287.61,-4.9,49,-31.2
1,2002-02-22,0.61316,0.61579,0.59389,0.59564,0.68937,0.50542,0.597395,1,0,1,0,0,1,0.000,0.00,4334,11.95,0.00,2566.91,2569.55,2.64,-284.97,0.1,280,0.1
2,2003-06-20,0.55097,0.57024,0.54747,0.56937,0.56323,0.36089,0.462060,1,1,0,1,1,0,0.188,7980.29,14016,11.95,39.90,8032.14,0.00,0.00,-284.97,0.0,0,0.0
2,2003-10-03,0.72966,0.73142,0.71039,0.72090,0.75945,0.70076,0.730105,4,0,1,0,0,1,0.000,0.00,3504,11.95,0.00,2008.04,2514.08,506.04,221.07,25.2,105,118.4
2,2003-10-17,0.70514,0.71915,0.70514,0.71565,0.75945,0.67711,0.718280,3,0,1,0,0,1,0.000,0.00,3504,11.95,0.00,2008.04,2495.69,487.65,708.72,24.3,119,94.8
2,2003-12-19,0.67973,0.67973,0.65521,0.65521,0.75945,0.58951,0.674480,2,0,1,0,0,1,0.000,0.00,3504,11.95,0.00,2008.04,2283.91,275.87,984.59,13.7,182,29.5
2,2004-08-27,0.72704,0.72704,0.70601,0.70601,0.82076,0.60353,0.712145,1,0,1,0,0,1,0.000,0.00,3504,11.95,0.00,2008.04,2461.91,453.87,1438.46,22.6,434,18.7
3,2005-02-18,0.78835,0.82602,0.78835,0.82602,0.82076,0.65170,0.736230,1,1,0,1,1,0,0.109,13761.49,16660,11.95,68.81,13842.25,0.00,0.00,1438.46,0.0,0,0.0
3,2005-04-01,0.79886,0.79886,0.78485,0.78485,0.84792,0.78835,0.818135,4,0,1,0,0,1,0.000,0.00,4165,11.95,0.00,3460.56,3256.95,-203.61,1234.85,-5.9,42,-41.0
3,2005-05-13,0.80324,0.80324,0.78835,0.79010,0.85755,0.78485,0.821200,3,0,1,0,0,1,0.000,0.00,4165,11.95,0.00,3460.56,3278.82,-181.74,1053.11,-5.3,84,-20.9
3,2006-06-09,1.77820,1.82370,1.64680,1.70110,2.21090,1.25260,1.731750,2,0,1,0,0,1,0.000,0.00,4165,11.95,0.00,3460.56,7073.13,3612.57,4665.68,104.4,476,73.0
3,2007-09-28,3.18320,3.32510,3.09730,3.16220,3.79460,2.57530,3.184950,1,0,1,0,0,1,0.000,0.00,4165,11.95,0.00,3460.56,13158.61,9698.05,14363.73,280.2,952,66.9
4,2007-11-02,3.59140,3.95750,3.50900,3.84190,3.79460,2.57530,3.184950,1,1,0,1,1,0,0.171,8774.90,2284,11.95,43.87,8830.72,0.00,0.00,14363.73,0.0,0,0.0
4,2007-12-07,3.69470,3.78230,3.50550,3.60890,3.95750,3.34260,3.650050,4,0,1,0,0,1,0.000,0.00,571,11.95,0.00,2207.68,2048.73,-158.95,14204.78,-7.2,35,-54.1
4,2008-01-11,3.57210,3.70880,3.31810,3.38640,3.95750,3.34260,3.650050,3,0,1,0,0,1,0.000,0.00,571,11.95,0.00,2207.68,1921.68,-286.00,13918.78,-13.0,70,-51.5
4,2008-01-11,3.57210,3.70880,3.31810,3.38640,3.95750,2.92920,3.443350,2,0,1,0,0,1,0.000,0.00,571,0.00,0.00,2207.68,1933.63,-274.05,13644.73,-12.4,70,-49.9
4,2008-01-11,3.57210,3.70880,3.31810,3.38640,3.95750,2.92570,3.441600,1,0,1,0,0,1,0.000,0.00,571,0.00,0.00,2207.68,1933.63,-274.05,13370.68,-12.4,70,-49.9
5,2008-02-01,3.50730,4.02940,3.41620,3.98210,3.95750,2.92570,3.441600,1,1,0,1,1,0,0.136,11038.38,2772,11.95,55.19,11105.52,0.00,0.00,13370.68,0.0,0,0.0
5,2008-04-18,4.24830,4.31670,3.99780,4.16070,4.46730,3.85770,4.162500,4,0,1,0,0,1,0.000,0.00,693,11.95,0.00,2776.38,2871.42,95.04,13465.72,3.4,77,17.3
5,2008-06-20,4.28860,4.36050,4.22560,4.22560,4.53040,3.99780,4.264100,3,0,1,0,0,1,0.000,0.00,693,11.95,0.00,2776.38,2916.39,140.01,13605.73,5.0,140,13.7
5,2008-07-25,4.09770,4.26410,4.05560,4.15720,4.53040,3.79280,4.161600,2,0,1,0,0,1,0.000,0.00,693,11.95,0.00,2776.38,2868.99,92.61,13698.34,3.3,175,7.1
5,2008-09-12,4.06960,4.09240,3.66850,3.79280,4.53040,3.19370,3.862050,1,0,1,0,0,1,0.000,0.00,693,11.95,0.00,2776.38,2616.46,-159.92,13538.42,-5.8,224,-9.2
6,2009-09-18,4.02580,4.35350,3.96980,4.23080,4.14320,2.67510,3.409150,1,1,0,1,1,0,0.194,7733.90,1828,11.95,38.67,7784.52,0.00,0.00,13538.42,0.0,0,0.0
6,2009-11-27,4.90530,4.93160,4.67580,4.77220,5.11030,4.47610,4.793200,4,0,1,0,0,1,0.000,0.00,457,11.95,0.00,1946.13,2168.95,222.82,13761.24,11.4,70,76.0
6,2010-05-21,6.09480,6.16840,5.59730,5.70240,6.50130,5.56230,6.031800,3,0,1,0,0,1,0.000,0.00,457,11.95,0.00,1946.13,2594.05,647.92,14409.16,33.3,245,53.4
6,2010-05-28,5.76900,5.80750,5.37130,5.55350,6.50130,4.70030,5.600800,2,0,1,0,0,1,0.000,0.00,457,11.95,0.00,1946.13,2526.00,579.87,14989.03,29.8,252,45.9
6,2010-08-06,5.12950,5.23120,4.98410,5.01220,6.50130,3.56160,5.031450,1,0,1,0,0,1,0.000,0.00,457,11.95,0.00,1946.13,2278.63,332.50,15321.53,17.1,322,19.6
7,2016-11-25,1.63250,1.70750,1.59000,1.68000,1.67000,0.90250,1.286250,1,1,0,1,1,0,0.234,6410.88,3816,11.95,32.05,6454.88,0.00,0.00,15321.53,0.0,0,0.0
7,2017-03-24,1.99500,2.00000,1.86000,1.95750,2.08000,1.86500,1.972500,4,0,1,0,0,1,0.000,0.00,954,11.95,0.00,1613.72,1855.50,241.78,15563.31,15.0,119,53.5
7,2017-04-21,1.90000,1.97500,1.88750,1.93000,2.08000,1.80000,1.940000,3,0,1,0,0,1,0.000,0.00,954,11.95,0.00,1613.72,1829.27,215.55,15778.86,13.4,147,36.5
7,2017-05-12,1.85000,1.95000,1.80500,1.81250,2.08000,1.59000,1.835000,2,0,1,0,0,1,0.000,0.00,954,11.95,0.00,1613.72,1717.18,103.46,15882.32,6.4,168,14.5
7,2017-10-13,1.80250,1.85000,1.72500,1.75000,2.08000,1.46250,1.771250,1,0,1,0,0,1,0.000,0.00,954,11.95,0.00,1613.72,1657.55,43.83,15926.15,2.7,322,3.1
8,2018-08-10,2.28500,2.39500,2.27000,2.36000,2.34500,1.62000,1.982500,1,1,0,1,1,0,0.160,9373.92,3972,11.95,46.87,9432.74,0.00,0.00,15926.15,0.0,0,0.0
8,2018-08-17,1.92800,2.08500,1.80000,1.98000,2.39500,1.62000,2.007500,1,0,1,0,0,1,0.000,0.00,993,11.95,0.00,2358.18,1954.19,-403.99,15522.16,-17.1,7,-100.0
8,2018-08-17,1.92800,2.08500,1.80000,1.98000,2.39500,2.15000,2.272500,4,0,1,0,0,1,0.000,0.00,993,0.00,0.00,2358.18,1966.14,-392.04,15130.12,-16.6,7,-100.0
8,2018-08-17,1.92800,2.08500,1.80000,1.98000,2.39500,1.85000,2.122500,2,0,1,0,0,1,0.000,0.00,993,0.00,0.00,2358.18,1966.14,-392.04,14738.08,-16.6,7,-100.0
8,2018-08-17,1.92800,2.08500,1.80000,1.98000,2.39500,2.01000,2.202500,3,0,1,0,0,1,0.000,0.00,993,0.00,0.00,2358.18,1966.14,-392.04,14346.04,-16.6,7,-100.0
9,2019-09-20,2.00000,2.03500,1.93000,2.03500,2.03000,1.34000,1.685000,1,1,0,1,1,0,0.172,8726.08,4288,11.95,43.63,8781.66,0.00,0.00,14346.04,0.0,0,0.0
9,2019-11-08,2.10000,2.10000,1.90600,1.96200,2.14500,1.85000,1.997500,4,0,1,0,0,1,0.000,0.00,1072,11.95,0.00,2195.42,2091.31,-104.11,14241.93,-4.7,49,-30.4
9,2019-11-22,1.95000,2.00000,1.85000,1.92200,2.14500,1.72600,1.935500,3,0,1,0,0,1,0.000,0.00,1072,11.95,0.00,2195.42,2048.43,-146.99,14094.94,-6.7,63,-33.1
9,2020-03-06,2.36000,2.55500,2.34500,2.36000,2.88000,1.85000,2.365000,2,0,1,0,0,1,0.000,0.00,1072,11.95,0.00,2195.42,2517.97,322.55,14417.49,14.7,168,34.7
9,2020-03-13,2.26000,2.33500,1.95600,2.05000,2.88000,1.36600,2.123000,1,0,1,0,0,1,0.000,0.00,1072,11.95,0.00,2195.42,2185.65,-9.77,14407.72,-0.4,175,-0.9
10,2020-12-18,2.64500,3.19500,2.62500,2.95000,2.88000,1.45800,2.169000,1,1,0,1,1,0,0.265,5664.00,1920,11.95,28.32,5704.27,0.00,0.00,14407.72,0.0,0,0.0
10,2021-02-05,2.95000,3.16000,2.81500,2.95000,3.17500,2.82000,2.997500,4,0,1,0,0,1,0.000,0.00,480,11.95,0.00,1426.07,1404.05,-22.02,14385.70,-1.5,49,-10.9
10,2021-02-19,3.04500,3.04500,2.78500,2.79500,3.19500,2.40000,2.797500,3,0,1,0,0,1,0.000,0.00,480,11.95,0.00,1426.07,1329.65,-96.42,14289.28,-6.8,63,-33.3
10,2021-03-05,2.98000,2.98000,2.56500,2.59000,3.19500,2.25000,2.722500,2,0,1,0,0,1,0.000,0.00,480,11.95,0.00,1426.07,1231.25,-194.82,14094.46,-13.7,77,-50.2
10,2021-10-29,2.99000,3.05500,2.84000,2.92500,3.46000,2.40000,2.930000,1,0,1,0,0,1,0.000,0.00,480,11.95,0.00,1426.07,1392.05,-34.02,14060.44,-2.4,315,-2.8
11,2022-05-06,3.57500,3.72500,3.47500,3.65000,3.58000,2.52500,3.052500,1,1,0,1,1,0,0.164,9154.20,2508,11.95,45.77,9211.92,0.00,0.00,14060.44,0.0,0,0.0

In [24]:
# Trade summary.
tds = trade_summary(td)
tds.round({'volatility': 3, 'pct': 1, 'annual': 1})

           entry  volatility      cost       exit days    profit   pct  annual
trade
1     2001-05-18       0.147  10267.63 2002-02-22  280   -284.97  -2.8    -3.6
2     2003-06-20       0.188   8032.14 2004-08-27  434   1723.43  21.5    17.8
3     2005-02-18       0.109  13842.25 2007-09-28  952  12925.27  93.4    28.8
4     2007-11-02       0.171   8830.72 2008-01-11   70   -993.05 -11.2   -46.3
5     2008-02-01       0.136  11105.52 2008-09-12  224    167.74   1.5     2.5
6     2009-09-18       0.194   7784.52 2010-08-06  322   1783.11  22.9    26.3
7     2016-11-25       0.234   6454.88 2017-10-13  322    604.62   9.4    10.7
8     2018-08-10       0.160   9432.74 2018-08-17    7  -1580.11 -16.8  -100.0
9     2019-09-20       0.172   8781.66 2020-03-13  175     61.68   0.7     1.5
10    2020-12-18       0.265   5704.27 2021-10-29  315   -347.28  -6.1    -7.0