In [1]:
# Donchian Weekly Classic Trend Following System
import gta_price
import numpy as np
import pandas as pd

In [2]:
# Trade parameters.
exchange = 'LSE'
tidm = 'PHTM'
timeframe = 'Weekly'
filename = f'{exchange}_{tidm}_prices.csv'
p = [48, 24, 12, 6] # Look back periods.
position_size = 7500  # Position size in major currency unit.
risk_pct = 0.2 # Percentage risk per trade.
commission = 11.95  # Commission per trade.
sduty = 0.0  # Stamp Duty percentage.

In [3]:
# Function definitions.
def charges(date, commission):
    '''Calculate trading charges.'''
    df = pd.DataFrame(index=date, columns=['date_shift', 'charges'])
    df.date_shift = df.index.values
    df.date_shift = df.date_shift.shift()
    df.charges = np.where(df.index == df.date_shift, 0, commission)
    return df.charges

def donchian(prices, period):
    '''Calculate upper, lower, & middle Donchian lines.'''
    df = pd.DataFrame()
    df['upr'] = prices.high.rolling(period).max().shift(periods=1)
    df['lwr'] = prices.low.rolling(period).min().shift(periods=1)
    df['mid'] = 0.5 * (df.upr + df.lwr)
    return df

def shares_div4(shares):
    '''Modify number of shares to be purchased to be divisible by 4.'''
    s = pd.Series(shares.values)
    for i in s.index:
        while s.iloc[i] % 4 != 0:
            s.iloc[i] += 1
    return shares

def state(entry_signal, exit_signal, period):
    '''Calculate trade state signals.'''
    df = pd.concat([entry_signal, exit_signal], axis=1)
    df.columns = ['entry', 'exit']
    df['state'] = 0
    for i in range(period, len(df)):
        if df.loc[df.index[i], 'entry'] == 1 \
        and df.loc[df.index[i - 1], 'state'] == 0:
            df.loc[df.index[i], 'state'] = 1
        elif df.loc[df.index[i], 'exit'] == 1:
            df.loc[df.index[i], 'state'] = 0
        else:
            df.loc[df.index[i], 'state'] = df.loc[df.index[i - 1], 'state']
    return df.state

def trade_summary(trade_list):
    '''Generate trade summary.'''
    frame = pd.DataFrame(columns=['trade', 'entry', 'volatility','cost', 'exit', 'days', 'profit', 'pct', 'annual'])
    if trade_list.entry.iloc[-1] == 1:
        trade_num = trade_list.index.max()
    else:
        trade_num = trade_list.index.max() + 1
        
    for i in list(range(1, trade_num)):
        df = trade_list.loc[i]
        trade = df.index[0]
        entry = df.date.iloc[0]
        volatility = df.volatility.iloc[0]
        cost = df.cost.iloc[0]
        exit = df.date.iloc[-1]
        days = df.days.iloc[-1]
        profit = df.profit.sum()
        pct = (profit / cost) * 100
        annual = ((1 + pct / 100) ** (365 / days) - 1) * 100
        frame.loc[i] = [trade, entry, volatility, cost, exit, days, profit, pct, annual]
    frame = frame.set_index('trade')
    return frame

pd.set_option("display.max_columns", None)

In [4]:
# Import weekly closing prices.
prices = gta_price.weekly(exchange, tidm)

In [5]:
# Donchian channels.
for i in range(len(p)):
    globals()[f'p{i + 1}'] = p[i]
    globals()[f'dc{i + 1}'] = donchian(prices, p[i])

In [6]:
# System 1 entries & exits.
s1 = pd.concat([prices, dc1], axis=1)
s1['sys'] = 1
s1['buy'] = np.where(s1.close > s1.upr, 1, 0)
s1['sell'] = np.where(s1.close < s1.mid, 1, 0)
s1['state'] = state(s1.buy, s1.sell, p1)
s1['entry'] = np.where(np.logical_and(s1.state == 1, s1.state.shift(periods=1) == 0), 1, 0)
s1['exit'] = np.where(np.logical_and(s1.state == 0, s1.state.shift(periods=1) == 1), 1, 0)

In [7]:
# System 2 entries & exits.
s2 = pd.concat([prices, dc2], axis=1)
s2['sys'] = 2
s2['buy'] = s1.entry
s2['sell'] = np.where(s2.close < s2.mid, 1, 0)
s2['state'] = state(s2.buy, s2.sell, p2)
s2['entry'] = np.where(np.logical_and(s2.state == 1, s2.state.shift(periods=1) == 0), 1, 0)
s2['exit'] = np.where(np.logical_and(s2.state == 0, s2.state.shift(periods=1) == 1), 1, 0)

In [8]:
# System 3 entries & exits.
s3 = pd.concat([prices, dc3], axis=1)
s3['sys'] = 3
s3['buy'] = s1.entry
s3['sell'] = np.where(s3.close < s3.mid, 1, 0)
s3['state'] = state(s3.buy, s3.sell, p3)
s3['entry'] = np.where(np.logical_and(s3.state == 1, s3.state.shift(periods=1) == 0), 1, 0)
s3['exit'] = np.where(np.logical_and(s3.state == 0, s3.state.shift(periods=1) == 1), 1, 0)

In [9]:
# System 4 entries & exits.
s4 = pd.concat([prices, dc4], axis=1)
s4['sys'] = 4
s4['buy'] = s1.entry
s4['sell'] = np.where(s4.close < s4.mid, 1, 0)
s4['state'] = state(s4.buy, s4.sell, p4)
s4['entry'] = np.where(np.logical_and(s4.state == 1, s4.state.shift(periods=1) == 0), 1, 0)
s4['exit'] = np.where(np.logical_and(s4.state == 0, s4.state.shift(periods=1) == 1), 1, 0)

In [10]:
# Trade list indexed by date.
td = pd.concat([s1[s1.entry == 1] , s1[s1.exit == 1], s2[s2.exit == 1], s3[s3.exit == 1], s4[s4.exit == 1]], axis=0)
td = td.sort_index()

In [11]:
# Position size (buy).
td['volatility'] = np.where(td.entry == 1, abs((td.mid - td.close) / td.close), 0)
td['risk_amt'] = np.where(td.entry == 1, ((position_size * risk_pct) / td.volatility), 0)
td['shares'] = np.where(td.entry == 1, (td.risk_amt / td.close).astype('int'), 0)
td.shares = shares_div4(td.shares) # Modify number of shares to be purchased to be divisible by 4.
td.risk_amt = np.where(td.entry == 1, (td.close * td.shares), 0) # Adjust risk amount for revised share count.

In [12]:
# Position size (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        shares = row['shares']
    elif row['exit'] == 1:
        td.at[index, 'shares'] = int(shares / 4)

In [13]:
# Charges.
td['charges'] = charges(td.index, commission)

In [14]:
# Stamp duty.
td['sduty'] = np.where(td.entry==1, ((sduty / 100) * td.close * td.shares), 0)

In [15]:
# Cost (buy).
td['cost'] = np.where(td.entry == 1, ((td.close * td.shares) + td.charges + td.sduty), 0)

In [16]:
# Cost (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        cost = row['cost']
    elif row['exit'] == 1:
        td.at[index, 'cost'] = (cost / 4)

In [17]:
# Value (sell).
td['value'] = np.where(td.exit == 1, ((td.close * td.shares) - td.charges), 0)

In [18]:
# Profit.
td['profit'] = np.where(td.exit == 1, td.value - td.cost, 0)

In [19]:
# Cumulative profit.
td['profit_cum'] = td.profit.cumsum()

In [20]:
# Percentage return.
td['pct'] = np.where(td.exit == 1, ((td.profit / td.cost) * 100), 0)

In [21]:
# Trade duration.
td['days'] = 0
for index, row in td.iterrows():
    if row['entry'] == 1:
        start_date = index
    elif row['exit'] == 1:
        td.at[index, 'days'] = index - start_date
td.days = td.days.astype('timedelta64[D]')
td.days = td.days.dt.days

In [22]:
# Annual percentage return.
td['annual'] = ((np.power(1 + td.profit / td.cost, (365 / td.days)) - 1) * 100)

In [23]:
# Trade list indexed by trade.
td['trade'] = td.state.cumsum()
td = td.reset_index()
td = td.set_index('trade')
td

,date,open,high,low,close,upr,lwr,mid,sys,buy,sell,state,entry,exit,volatility,risk_amt,shares,charges,sduty,cost,value,profit,profit_cum,pct,days,annual
trade,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2003-03-21,0.2450,0.2800,0.2425,0.2775,0.2650,0.1350,0.20000,1,1,0,1,1,0,0.279279,5371.290,19356,11.95,0.0,5383.2400,0.0000,0.0000,0.0000,0.000000,0,0.000000
1,2003-09-12,1.1200,1.1325,1.0300,1.0350,1.2200,1.0100,1.11500,4,0,1,0,0,1,0.000000,0.000,4839,11.95,0.0,1345.8100,4996.4150,3650.6050,3650.6050,271.257087,175,1442.335197
1,2003-11-21,1.0800,1.0900,0.9250,1.0000,1.2200,0.9225,1.07125,3,0,1,0,0,1,0.000000,0.000,4839,11.95,0.0,1345.8100,4827.0500,3481.2400,7131.8450,258.672472,245,570.481633
1,2004-04-30,1.2700,1.3100,1.1900,1.1900,1.4575,0.9250,1.19125,2,0,1,0,0,1,0.000000,0.000,4839,11.95,0.0,1345.8100,5746.4600,4400.6500,11532.4950,326.988951,406,268.768548
1,2004-05-21,0.9825,0.9825,0.8800,0.9450,1.4575,0.4900,0.97375,1,0,1,0,0,1,0.000000,0.000,4839,11.95,0.0,1345.8100,4560.9050,3215.0950,14747.5900,238.896650,427,183.858565
2,2005-07-22,1.1000,1.1400,1.1000,1.1375,1.1300,0.8350,0.98250,1,1,0,1,1,0,0.136264,11011.000,9680,11.95,0.0,11022.9500,0.0000,0.0000,14747.5900,0.000000,0,0.000000
2,2005-09-23,1.2500,1.2500,1.2100,1.2250,1.2800,1.1800,1.23000,4,0,1,0,0,1,0.000000,0.000,2420,11.95,0.0,2755.7375,2952.5500,196.8125,14944.4025,7.141918,63,49.133217
2,2005-10-07,1.1650,1.1825,1.1475,1.1500,1.2800,1.1000,1.19000,3,0,1,0,0,1,0.000000,0.000,2420,11.95,0.0,2755.7375,2771.0500,15.3125,14959.7150,0.555659,77,2.661478
2,2006-01-06,1.2250,1.2450,1.2000,1.2200,1.3600,1.1000,1.23000,2,0,1,0,0,1,0.000000,0.000,2420,11.95,0.0,2755.7375,2940.4500,184.7125,15144.4275,6.702834,168,15.137186
2,2006-01-13,1.2375,1.2375,0.7700,0.8475,1.3600,0.8800,1.12000,1,0,1,0,0,1,0.000000,0.000,2420,11.95,0.0,2755.7375,2039.0000,-716.7375,14427.6900,-26.008918,175,-46.648632
3,2009-04-03,0.1725,0.2050,0.1725,0.2000,0.1800,0.0750,0.12750,1,1,0,1,1,0,0.362500,4138.400,20692,11.95,0.0,4150.3500,0.0000,0.0000,14427.6900,0.000000,0,0.000000
3,2009-05-08,0.1825,0.1850,0.1500,0.1550,0.2300,0.1550,0.19250,4,0,1,0,0,1,0.000000,0.000,5173,11.95,0.0,1037.5875,789.8650,-247.7225,14179.9675,-23.874854,35,-94.185562
3,2009-05-08,0.1825,0.1850,0.1500,0.1550,0.2300,0.1000,0.16500,3,0,1,0,0,1,0.000000,0.000,5173,0.00,0.0,1037.5875,801.8150,-235.7725,13944.1950,-22.723144,35,-93.199895
3,2009-05-15,0.1550,0.1550,0.1375,0.1375,0.2300,0.0750,0.15250,2,0,1,0,0,1,0.000000,0.000,5173,11.95,0.0,1037.5875,699.3375,-338.2500,13605.9450,-32.599660,42,-96.756664
3,2009-05-15,0.1550,0.1550,0.1375,0.1375,0.2300,0.0750,0.15250,1,0,1,0,0,1,0.000000,0.000,5173,0.00,0.0,1037.5875,711.2875,-326.3000,13279.6450,-31.447950,42,-96.242149
4,2009-08-14,0.2250,0.2650,0.2250,0.2575,0.2325,0.0750,0.15375,1,1,0,1,1,0,0.402913,3723.450,14460,11.95,0.0,3735.4000,0.0000,0.0000,13279.6450,0.000000,0,0.000000
4,2009-11-06,0.3900,0.4100,0.3450,0.3450,0.4675,0.2250,0.34625,3,0,1,0,0,1,0.000000,0.000,3615,11.95,0.0,933.8500,1235.2250,301.3750,13581.0200,32.272314,84,237.140951
4,2009-11-06,0.3900,0.4100,0.3450,0.3450,0.4675,0.2600,0.36375,4,0,1,0,0,1,0.000000,0.000,3615,0.00,0.0,933.8500,1247.1750,313.3250,13894.3450,33.551962,84,251.544539
4,2010-01-29,0.3500,0.3550,0.3250,0.3400,0.4700,0.2250,0.34750,2,0,1,0,0,1,0.000000,0.000,3615,11.95,0.0,933.8500,1217.1500,283.3000,14177.6450,30.336778,168,77.826595
4,2010-06-11,0.3300,0.3500,0.3000,0.3000,0.4700,0.1700,0.32000,1,0,1,0,0,1,0.000000,0.000,3615,11.95,0.0,933.8500,1072.5500,138.7000,14316.3450,14.852492,301,18.284478
5,2010-08-20,0.4500,0.5600,0.4500,0.5300,0.4700,0.2400,0.35500,1,1,0,1,1,0,0.330189,4543.160,8572,11.95,0.0,4555.1100,0.0000,0.0000,14316.3450,0.000000,0,0.000000
5,2010-11-05,0.7050,0.7275,0.5800,0.6600,0.8100,0.6450,0.72750,4,0,1,0,0,1,0.000000,0.000,2143,11.95,0.0,1138.7775,1402.4300,263.6525,14579.9975,23.152240,77,168.361412
5,2010-11-12,0.6575,0.6575,0.5550,0.5950,0.8100,0.4500,0.63000,3,0,1,0,0,1,0.000000,0.000,2143,11.95,0.0,1138.7775,1263.1350,124.3575,14704.3550,10.920263,84,56.885584
5,2011-01-28,0.6300,0.6300,0.5600,0.5800,0.8100,0.4100,0.61000,2,0,1,0,0,1,0.000000,0.000,2143,11.95,0.0,1138.7775,1230.9900,92.2125,14796.5675,8.097499,161,19.306142
5,2011-02-25,0.5825,0.6000,0.5360,0.5500,0.8100,0.3000,0.55500,1,0,1,0,0,1,0.000000,0.000,2143,11.95,0.0,1138.7775,1166.7000,27.9225,14824.4900,2.451972,189,4.789320
6,2013-01-25,0.6700,0.6825,0.6550,0.6825,0.6800,0.3400,0.51000,1,1,0,1,1,0,0.252747,5935.020,8696,11.95,0.0,5946.9700,0.0000,0.0000,14824.4900,0.000000,0,0.000000
6,2013-03-29,0.8150,0.8250,0.7500,0.7500,0.8250,0.7100,0.76750,4,0,1,0,0,1,0.000000,0.000,2174,11.95,0.0,1486.7425,1618.5500,131.8075,14956.2975,8.865523,63,63.579880
6,2013-04-05,0.7600,0.7600,0.6675,0.6800,0.8250,0.6300,0.72750,3,0,1,0,0,1,0.000000,0.000,2174,11.95,0.0,1486.7425,1466.3700,-20.3725,14935.9250,-1.370278,70,-6.941722
6,2014-04-11,1.4200,1.4200,1.3425,1.3775,1.5250,1.2500,1.38750,2,0,1,0,0,1,0.000000,0.000,2174,11.95,0.0,1486.7425,2982.7350,1495.9925,16431.9175,100.622166,441,77.937819
6,2014-09-26,1.3275,1.3700,1.3100,1.3350,1.5250,1.2500,1.38750,1,0,1,0,0,1,0.000000,0.000,2174,11.95,0.0,1486.7425,2890.3400,1403.5975,17835.5150,94.407572,609,48.949234
7,2015-10-09,1.5775,1.6300,1.5400,1.6100,1.5925,1.2500,1.42125,1,1,0,1,1,0,0.117236,12796.280,7948,11.95,0.0,12808.2300,0.0000,0.0000,17835.5150,0.000000,0,0.000000
7,2015-11-20,1.5850,1.5900,1.4150,1.5600,1.6300,1.5125,1.57125,4,0,1,0,0,1,0.000000,0.000,1987,11.95,0.0,3202.0575,3087.7700,-114.2875,17721.2275,-3.569189,42,-27.083144
7,2015-12-25,1.5375,1.5500,1.4750,1.4825,1.6300,1.4150,1.52250,3,0,1,0,0,1,0.000000,0.000,1987,11.95,0.0,3202.0575,2933.7775,-268.2800,17452.9475,-8.378363,77,-33.951817
7,2016-01-22,1.5550,1.5625,1.4800,1.5350,1.6675,1.4150,1.54125,2,0,1,0,0,1,0.000000,0.000,1987,11.95,0.0,3202.0575,3038.0950,-163.9625,17288.9850,-5.120536,105,-16.699751
7,2016-02-12,1.5850,1.6100,1.4150,1.4800,1.6675,1.3175,1.49250,1,0,1,0,0,1,0.000000,0.000,1987,11.95,0.0,3202.0575,2928.8100,-273.2475,17015.7375,-8.533498,126,-22.770542
8,2016-02-26,1.5975,1.7600,1.5700,1.7275,1.6675,1.3175,1.49250,1,1,0,1,1,0,0.136035,11028.360,6384,11.95,0.0,11040.3100,0.0000,0.0000,17015.7375,0.000000,0,0.000000
8,2016-04-15,1.7350,1.7350,1.6700,1.6975,1.8550,1.6900,1.77250,4,0,1,0,0,1,0.000000,0.000,1596,11.95,0.0,2760.0775,2697.2600,-62.8175,16952.9200,-2.275932,49,-15.759364
8,2016-04-22,1.6600,1.7400,1.6125,1.6150,1.8550,1.4150,1.63500,2,0,1,0,0,1,0.000000,0.000,1596,11.95,0.0,2760.0775,2565.5900,-194.4875,16758.4325,-7.046451,56,-37.889908
8,2016-04-22,1.6600,1.7400,1.6125,1.6150,1.8550,1.4150,1.63500,3,0,1,0,0,1,0.000000,0.000,1596,0.00,0.0,2760.0775,2577.5400,-182.5375,16575.8950,-6.613492,56,-35.979915
8,2016-05-06,1.6500,1.6950,1.5500,1.5750,1.8550,1.3175,1.58625,1,0,1,0,0,1,0.000000,0.000,1596,11.95,0.0,2760.0775,2501.7500,-258.3275,16317.5675,-9.359429,70,-40.094319
9,2017-06-16,1.6575,1.7775,1.6500,1.7775,1.7750,1.3600,1.56750,1,1,0,1,1,0,0.118143,12698.460,7144,11.95,0.0,12710.4100,0.0000,0.0000,16317.5675,0.000000,0,0.000000
9,2017-06-23,1.7400,1.7600,1.6750,1.7000,1.7775,1.6375,1.70750,4,0,1,0,0,1,0.000000,0.000,1786,11.95,0.0,3177.6025,3024.2500,-153.3525,16164.2150,-4.826044,7,-92.416434
9,2017-06-30,1.6900,1.7500,1.5900,1.6550,1.7775,1.5575,1.66750,3,0,1,0,0,1,0.000000,0.000,1786,11.95,0.0,3177.6025,2943.8800,-233.7225,15930.4925,-7.355310,14,-86.355302
9,2017-07-14,1.6200,1.6350,1.5600,1.5700,1.7775,1.3750,1.57625,2,0,1,0,0,1,0.000000,0.000,1786,11.95,0.0,3177.6025,2792.0700,-385.5325,15544.9600,-12.132811,28,-81.475719
9,2018-02-09,1.7720,1.8140,1.6700,1.7140,1.9400,1.5500,1.74500,1,0,1,0,0,1,0.000000,0.000,1786,11.95,0.0,3177.6025,3049.2540,-128.3485,15416.6115,-4.039162,238,-6.127330
10,2021-03-19,0.5180,0.6800,0.5180,0.6110,0.6000,0.3905,0.49525,1,1,0,1,1,0,0.189444,7918.560,12960,11.95,0.0,7930.5100,0.0000,0.0000,15416.6115,0.000000,0,0.000000
10,2021-03-26,0.6160,0.6160,0.5400,0.5620,0.6800,0.4505,0.56525,4,0,1,0,0,1,0.000000,0.000,3240,11.95,0.0,1982.6275,1808.9300,-173.6975,15242.9140,-8.760975,7,-99.161111
10,2021-08-13,0.7870,0.7870,0.7060,0.7240,0.7950,0.6540,0.72450,3,0,1,0,0,1,0.000000,0.000,3240,11.95,0.0,1982.6275,2333.8100,351.1825,15594.0965,17.712984,147,49.918915
10,2021-09-24,0.7070,0.7070,0.6250,0.6415,0.7950,0.6000,0.69750,2,0,1,0,0,1,0.000000,0.000,3240,11.95,0.0,1982.6275,2066.5100,83.8825,15677.9790,4.230875,189,8.331542
10,2021-10-01,0.6540,0.6540,0.5900,0.6020,0.7950,0.4165,0.60575,1,0,1,0,0,1,0.000000,0.000,3240,11.95,0.0,1982.6275,1938.5300,-44.0975,15633.8815,-2.224195,196,-4.102237
11,2022-06-10,0.6980,0.8480,0.6980,0.8180,0.7950,0.5600,0.67750,1,1,0,1,1,0,0.171760,8732.968,10676,11.95,0.0,8744.9180,0.0000,0.0000,15633.8815,0.000000,0,0.000000

In [24]:
# Trade summary.
tds = trade_summary(td)
tds.round({'volatility': 3, 'pct': 1, 'annual': 1})

,entry,volatility,cost,exit,days,profit,pct,annual
trade,,,,,,,,
1,2003-03-21,0.279,5383.24,2004-05-21,427,14747.5900,274.0,208.8
2,2005-07-22,0.136,11022.95,2006-01-13,175,-319.9000,-2.9,-6.0
3,2009-04-03,0.363,4150.35,2009-05-15,42,-1148.0450,-27.7,-94.0
4,2009-08-14,0.403,3735.40,2010-06-11,301,1036.7000,27.8,34.6
5,2010-08-20,0.330,4555.11,2011-02-25,189,508.1450,11.2,22.7
6,2013-01-25,0.253,5946.97,2014-09-26,609,3011.0250,50.6,27.8
7,2015-10-09,0.117,12808.23,2016-02-12,126,-819.7775,-6.4,-17.4
8,2016-02-26,0.136,11040.31,2016-05-06,70,-698.1700,-6.3,-28.9
9,2017-06-16,0.118,12710.41,2018-02-09,238,-900.9560,-7.1,-10.7
10,2021-03-19,0.189,7930.51,2021-10-01,196,217.2700,2.7,5.2

In [25]:
cost_total = tds.cost.sum()
cost_total

79283.48

In [26]:
profit_total = tds.profit.sum()
profit_total

15633.881499999996

In [27]:
pct_total = (profit_total / cost_total) * 100
pct_total

19.71896478307965

In [28]:
days_total = (tds.exit.iloc[-1] - tds.entry.iloc[0])
days_total = days_total.days
days_total

6769

In [29]:
annual_total = ((1 + pct_total / 100) ** (365 / days_total) - 1) * 100
annual_total

0.9752008335343509