In [1]:
import numpy as np
import pandas as pd

In [2]:
def donchian(prices, period):
    '''Calculate upper, lower, & middle Donchian lines.'''
    df = pd.DataFrame(prices.copy())
    df['upr'] = df.high.rolling(period).max().shift(periods=1)
    df['lwr'] = df.low.rolling(period).min().shift(periods=1)
    df['mid'] = 0.5 * (df.upr + df.lwr)
    return df


def weekly(exchange, tidm):
    '''Generate weekly prices from SharePad csv file of daily prices.'''
    df = pd.read_csv(
        f'{exchange}_{tidm}_prices.csv',
        header=0,
        names=['date', 'open', 'high', 'low', 'close'],
        index_col=0,
        usecols=[0, 1, 2, 3, 4],
        parse_dates=True,
        dayfirst=True,
    )
    df = df.sort_index()
    functions = dict(open='first', high='max', low='min', close='last')
    df = df.resample('W-FRI').agg(functions)
    df = df / 100
    return df

In [3]:
# Trade parameters.
exchange = 'LSE'
tidm = 'HSV'
periods = [48, 24, 12, 6]  # System look back periods.
position_size = 7500  # Position size in major currency unit.
risk_pct = 0.2  # Percentage risk per trade.
commission = 11.95  # Commission per trade.
sduty = 0.5  # Stamp Duty percentage.

In [4]:
# Import weekly prices.
prices = weekly(exchange, tidm)

In [5]:
# Donchian channels.
dc = []
for period in periods:
    dc.append(donchian(prices, period))

In [6]:
# Trade signals.
for sys, df in enumerate(dc):
    df['buy'] = np.where(df.close > df.upr, 1, 0)
    df['sell'] = np.where(df.close < df.mid, 1, 0)
    df['state'] = 0
    for i in range(period, len(df)):
        if df.loc[df.index[i], 'buy'] == 1 and df.loc[df.index[i - 1], 'state'] == 0:
            df.loc[df.index[i], 'state'] = 1
        elif df.loc[df.index[i], 'sell'] == 1:
            df.loc[df.index[i], 'state'] = 0
        else:
            df.loc[df.index[i], 'state'] = df.loc[df.index[i - 1], 'state']
    df['entry'] = np.where(np.logical_and(df.state == 1, df.state.shift(periods=1) == 0), 1, 0)
    df['exit'] = np.where(np.logical_and(df.state == 0, df.state.shift(periods=1) == 1), 1, 0)
dc[0].loc['2001-09':'2002-09']

,open,high,low,close,upr,lwr,mid,buy,sell,state,entry,exit
date,,,,,,,,,,,,
2001-09-07,1.11140,1.11460,1.10600,1.10820,1.2062,0.77538,0.990790,0,0,0,0,0
2001-09-14,1.10820,1.10820,1.08230,1.08770,1.2062,0.77538,0.990790,0,0,0,0,0
2001-09-21,1.08770,1.08770,0.93692,0.94769,1.2062,0.79692,1.001560,0,1,0,0,0
2001-09-28,0.94231,0.99077,0.93692,0.99077,1.2062,0.80231,1.004255,0,1,0,0,0
2001-10-05,0.99077,1.04460,0.99077,1.04460,1.2062,0.80231,1.004255,0,0,0,0,0
2001-10-12,1.04460,1.10710,1.04460,1.10710,1.2062,0.80231,1.004255,0,0,0,0,0
2001-10-19,1.10710,1.12000,1.10380,1.12000,1.2062,0.83462,1.020410,0,0,0,0,0
2001-10-26,1.12000,1.19540,1.12000,1.19000,1.2062,0.86692,1.036560,0,0,0,0,0
2001-11-02,1.19000,1.20620,1.18460,1.19000,1.2062,0.86692,1.036560,0,0,0,0,0
2001-11-09,1.19000,1.19540,1.18460,1.19000,1.2062,0.86692,1.036560,0,0,0,0,0
2001-11-16,1.19000,1.19540,1.19000,1.19000,1.2062,0.86692,1.036560,0,0,0,0,0
2001-11-23,1.19000,1.19540,1.18460,1.19000,1.2062,0.86692,1.036560,0,0,0,0,0
2001-11-30,1.19000,1.19540,1.19000,1.19540,1.2062,0.86692,1.036560,0,0,0,0,0
2001-12-07,1.19540,1.22770,1.19540,1.22770,1.2062,0.87769,1.041945,1,0,1,1,0
2001-12-14,1.22770,1.29230,1.22770,1.28690,1.2277,0.89923,1.063465,1,0,1,0,0
2001-12-21,1.28690,1.29230,1.28150,1.28150,1.2923,0.93692,1.114610,0,0,1,0,0
2001-12-28,1.28690,1.29230,1.28690,1.29230,1.2923,0.93692,1.114610,0,0,1,0,0
2002-01-04,1.29770,1.30310,1.27400,1.27400,1.2923,0.93692,1.114610,0,0,1,0,0
2002-01-11,1.27400,1.27720,1.27080,1.27400,1.3031,0.93692,1.120010,0,0,1,0,0
2002-01-18,1.27400,1.32460,1.27080,1.31920,1.3031,0.93692,1.120010,1,0,1,0,0
2002-01-25,1.31920,1.35910,1.31920,1.34620,1.3246,0.93692,1.130760,1,0,1,0,0
2002-02-01,1.34620,1.34620,1.30310,1.30850,1.3591,0.93692,1.148010,0,0,1,0,0
2002-02-08,1.30850,1.30850,1.29660,1.30850,1.3591,0.93692,1.148010,0,0,1,0,0
2002-02-15,1.30850,1.31380,1.29660,1.30850,1.3591,0.93692,1.148010,0,0,1,0,0
2002-02-22,1.30850,1.30850,1.25680,1.25680,1.3591,0.93692,1.148010,0,0,1,0,0
2002-03-01,1.25680,1.28150,1.25350,1.28150,1.3591,0.93692,1.148010,0,0,1,0,0
2002-03-08,1.28150,1.28150,1.28150,1.28150,1.3591,0.93692,1.148010,0,0,1,0,0
2002-03-15,1.28150,1.28150,1.27080,1.27620,1.3591,0.93692,1.148010,0,0,1,0,0
2002-03-22,1.27620,1.28150,1.22230,1.22230,1.3591,0.93692,1.148010,0,0,1,0,0
2002-03-29,1.22230,1.25140,1.21690,1.23850,1.3591,0.93692,1.148010,0,0,1,0,0
2002-04-05,1.23850,1.24920,1.20940,1.21480,1.3591,0.93692,1.148010,0,0,1,0,0
2002-04-12,1.21480,1.22020,1.20940,1.20940,1.3591,0.93692,1.148010,0,0,1,0,0
2002-04-19,1.20940,1.21150,1.20180,1.21150,1.3591,0.93692,1.148010,0,0,1,0,0
2002-04-26,1.21150,1.25460,1.21150,1.25460,1.3591,0.93692,1.148010,0,0,1,0,0
2002-05-03,1.25460,1.27620,1.25460,1.26750,1.3591,0.93692,1.148010,0,0,1,0,0
2002-05-10,1.26750,1.27620,1.26540,1.26860,1.3591,0.93692,1.148010,0,0,1,0,0
2002-05-17,1.26860,1.30310,1.26860,1.29020,1.3591,0.93692,1.148010,0,0,1,0,0
2002-05-24,1.29020,1.30310,1.26860,1.26860,1.3591,0.93692,1.148010,0,0,1,0,0
2002-05-31,1.26860,1.29230,1.26860,1.28690,1.3591,0.93692,1.148010,0,0,1,0,0
2002-06-07,1.26540,1.27080,1.26000,1.26540,1.3591,0.93692,1.148010,0,0,1,0,0
2002-06-14,1.26540,1.32460,1.26540,1.31710,1.3591,0.93692,1.148010,0,0,1,0,0
2002-06-21,1.31710,1.32460,1.30310,1.30850,1.3591,0.93692,1.148010,0,0,1,0,0
2002-06-28,1.30850,1.30850,1.29230,1.29230,1.3591,0.93692,1.148010,0,0,1,0,0
2002-07-05,1.29230,1.29230,1.26860,1.26860,1.3591,0.93692,1.148010,0,0,1,0,0
2002-07-12,1.26540,1.26860,1.21690,1.22230,1.3591,0.93692,1.148010,0,0,1,0,0
2002-07-19,1.22230,1.23310,1.15770,1.17920,1.3591,0.93692,1.148010,0,0,1,0,0
2002-07-26,1.17920,1.19110,1.17820,1.18140,1.3591,0.93692,1.148010,0,0,1,0,0
2002-08-02,1.18460,1.20080,1.17820,1.19320,1.3591,0.93692,1.148010,0,0,1,0,0
2002-08-09,1.19540,1.19540,1.16310,1.16630,1.3591,0.93692,1.148010,0,0,1,0,0
2002-08-16,1.16630,1.17920,1.16310,1.17920,1.3591,0.93692,1.148010,0,0,1,0,0
2002-08-23,1.17920,1.19000,1.17380,1.17920,1.3591,0.93692,1.148010,0,0,1,0,0
2002-08-30,1.17920,1.18460,1.17380,1.17920,1.3591,0.93692,1.148010,0,0,1,0,0
2002-09-06,1.17920,1.18460,1.14150,1.14690,1.3591,0.99077,1.174935,0,1,0,0,1
2002-09-13,1.14690,1.14690,1.14150,1.14150,1.3591,1.04460,1.201850,0,1,0,0,0
2002-09-20,1.14150,1.14150,1.12000,1.12000,1.3591,1.10380,1.231450,0,1,0,0,0
2002-09-27,1.11460,1.11460,0.92615,0.93154,1.3591,1.12000,1.239550,0,1,0,0,0