In [1]:
import gta_prices
import numpy as np
import pandas as pd

In [2]:
def state(entry_signal, exit_signal, period):
    '''Calculate trade state signals.'''
    df = pd.concat([entry_signal, exit_signal], axis=1)
    df.columns = ['entry', 'exit']
    df['state'] = 0
    for i in range(period, len(df)):
        if df.loc[df.index[i], 'entry'] == 1 \
                and df.loc[df.index[i - 1], 'state'] == 0:
            df.loc[df.index[i], 'state'] = 1
        elif df.loc[df.index[i], 'exit'] == 1:
            df.loc[df.index[i], 'state'] = 0
        else:
            df.loc[df.index[i], 'state'] = df.loc[df.index[i - 1], 'state']
    return df.state

In [3]:
# Trade parameters.
exchange = 'LSE'
tidm = 'EMG'
periods = {'p1': 48, 'p2': 24, 'p3': 12, 'p4': 6}
position_size = 7500
risk_pct = 0.2
commission = 11.95
sduty = 0.5

In [4]:
# Import weekly closing prices.
prices = gta_prices.weekly(exchange, tidm)

In [5]:
# Donchian lines, entries & exits for each look back period.
entry = None
for i, period in enumerate(periods.values()):
    i += 1
    globals()[f'p{i}'] = period
    df = pd.DataFrame(prices.copy())
    df['upr'] = prices.high.rolling(period).max().shift(periods=1)
    df['lwr'] = prices.low.rolling(period).min().shift(periods=1)
    df['mid'] = 0.5 * (df.upr + df.lwr)
    df['sys'] = i
    df['period'] = period
    if i == 1:
        df['buy'] = np.where(df.close > df.upr, 1, 0)
    else:
        df['buy'] = entry
    df['sell'] = np.where(df.close < df.mid, 1, 0)
    df['state'] = state(df.buy, df.sell, period)
    df['entry'] = np.where(np.logical_and(df.state == 1, df.state.shift(periods=1) == 0), 1, 0)
    if i == 1:
        entry = df.entry
    df['exit'] = np.where(np.logical_and(df.state == 0, df.state.shift(periods=1) == 1), 1, 0)
    globals()[f'dc{i}'] = df

In [6]:
# Trade list indexed by date.
td = pd.concat([dc1[dc1.entry == 1], dc1[dc1.exit == 1], dc2[dc2.exit == 1], dc3[dc3.exit == 1],
                dc4[dc4.exit == 1]], axis=0)
td = td.sort_index()

In [7]:
# Initial volatility adjusted position size on entry.
td['volatility'] = np.where(td.entry == 1, abs((td.mid - td.close) / td.close), 0)
td['risk_amt'] = np.where(td.entry == 1, ((position_size * risk_pct) / td.volatility), 0)
td['shares'] = np.where(td.entry == 1, (td.risk_amt / td.close).astype('int'), 0)

In [8]:
# Modify number of shares to be purchased to be divisible by 4.
s = pd.Series(td.shares.copy())
for i, share in enumerate(s):
    while s.iloc[i] % 4 != 0:
        s.iloc[i] += 1
td.shares = s

In [9]:
# Adjust risk amount on entry for revised share count.
td.risk_amt = np.where(td.entry == 1, (td.close * td.shares), 0)

In [10]:
# Position size (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        shares = row['shares']
    elif row['exit'] == 1:
        td.at[index, 'shares'] = int(shares / 4)

In [11]:
td

,open,high,low,close,upr,lwr,mid,sys,period,buy,sell,state,entry,exit,volatility,risk_amt,shares
date,,,,,,,,,,,,,,,,,
2001-05-18,1.6857,1.7695,1.6781,1.7676,1.7381,0.90857,1.323335,1,48,1,0,1,1,0,0.251338,5967.4176,3376
2001-07-13,1.8667,1.8743,1.7086,1.7219,1.9143,1.56000,1.737150,3,12,0,1,0,0,1,0.000000,0.0000,844
2001-07-13,1.8667,1.8743,1.7086,1.7219,1.9143,1.68760,1.800950,4,6,0,1,0,0,1,0.000000,0.0000,844
2001-07-20,1.7248,1.7248,1.5524,1.6000,1.9143,1.35900,1.636650,2,24,0,1,0,0,1,0.000000,0.0000,844
2002-02-22,2.2476,2.2476,1.8286,1.9048,2.6571,1.37520,2.016150,1,48,0,1,0,0,1,0.000000,0.0000,844
2003-05-16,2.0438,2.2400,2.0286,2.2286,2.1600,1.52860,1.844300,1,48,1,0,1,1,0,0.172440,8700.4544,3904
2003-07-25,2.4171,2.4286,2.3638,2.3771,2.5143,2.27050,2.392400,4,6,0,1,0,0,1,0.000000,0.0000,976
2003-08-22,2.3276,2.4057,2.2838,2.3410,2.5143,2.21520,2.364750,3,12,0,1,0,0,1,0.000000,0.0000,976
2004-05-14,3.1371,3.1695,3.0190,3.0971,3.5429,2.68190,3.112400,2,24,0,1,0,0,1,0.000000,0.0000,976
2004-06-25,2.9524,2.9733,2.7924,2.8590,3.5429,2.21520,2.879050,1,48,0,1,0,0,1,0.000000,0.0000,976
2005-07-08,2.7886,2.9638,2.7829,2.9524,2.8819,2.19050,2.536200,1,48,1,0,1,1,0,0.140970,10640.4496,3604
2005-09-16,3.2686,3.2686,3.1048,3.1333,3.2686,3.04380,3.156200,4,6,0,1,0,0,1,0.000000,0.0000,901
2005-10-14,3.1238,3.1276,2.8743,2.9352,3.2686,2.88000,3.074300,3,12,0,1,0,0,1,0.000000,0.0000,901
2006-07-21,4.5829,4.6419,4.3524,4.4476,5.2629,3.86670,4.564800,2,24,0,1,0,0,1,0.000000,0.0000,901
2007-08-10,6.1086,6.4857,5.3886,5.4771,7.3086,4.71140,6.010000,1,48,0,1,0,0,1,0.000000,0.0000,901
2009-10-16,3.4330,3.6790,3.4050,3.4970,3.4380,1.50400,2.471000,1,48,1,0,1,1,0,0.293394,5119.6080,1464
2009-10-30,3.5000,3.5450,2.9850,3.1000,3.7000,2.85700,3.278500,4,6,0,1,0,0,1,0.000000,0.0000,366
2009-12-11,3.2690,3.2800,3.0320,3.0980,3.7360,2.85700,3.296500,3,12,0,1,0,0,1,0.000000,0.0000,366
2009-12-18,3.1290,3.1870,2.9590,2.9590,3.7360,2.35750,3.046750,2,24,0,1,0,0,1,0.000000,0.0000,366
2010-01-29,2.7020,2.7100,2.3330,2.3700,3.7360,1.50400,2.620000,1,48,0,1,0,0,1,0.000000,0.0000,366
2011-01-07,3.0700,3.1090,2.9440,3.1020,3.0570,1.99600,2.526500,1,48,1,0,1,1,0,0.185525,8090.0160,2608
2011-01-21,3.0700,3.1130,2.8130,2.8200,3.1090,2.73700,2.923000,4,6,0,1,0,0,1,0.000000,0.0000,652
2011-03-04,2.8700,2.9160,2.7690,2.7800,3.1550,2.73700,2.946000,3,12,0,1,0,0,1,0.000000,0.0000,652
2011-03-18,2.6460,2.6660,2.4280,2.4510,3.1550,1.99600,2.575500,1,48,0,1,0,0,1,0.000000,0.0000,652
2011-03-18,2.6460,2.6660,2.4280,2.4510,3.1550,2.10900,2.632000,2,24,0,1,0,0,1,0.000000,0.0000,652
2013-05-03,1.0470,1.2180,1.0190,1.2000,1.1530,0.61100,0.882000,1,48,1,0,1,1,0,0.265000,5659.2000,4716
2013-05-31,1.2440,1.2620,1.1500,1.1550,1.3600,0.99450,1.177250,4,6,0,1,0,0,1,0.000000,0.0000,1179
2013-06-07,1.1500,1.1900,0.9210,0.9490,1.3600,0.80320,1.081600,2,24,0,1,0,0,1,0.000000,0.0000,1179
2013-06-07,1.1500,1.1900,0.9210,0.9490,1.3600,0.61100,0.985500,1,48,0,1,0,0,1,0.000000,0.0000,1179
2013-06-07,1.1500,1.1900,0.9210,0.9490,1.3600,0.86150,1.110750,3,12,0,1,0,0,1,0.000000,0.0000,1179
2014-07-04,1.0200,1.1790,1.0190,1.1290,1.0880,0.76350,0.925750,1,48,1,0,1,1,0,0.180027,8332.0200,7380
2014-08-08,1.1700,1.2120,1.0900,1.0980,1.2660,0.99850,1.132250,4,6,0,1,0,0,1,0.000000,0.0000,1845
2014-10-03,1.1970,1.2090,1.1330,1.1530,1.2660,1.09000,1.178000,3,12,0,1,0,0,1,0.000000,0.0000,1845
2015-05-15,1.7750,1.8540,1.6770,1.7570,2.1780,1.36800,1.773000,2,24,0,1,0,0,1,0.000000,0.0000,1845
2015-06-19,1.6390,1.6660,1.5860,1.6220,2.1780,1.08300,1.630500,1,48,0,1,0,0,1,0.000000,0.0000,1845
2017-04-28,1.5210,1.5620,1.5160,1.5370,1.5260,1.02500,1.275500,1,48,1,0,1,1,0,0.170137,8816.2320,5736
2017-06-09,1.5920,1.5930,1.5210,1.5560,1.6410,1.51600,1.578500,4,6,0,1,0,0,1,0.000000,0.0000,1434
2017-06-16,1.5500,1.5870,1.5080,1.5100,1.6410,1.41000,1.525500,3,12,0,1,0,0,1,0.000000,0.0000,1434
2018-02-09,2.1210,2.1210,1.8255,1.8425,2.1920,1.62000,1.906000,2,24,0,1,0,0,1,0.000000,0.0000,1434
2018-02-23,1.8455,1.8850,1.7915,1.7915,2.1920,1.41000,1.801000,1,48,0,1,0,0,1,0.000000,0.0000,1434
2021-04-09,1.6280,1.6925,1.6190,1.6550,1.6500,1.05900,1.354500,1,48,1,0,1,1,0,0.181571,8261.7600,4992
2021-09-24,2.0860,2.1240,2.0510,2.0780,2.2020,2.06700,2.134500,4,6,0,1,0,0,1,0.000000,0.0000,1248
2021-10-08,2.0200,2.0440,1.9650,2.0170,2.2020,1.83900,2.020500,3,12,0,1,0,0,1,0.000000,0.0000,1248
2022-01-14,2.2080,2.2200,2.1150,2.1260,2.4250,1.85750,2.141250,2,24,0,1,0,0,1,0.000000,0.0000,1248
2022-01-28,2.0500,2.0850,1.8635,1.8810,2.4250,1.40900,1.917000,1,48,0,1,0,0,1,0.000000,0.0000,1248
2022-05-27,2.3760,2.6130,2.3750,2.5780,2.4590,1.77300,2.116000,1,48,1,0,1,1,0,0.179209,8373.3440,3248

In [12]:
# Adjust calcs to handle any number of systems, ie. not tailored to 4.