In [1]:
import gta_prices
import numpy as np
import pandas as pd

In [2]:
def state(entry_signal, exit_signal, period):
    '''Calculate trade state signals.'''
    df = pd.concat([entry_signal, exit_signal], axis=1)
    df.columns = ['entry', 'exit']
    df['state'] = 0
    for i in range(period, len(df)):
        if df.loc[df.index[i], 'entry'] == 1 \
                and df.loc[df.index[i - 1], 'state'] == 0:
            df.loc[df.index[i], 'state'] = 1
        elif df.loc[df.index[i], 'exit'] == 1:
            df.loc[df.index[i], 'state'] = 0
        else:
            df.loc[df.index[i], 'state'] = df.loc[df.index[i - 1], 'state']
    return df.state

In [3]:
# Trade parameters.
exchange = 'LSE'
tidm = 'HSV'
periods = {'p1': 48, 'p2': 24, 'p3': 12, 'p4': 6}
position_size = 7500
risk_pct = 0.2
commission = 11.95
sduty = 0.5

In [4]:
# Import weekly closing prices.
prices = gta_prices.weekly(exchange, tidm)

In [5]:
# Donchian lines, entries & exits for each look back period.
entry = None
for i, period in enumerate(periods.values()):
    i += 1
    globals()[f'p{i}'] = period
    df = pd.DataFrame(prices.copy())
    df['upr'] = prices.high.rolling(period).max().shift(periods=1)
    df['lwr'] = prices.low.rolling(period).min().shift(periods=1)
    df['mid'] = 0.5 * (df.upr + df.lwr)
    df['sys'] = i
    df['period'] = period
    if i == 1:
        df['buy'] = np.where(df.close > df.upr, 1, 0)
    else:
        df['buy'] = entry
    df['sell'] = np.where(df.close < df.mid, 1, 0)
    df['state'] = state(df.buy, df.sell, period)
    df['entry'] = np.where(np.logical_and(df.state == 1, df.state.shift(periods=1) == 0), 1, 0)
    if i == 1:
        entry = df.entry
    df['exit'] = np.where(np.logical_and(df.state == 0, df.state.shift(periods=1) == 1), 1, 0)
    globals()[f'dc{i}'] = df

In [6]:
# Trade list indexed by date.
td = pd.concat([dc1[dc1.entry == 1], dc1[dc1.exit == 1], dc2[dc2.exit == 1], dc3[dc3.exit == 1],
                dc4[dc4.exit == 1]], axis=0)
td = td.sort_index()

In [7]:
# Initial volatility adjusted position size on entry.
td['volatility'] = np.where(td.entry == 1, abs((td.mid - td.close) / td.close), 0)
td['risk_amt'] = np.where(td.entry == 1, ((position_size * risk_pct) / td.volatility), 0)
td['shares'] = np.where(td.entry == 1, (td.risk_amt / td.close).astype('int'), 0)

In [8]:
# Modify number of shares to be purchased to be divisible by 4.
s = pd.Series(td.shares.copy())
for i, share in enumerate(s):
    while s.iloc[i] % 4 != 0:
        s.iloc[i] += 1
td.shares = s

In [9]:
# Adjust risk amount on entry for revised share count.
td.risk_amt = np.where(td.entry == 1, (td.close * td.shares), 0)

In [10]:
# Position size (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        shares = row['shares']
    elif row['exit'] == 1:
        td.at[index, 'shares'] = int(shares / 4)

In [11]:
td

,open,high,low,close,upr,lwr,mid,sys,period,buy,sell,state,entry,exit,volatility,risk_amt,shares
date,,,,,,,,,,,,,,,,,
2001-12-07,1.1954,1.2277,1.1954,1.2277,1.2062,0.87769,1.041945,1,48,1,0,1,1,0,0.151303,9914.9052,8076
2002-02-01,1.3462,1.3462,1.3031,1.3085,1.3591,1.27080,1.314950,4,6,0,1,0,0,1,0.000000,0.0000,2019
2002-02-22,1.3085,1.3085,1.2568,1.2568,1.3591,1.19000,1.274550,3,12,0,1,0,0,1,0.000000,0.0000,2019
2002-04-05,1.2385,1.2492,1.2094,1.2148,1.3591,1.10380,1.231450,2,24,0,1,0,0,1,0.000000,0.0000,2019
2002-09-06,1.1792,1.1846,1.1415,1.1469,1.3591,0.99077,1.174935,1,48,0,1,0,0,1,0.000000,0.0000,2019
2003-09-05,1.1254,1.1738,1.1200,1.1706,1.1415,0.78615,0.963825,1,48,1,0,1,1,0,0.176640,8493.8736,7256
2003-10-03,1.1577,1.1631,1.1523,1.1577,1.1954,1.12000,1.157700,4,6,0,1,0,0,1,0.000000,0.0000,1814
2003-10-10,1.1545,1.1545,1.0985,1.1092,1.1954,1.05320,1.124300,3,12,0,1,0,0,1,0.000000,0.0000,1814
2004-02-06,1.1825,1.1825,1.1458,1.1458,1.2385,1.09310,1.165800,2,24,0,1,0,0,1,0.000000,0.0000,1814
2007-07-27,3.8769,3.9415,3.5668,3.5969,4.3917,3.41600,3.903850,1,48,0,1,0,0,1,0.000000,0.0000,1814
2009-09-11,3.1898,3.4397,3.1683,3.3514,3.2997,1.77910,2.539400,1,48,1,0,1,1,0,0.242287,6193.3872,1848
2009-11-06,3.5086,3.5194,3.3212,3.4462,3.7735,3.19200,3.482750,4,6,0,1,0,0,1,0.000000,0.0000,462
2009-11-20,3.4246,3.4785,3.2782,3.2954,3.7735,2.96800,3.370750,3,12,0,1,0,0,1,0.000000,0.0000,462
2009-11-20,3.4246,3.4785,3.2782,3.2954,3.7735,2.87750,3.325500,2,24,0,1,0,0,1,0.000000,0.0000,462
2010-11-12,4.6986,4.7148,4.3745,4.3938,5.4062,3.41600,4.411100,1,48,0,1,0,0,1,0.000000,0.0000,462
2011-05-06,5.2898,5.4492,5.2834,5.4277,5.4062,4.21080,4.808500,1,48,1,0,1,1,0,0.114081,13156.7448,2424
2011-06-24,5.6754,5.6808,5.5146,5.5300,5.7615,5.31680,5.539150,4,6,0,1,0,0,1,0.000000,0.0000,606
2011-07-22,5.3308,5.3609,5.1822,5.3308,5.7615,5.05080,5.406150,3,12,0,1,0,0,1,0.000000,0.0000,606
2011-07-29,5.3049,5.3981,5.1100,5.1972,5.7615,4.65340,5.207450,2,24,0,1,0,0,1,0.000000,0.0000,606
2011-08-05,5.2231,5.3168,4.6814,4.8623,5.7615,4.36580,5.063650,1,48,0,1,0,0,1,0.000000,0.0000,606
2013-05-24,2.3843,2.8571,2.3843,2.7462,2.7085,1.56260,2.135550,1,48,1,0,1,1,0,0.222362,6744.6672,2456
2013-07-26,3.1468,3.1909,2.7375,2.8646,3.2060,2.83020,3.018100,4,6,0,1,0,0,1,0.000000,0.0000,614
2013-08-09,2.9088,2.9422,2.6998,2.7322,3.2060,2.27660,2.741300,3,12,0,1,0,0,1,0.000000,0.0000,614
2013-10-18,2.7203,2.7515,2.4231,2.5308,3.2060,1.99120,2.598600,1,48,0,1,0,0,1,0.000000,0.0000,614
2013-10-18,2.7203,2.7515,2.4231,2.5308,3.2060,2.18620,2.696100,2,24,0,1,0,0,1,0.000000,0.0000,614
2014-01-31,3.0563,3.5646,3.0369,3.5280,3.3385,1.99120,2.664850,1,48,1,0,1,1,0,0.244657,6138.7200,1740
2014-03-14,3.4828,3.5355,3.2986,3.3148,3.7929,3.03690,3.414900,4,6,0,1,0,0,1,0.000000,0.0000,435
2014-05-16,3.7100,3.7929,3.4580,3.4892,3.7929,3.24580,3.519350,3,12,0,1,0,0,1,0.000000,0.0000,435
2014-07-04,3.3600,3.4968,3.3331,3.3600,3.7929,2.97660,3.384750,2,24,0,1,0,0,1,0.000000,0.0000,435
2015-10-02,4.1800,4.2060,4.0470,4.0760,4.7977,3.44400,4.120850,1,48,0,1,0,0,1,0.000000,0.0000,435
2016-05-27,4.1760,4.9320,4.1760,4.8800,4.7977,3.56100,4.179350,1,48,1,0,1,1,0,0.143576,10443.2000,2140
2016-09-23,5.7550,5.8800,5.5950,5.6100,5.9100,5.50000,5.705000,4,6,0,1,0,0,1,0.000000,0.0000,535
2017-01-20,6.0450,6.1950,5.9000,6.0250,6.3350,5.78000,6.057500,3,12,0,1,0,0,1,0.000000,0.0000,535
2017-02-24,5.9200,5.9900,5.7150,5.8600,6.3350,5.55500,5.945000,2,24,0,1,0,0,1,0.000000,0.0000,535
2018-03-02,7.4700,7.5600,7.0400,7.0500,8.7200,5.46000,7.090000,1,48,0,1,0,0,1,0.000000,0.0000,535
2018-05-25,8.4550,9.1450,7.9350,8.9200,8.7200,6.82500,7.772500,1,48,1,0,1,1,0,0.128643,11667.3600,1308
2018-09-07,10.2800,10.4100,9.9450,10.0800,10.4600,9.75500,10.107500,4,6,0,1,0,0,1,0.000000,0.0000,327
2018-10-05,10.3000,10.4000,9.6600,9.6800,10.6600,9.17000,9.915000,3,12,0,1,0,0,1,0.000000,0.0000,327
2018-11-16,9.7800,9.8100,9.3050,9.3800,10.6600,8.69500,9.677500,2,24,0,1,0,0,1,0.000000,0.0000,327
2018-12-14,8.9700,9.0800,8.7600,8.8000,10.6600,7.00000,8.830000,1,48,0,1,0,0,1,0.000000,0.0000,327
2019-04-05,10.2600,11.3500,10.2600,10.9500,10.6600,7.27500,8.967500,1,48,1,0,1,1,0,0.181050,8278.2000,756
2019-05-10,10.8900,10.9000,10.6600,10.7100,11.7100,9.82000,10.765000,4,6,0,1,0,0,1,0.000000,0.0000,189
2019-07-19,11.5900,11.6700,11.3300,11.4500,12.7500,10.17000,11.460000,3,12,0,1,0,0,1,0.000000,0.0000,189
2019-08-02,11.6800,11.9100,11.0600,11.0600,12.7500,9.52000,11.135000,2,24,0,1,0,0,1,0.000000,0.0000,189
2020-03-13,11.2100,11.4500,9.3600,9.4850,13.5200,10.17000,11.845000,1,48,0,1,0,0,1,0.000000,0.0000,189
2022-05-13,9.9250,11.2500,9.5600,10.6900,10.2400,5.79000,8.015000,1,48,1,0,1,1,0,0.250234,5986.4000,560

In [12]:
# Adjust calcs to handle any number of systems, ie. not tailored to 4.