In [1]:
# Donchian Weekly Classic Trend Following System
import gta_prices
import numpy as np
import pandas as pd

In [2]:
# Trade parameters.
exchange = 'LSE'
tidm = 'EMG'
timeframe = 'Weekly'
filename = f'{exchange}_{tidm}_prices.csv'
p = [48, 24, 12, 6] # Look back periods.
position_size = 7500  # Position size in major currency unit.
risk_pct = 0.2 # Percentage risk per trade.
commission = 11.95  # Commission per trade.
sduty = 0.5  # Stamp Duty percentage.

In [3]:
# Function definitions.
def charges(date, commission):
    '''Calculate trading charges.'''
    df = pd.DataFrame(index=date, columns=['date_shift', 'charges'])
    df.date_shift = df.index.values
    df.date_shift = df.date_shift.shift()
    df.charges = np.where(df.index == df.date_shift, 0, commission)
    return df.charges

def donchian(prices, period):
    '''Calculate upper, lower, & middle Donchian lines.'''
    df = pd.DataFrame()
    df['upr'] = prices.high.rolling(period).max().shift(periods=1)
    df['lwr'] = prices.low.rolling(period).min().shift(periods=1)
    df['mid'] = 0.5 * (df.upr + df.lwr)
    return df

def shares_div4(shares):
    '''Modify number of shares to be purchased to be divisible by 4.'''
    s = pd.Series(shares.values)
    for i in s.index:
        while s.iloc[i] % 4 != 0:
            s.iloc[i] += 1
    return shares

def state(entry_signal, exit_signal, period):
    '''Calculate trade state signals.'''
    df = pd.concat([entry_signal, exit_signal], axis=1)
    df.columns = ['entry', 'exit']
    df['state'] = 0
    for i in range(period, len(df)):
        if df.loc[df.index[i], 'entry'] == 1 \
        and df.loc[df.index[i - 1], 'state'] == 0:
            df.loc[df.index[i], 'state'] = 1
        elif df.loc[df.index[i], 'exit'] == 1:
            df.loc[df.index[i], 'state'] = 0
        else:
            df.loc[df.index[i], 'state'] = df.loc[df.index[i - 1], 'state']
    return df.state

def trade_summary(trade_list):
    '''Generate trade summary.'''
    frame = pd.DataFrame(columns=['trade', 'entry', 'volatility','cost', 'exit', 'days', 'profit', 'pct', 'annual'])
    if trade_list.entry.iloc[-1] == 1:
        trade_num = trade_list.index.max()
    else:
        trade_num = trade_list.index.max() + 1
        
    for i in list(range(1, trade_num)):
        df = trade_list.loc[i]
        trade = df.index[0]
        entry = df.date.iloc[0]
        volatility = df.volatility.iloc[0]
        cost = df.cost.iloc[0]
        exit = df.date.iloc[-1]
        days = df.days.iloc[-1]
        profit = df.profit.sum()
        pct = (profit / cost) * 100
        annual = ((1 + pct / 100) ** (365 / days) - 1) * 100
        frame.loc[i] = [trade, entry, volatility, cost, exit, days, profit, pct, annual]
    frame = frame.set_index('trade')
    return frame

pd.set_option("display.max_columns", None)

In [4]:
# Import weekly closing prices.
prices = gta_prices.weekly(exchange, tidm)

In [5]:
# Donchian channels.
for i in range(len(p)):
    globals()[f'p{i + 1}'] = p[i]
    globals()[f'dc{i + 1}'] = donchian(prices, p[i])

In [6]:
# System 1 entries & exits.
s1 = pd.concat([prices, dc1], axis=1)
s1['sys'] = 1
s1['buy'] = np.where(s1.close > s1.upr, 1, 0)
s1['sell'] = np.where(s1.close < s1.mid, 1, 0)
s1['state'] = state(s1.buy, s1.sell, p1)
s1['entry'] = np.where(np.logical_and(s1.state == 1, s1.state.shift(periods=1) == 0), 1, 0)
s1['exit'] = np.where(np.logical_and(s1.state == 0, s1.state.shift(periods=1) == 1), 1, 0)

In [7]:
# System 2 entries & exits.
s2 = pd.concat([prices, dc2], axis=1)
s2['sys'] = 2
s2['buy'] = s1.entry
s2['sell'] = np.where(s2.close < s2.mid, 1, 0)
s2['state'] = state(s2.buy, s2.sell, p2)
s2['entry'] = np.where(np.logical_and(s2.state == 1, s2.state.shift(periods=1) == 0), 1, 0)
s2['exit'] = np.where(np.logical_and(s2.state == 0, s2.state.shift(periods=1) == 1), 1, 0)

In [8]:
# System 3 entries & exits.
s3 = pd.concat([prices, dc3], axis=1)
s3['sys'] = 3
s3['buy'] = s1.entry
s3['sell'] = np.where(s3.close < s3.mid, 1, 0)
s3['state'] = state(s3.buy, s3.sell, p3)
s3['entry'] = np.where(np.logical_and(s3.state == 1, s3.state.shift(periods=1) == 0), 1, 0)
s3['exit'] = np.where(np.logical_and(s3.state == 0, s3.state.shift(periods=1) == 1), 1, 0)

In [9]:
# System 4 entries & exits.
s4 = pd.concat([prices, dc4], axis=1)
s4['sys'] = 4
s4['buy'] = s1.entry
s4['sell'] = np.where(s4.close < s4.mid, 1, 0)
s4['state'] = state(s4.buy, s4.sell, p4)
s4['entry'] = np.where(np.logical_and(s4.state == 1, s4.state.shift(periods=1) == 0), 1, 0)
s4['exit'] = np.where(np.logical_and(s4.state == 0, s4.state.shift(periods=1) == 1), 1, 0)

In [10]:
# Trade list indexed by date.
td = pd.concat([s1[s1.entry == 1] , s1[s1.exit == 1], s2[s2.exit == 1], s3[s3.exit == 1], s4[s4.exit == 1]], axis=0)
td = td.sort_index()

In [11]:
# Position size (buy).
td['volatility'] = np.where(td.entry == 1, abs((td.mid - td.close) / td.close), 0)
td['risk_amt'] = np.where(td.entry == 1, ((position_size * risk_pct) / td.volatility), 0)
td['shares'] = np.where(td.entry == 1, (td.risk_amt / td.close).astype('int'), 0)
td.shares = shares_div4(td.shares) # Modify number of shares to be purchased to be divisible by 4.
td.risk_amt = np.where(td.entry == 1, (td.close * td.shares), 0) # Adjust risk amount for revised share count.

In [12]:
# Position size (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        shares = row['shares']
    elif row['exit'] == 1:
        td.at[index, 'shares'] = int(shares / 4)

In [13]:
# Charges.
td['charges'] = charges(td.index, commission)

In [14]:
# Stamp duty.
td['sduty'] = np.where(td.entry==1, ((sduty / 100) * td.close * td.shares), 0)

In [15]:
# Cost (buy).
td['cost'] = np.where(td.entry == 1, ((td.close * td.shares) + td.charges + td.sduty), 0)

In [16]:
# Cost (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        cost = row['cost']
    elif row['exit'] == 1:
        td.at[index, 'cost'] = (cost / 4)

In [17]:
# Value (sell).
td['value'] = np.where(td.exit == 1, ((td.close * td.shares) - td.charges), 0)

In [18]:
# Profit.
td['profit'] = np.where(td.exit == 1, td.value - td.cost, 0)

In [19]:
# Cumulative profit.
td['profit_cum'] = td.profit.cumsum()

In [20]:
# Percentage return.
td['pct'] = np.where(td.exit == 1, ((td.profit / td.cost) * 100), 0)

In [21]:
# Trade duration.
td['days'] = 0
for index, row in td.iterrows():
    if row['entry'] == 1:
        start_date = index
    elif row['exit'] == 1:
        td.at[index, 'days'] = index - start_date
td.days = td.days.astype('timedelta64[D]')
td.days = td.days.dt.days

In [22]:
# Annual percentage return.
td['annual'] = ((np.power(1 + td.profit / td.cost, (365 / td.days)) - 1) * 100)

In [23]:
# Trade list indexed by trade.
td['trade'] = td.state.cumsum()
td = td.reset_index()
td = td.set_index('trade')
td.round(2)

,date,open,high,low,close,upr,lwr,mid,sys,buy,sell,state,entry,exit,volatility,risk_amt,shares,charges,sduty,cost,value,profit,profit_cum,pct,days,annual
trade,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2001-05-18,1.69,1.77,1.68,1.77,1.74,0.91,1.32,1,1,0,1,1,0,0.25,5967.42,3376,11.95,29.84,6009.20,0.00,0.00,0.00,0.00,0,0.00
1,2001-07-13,1.87,1.87,1.71,1.72,1.91,1.69,1.80,4,0,1,0,0,1,0.00,0.00,844,11.95,0.00,1502.30,1441.33,-60.97,-60.97,-4.06,56,-23.66
1,2001-07-13,1.87,1.87,1.71,1.72,1.91,1.56,1.74,3,0,1,0,0,1,0.00,0.00,844,0.00,0.00,1502.30,1453.28,-49.02,-109.99,-3.26,56,-19.44
1,2001-07-20,1.72,1.72,1.55,1.60,1.91,1.36,1.64,2,0,1,0,0,1,0.00,0.00,844,11.95,0.00,1502.30,1338.45,-163.85,-273.84,-10.91,63,-48.78
1,2002-02-22,2.25,2.25,1.83,1.90,2.66,1.38,2.02,1,0,1,0,0,1,0.00,0.00,844,11.95,0.00,1502.30,1595.70,93.40,-180.44,6.22,280,8.18
2,2003-05-16,2.04,2.24,2.03,2.23,2.16,1.53,1.84,1,1,0,1,1,0,0.17,8700.45,3904,11.95,43.50,8755.91,0.00,0.00,-180.44,0.00,0,0.00
2,2003-07-25,2.42,2.43,2.36,2.38,2.51,2.27,2.39,4,0,1,0,0,1,0.00,0.00,976,11.95,0.00,2188.98,2308.10,119.12,-61.31,5.44,70,31.83
2,2003-08-22,2.33,2.41,2.28,2.34,2.51,2.22,2.36,3,0,1,0,0,1,0.00,0.00,976,11.95,0.00,2188.98,2272.87,83.89,22.58,3.83,98,15.04
2,2004-05-14,3.14,3.17,3.02,3.10,3.54,2.68,3.11,2,0,1,0,0,1,0.00,0.00,976,11.95,0.00,2188.98,3010.82,821.84,844.42,37.54,364,37.67
2,2004-06-25,2.95,2.97,2.79,2.86,3.54,2.22,2.88,1,0,1,0,0,1,0.00,0.00,976,11.95,0.00,2188.98,2778.43,589.46,1433.88,26.93,406,23.91
3,2005-07-08,2.79,2.96,2.78,2.95,2.88,2.19,2.54,1,1,0,1,1,0,0.14,10640.45,3604,11.95,53.20,10705.60,0.00,0.00,1433.88,0.00,0,0.00
3,2005-09-16,3.27,3.27,3.10,3.13,3.27,3.04,3.16,4,0,1,0,0,1,0.00,0.00,901,11.95,0.00,2676.40,2811.15,134.75,1568.63,5.03,70,29.19
3,2005-10-14,3.12,3.13,2.87,2.94,3.27,2.88,3.07,3,0,1,0,0,1,0.00,0.00,901,11.95,0.00,2676.40,2632.67,-43.74,1524.89,-1.63,98,-5.95
3,2006-07-21,4.58,4.64,4.35,4.45,5.26,3.87,4.56,2,0,1,0,0,1,0.00,0.00,901,11.95,0.00,2676.40,3995.34,1318.94,2843.83,49.28,378,47.24
3,2007-08-10,6.11,6.49,5.39,5.48,7.31,4.71,6.01,1,0,1,0,0,1,0.00,0.00,901,11.95,0.00,2676.40,4922.92,2246.52,5090.35,83.94,763,33.85
4,2009-10-16,3.43,3.68,3.40,3.50,3.44,1.50,2.47,1,1,0,1,1,0,0.29,5119.61,1464,11.95,25.60,5157.16,0.00,0.00,5090.35,0.00,0,0.00
4,2009-10-30,3.50,3.54,2.98,3.10,3.70,2.86,3.28,4,0,1,0,0,1,0.00,0.00,366,11.95,0.00,1289.29,1122.65,-166.64,4923.71,-12.92,14,-97.29
4,2009-12-11,3.27,3.28,3.03,3.10,3.74,2.86,3.30,3,0,1,0,0,1,0.00,0.00,366,11.95,0.00,1289.29,1121.92,-167.37,4756.34,-12.98,56,-59.60
4,2009-12-18,3.13,3.19,2.96,2.96,3.74,2.36,3.05,2,0,1,0,0,1,0.00,0.00,366,11.95,0.00,1289.29,1071.04,-218.25,4538.09,-16.93,63,-65.85
4,2010-01-29,2.70,2.71,2.33,2.37,3.74,1.50,2.62,1,0,1,0,0,1,0.00,0.00,366,11.95,0.00,1289.29,855.47,-433.82,4104.27,-33.65,105,-75.97
5,2011-01-07,3.07,3.11,2.94,3.10,3.06,2.00,2.53,1,1,0,1,1,0,0.19,8090.02,2608,11.95,40.45,8142.42,0.00,0.00,4104.27,0.00,0,0.00
5,2011-01-21,3.07,3.11,2.81,2.82,3.11,2.74,2.92,4,0,1,0,0,1,0.00,0.00,652,11.95,0.00,2035.60,1826.69,-208.91,3895.36,-10.26,14,-94.06
5,2011-03-04,2.87,2.92,2.77,2.78,3.16,2.74,2.95,3,0,1,0,0,1,0.00,0.00,652,11.95,0.00,2035.60,1800.61,-234.99,3660.37,-11.54,56,-55.05
5,2011-03-18,2.65,2.67,2.43,2.45,3.16,2.11,2.63,2,0,1,0,0,1,0.00,0.00,652,11.95,0.00,2035.60,1586.10,-449.50,3210.86,-22.08,70,-72.77
5,2011-03-18,2.65,2.67,2.43,2.45,3.16,2.00,2.58,1,0,1,0,0,1,0.00,0.00,652,0.00,0.00,2035.60,1598.05,-437.55,2773.31,-21.49,70,-71.69
6,2013-05-03,1.05,1.22,1.02,1.20,1.15,0.61,0.88,1,1,0,1,1,0,0.26,5659.20,4716,11.95,28.30,5699.45,0.00,0.00,2773.31,0.00,0,0.00
6,2013-05-31,1.24,1.26,1.15,1.16,1.36,0.99,1.18,4,0,1,0,0,1,0.00,0.00,1179,11.95,0.00,1424.86,1349.80,-75.07,2698.24,-5.27,28,-50.61
6,2013-06-07,1.15,1.19,0.92,0.95,1.36,0.61,0.99,1,0,1,0,0,1,0.00,0.00,1179,11.95,0.00,1424.86,1106.92,-317.94,2380.30,-22.31,35,-92.81
6,2013-06-07,1.15,1.19,0.92,0.95,1.36,0.86,1.11,3,0,1,0,0,1,0.00,0.00,1179,0.00,0.00,1424.86,1118.87,-305.99,2074.31,-21.48,35,-91.96
6,2013-06-07,1.15,1.19,0.92,0.95,1.36,0.80,1.08,2,0,1,0,0,1,0.00,0.00,1179,0.00,0.00,1424.86,1118.87,-305.99,1768.32,-21.48,35,-91.96
7,2014-07-04,1.02,1.18,1.02,1.13,1.09,0.76,0.93,1,1,0,1,1,0,0.18,8332.02,7380,11.95,41.66,8385.63,0.00,0.00,1768.32,0.00,0,0.00
7,2014-08-08,1.17,1.21,1.09,1.10,1.27,1.00,1.13,4,0,1,0,0,1,0.00,0.00,1845,11.95,0.00,2096.41,2013.86,-82.55,1685.78,-3.94,35,-34.23
7,2014-10-03,1.20,1.21,1.13,1.15,1.27,1.09,1.18,3,0,1,0,0,1,0.00,0.00,1845,11.95,0.00,2096.41,2115.34,18.93,1704.70,0.90,91,3.67
7,2015-05-15,1.78,1.85,1.68,1.76,2.18,1.37,1.77,2,0,1,0,0,1,0.00,0.00,1845,11.95,0.00,2096.41,3229.72,1133.31,2838.01,54.06,315,65.00
7,2015-06-19,1.64,1.67,1.59,1.62,2.18,1.08,1.63,1,0,1,0,0,1,0.00,0.00,1845,11.95,0.00,2096.41,2980.64,884.23,3722.24,42.18,350,44.34
8,2017-04-28,1.52,1.56,1.52,1.54,1.53,1.02,1.28,1,1,0,1,1,0,0.17,8816.23,5736,11.95,44.08,8872.26,0.00,0.00,3722.24,0.00,0,0.00
8,2017-06-09,1.59,1.59,1.52,1.56,1.64,1.52,1.58,4,0,1,0,0,1,0.00,0.00,1434,11.95,0.00,2218.07,2219.35,1.29,3723.53,0.06,42,0.51
8,2017-06-16,1.55,1.59,1.51,1.51,1.64,1.41,1.53,3,0,1,0,0,1,0.00,0.00,1434,11.95,0.00,2218.07,2153.39,-64.68,3658.86,-2.92,49,-19.78
8,2018-02-09,2.12,2.12,1.83,1.84,2.19,1.62,1.91,2,0,1,0,0,1,0.00,0.00,1434,11.95,0.00,2218.07,2630.20,412.13,4070.99,18.58,287,24.20
8,2018-02-23,1.85,1.88,1.79,1.79,2.19,1.41,1.80,1,0,1,0,0,1,0.00,0.00,1434,11.95,0.00,2218.07,2557.06,339.00,4409.98,15.28,301,18.82
9,2021-04-09,1.63,1.69,1.62,1.66,1.65,1.06,1.35,1,1,0,1,1,0,0.18,8261.76,4992,11.95,41.31,8315.02,0.00,0.00,4409.98,0.00,0,0.00
9,2021-09-24,2.09,2.12,2.05,2.08,2.20,2.07,2.13,4,0,1,0,0,1,0.00,0.00,1248,11.95,0.00,2078.75,2581.39,502.64,4912.62,24.18,168,60.08
9,2021-10-08,2.02,2.04,1.96,2.02,2.20,1.84,2.02,3,0,1,0,0,1,0.00,0.00,1248,11.95,0.00,2078.75,2505.27,426.51,5339.13,20.52,182,45.39
9,2022-01-14,2.21,2.22,2.12,2.13,2.42,1.86,2.14,2,0,1,0,0,1,0.00,0.00,1248,11.95,0.00,2078.75,2641.30,562.54,5901.67,27.06,280,36.64
9,2022-01-28,2.05,2.08,1.86,1.88,2.42,1.41,1.92,1,0,1,0,0,1,0.00,0.00,1248,11.95,0.00,2078.75,2335.54,256.78,6158.46,12.35,294,15.56

In [24]:
# Trade summary.
tds = trade_summary(td)
tds.round({'volatility': 3, 'pct': 1, 'annual': 1})

,entry,volatility,cost,exit,days,profit,pct,annual
trade,,,,,,,,
1,2001-05-18,0.251,6009.204688,2002-02-22,280,-180.436288,-3.0,-3.9
2,2003-05-16,0.172,8755.906672,2004-06-25,406,1614.312528,18.4,16.4
3,2005-07-08,0.141,10705.601848,2007-08-10,763,3656.471352,34.2,15.1
4,2009-10-16,0.293,5157.156040,2010-01-29,105,-986.074040,-19.1,-52.2
5,2011-01-07,0.186,8142.416080,2011-03-18,70,-1330.962080,-16.3,-60.6
6,2013-05-03,0.265,5699.446000,2013-06-07,35,-1004.988000,-17.6,-86.8
7,2014-07-04,0.180,8385.630100,2015-06-19,350,1953.919900,23.3,24.4
8,2017-04-28,0.170,8872.263160,2018-02-23,301,687.736840,7.8,9.5
9,2021-04-09,0.182,8315.018800,2022-01-28,294,1748.477200,21.0,26.7

In [25]:
cost_total = tds.cost.sum()
cost_total

70042.64338800001

In [26]:
profit_total = tds.profit.sum()
profit_total

6158.457412

In [27]:
pct_total = (profit_total / cost_total) * 100
pct_total

8.792440025264797

In [28]:
days_total = (tds.exit.iloc[-1] - tds.entry.iloc[0])
days_total = days_total.days
days_total

7560

In [29]:
annual_total = ((1 + pct_total / 100) ** (365 / days_total) - 1) * 100
annual_total

0.4076959742262076