In [1]:
# Donchian Weekly Trend Following System
import gta_indicator
import gta_prices
import gta_signals
import numpy as np
import pandas as pd

In [2]:
# Trade parameters.
exchange = 'LSE'
tidm = 'IBPO'
timeframe = 'Weekly'
filename = f'{exchange}_{tidm}_prices.csv'
p1 = 48 # System 1 look back period.
p2 = 24 # System 2 look back period.
p3 = 12 # System 3 look back period.
p4 = 6  # System 4 look back period.
position_size = 7500  # Position size in major currency unit.
risk_pct = 0.2 # Percentage risk per trade.
charges = 11.95  # Commission per trade.
sduty = 0.0  # Stamp Duty percentage.

In [3]:
# Function definitions.
def shares_div4(shares):
    '''Modify number of shares to be purchased to be divisible by 4.'''
    s = pd.Series(shares.values)
    for i in s.index:
        while s.iloc[i] % 4 != 0:
            s.iloc[i] += 1
    return shares

In [4]:
# Import weekly closing prices.
prices = gta_prices.weekly(exchange, tidm)

In [5]:
# Donchian channels.
dc1 = gta_indicator.donchian(prices, p1)
dc2 = gta_indicator.donchian(prices, p2)
dc3 = gta_indicator.donchian(prices, p3)
dc4 = gta_indicator.donchian(prices, p4)

In [6]:
# System 1 entries & exits.
s1 = pd.concat([prices, dc1], axis=1)
s1['sys'] = 1
s1['buy'] = np.where(s1.close > s1.upr, 1, 0)
s1['sell'] = np.where(s1.close < s1.mid, 1, 0)
s1['state'] = gta_signals.state_signal(s1.buy, s1.sell, p1)
s1['entry'] = np.where(np.logical_and(s1.state == 1, s1.state.shift(periods=1) == 0), 1, 0)
s1['exit'] = np.where(np.logical_and(s1.state == 0, s1.state.shift(periods=1) == 1), 1, 0)

In [7]:
# System 2 entries & exits.
s2 = pd.concat([prices, dc2], axis=1)
s2['sys'] = 2
s2['buy'] = s1.entry
s2['sell'] = np.where(s2.close < s2.mid, 1, 0)
s2['state'] = gta_signals.state_signal(s2.buy, s2.sell, p2)
s2['entry'] = np.where(np.logical_and(s2.state == 1, s2.state.shift(periods=1) == 0), 1, 0)
s2['exit'] = np.where(np.logical_and(s2.state == 0, s2.state.shift(periods=1) == 1), 1, 0)

In [8]:
# System 3 entries & exits.
s3 = pd.concat([prices, dc3], axis=1)
s3['sys'] = 3
s3['buy'] = s1.entry
s3['sell'] = np.where(s3.close < s3.mid, 1, 0)
s3['state'] = gta_signals.state_signal(s3.buy, s3.sell, p3)
s3['entry'] = np.where(np.logical_and(s3.state == 1, s3.state.shift(periods=1) == 0), 1, 0)
s3['exit'] = np.where(np.logical_and(s3.state == 0, s3.state.shift(periods=1) == 1), 1, 0)

In [9]:
# System 4 entries & exits.
s4 = pd.concat([prices, dc4], axis=1)
s4['sys'] = 4
s4['buy'] = s1.entry
s4['sell'] = np.where(s4.close < s4.mid, 1, 0)
s4['state'] = gta_signals.state_signal(s4.buy, s4.sell, p4)
s4['entry'] = np.where(np.logical_and(s4.state == 1, s4.state.shift(periods=1) == 0), 1, 0)
s4['exit'] = np.where(np.logical_and(s4.state == 0, s4.state.shift(periods=1) == 1), 1, 0)

In [10]:
# All entries & exits.
td = pd.concat([s1[s1.entry == 1] , s1[s1.exit == 1], s2[s2.exit == 1], s3[s3.exit == 1], s4[s4.exit == 1]], axis=0)
td = td.sort_index()

In [11]:
# Position size (buy).
td['volatility'] = np.where(td.entry == 1, abs((td.mid - td.close) / td.close).round(3), 0)
td['risk_amt'] = np.where(td.entry == 1, ((position_size * risk_pct) / td.volatility).round(2), 0)
td['shares'] = np.where(td.entry == 1, (td.risk_amt / td.close).astype('int'), 0)

# Modify number of shares to be purchased to be divisible by 4.
td.shares = shares_div4(td.shares)

In [12]:
# Position size (sell).
for i in range(len(td)):
    if td.loc[td.index[i], 'exit'] == 0:
        shares = td.loc[td.index[i], 'shares']
    elif td.loc[td.index[i], 'exit'] == 1:
        td.loc[td.index[i], 'shares'] = shares / 4
td.shares = td.shares.astype('int')

In [13]:
# Charges & stamp duty.
td['charges'] = charges
td['sduty'] = ((sduty / 100) * td.close * td.shares).round(2)

# Cost (buy).
td['cost'] = np.where(td.entry == 1, (td.close * td.shares) + td.charges + td.sduty, 0)

# Cost (sell).
for i in range(len(td)):
    if td.loc[td.index[i], 'exit'] == 0:
        cost = td.loc[td.index[i], 'cost']
    elif td.loc[td.index[i], 'exit'] == 1:
        td.loc[td.index[i], 'cost'] = cost / 4
td.cost = td.cost.round(2)

# Value (sell).
td['value'] = np.where(td.exit == 1, ((td.close * td.shares) - td.charges).round(2), 0)

# Profit.
td['profit'] = np.where(td.exit == 1, td.value - td.cost, 0)

# Percentage return.
td['pct'] = np.where(td.exit == 1, ((td.profit / td.cost) * 100).round(1), 0)

# Trade duration.
for i in range(len(td)):
    if td.loc[td.index[i], 'entry'] == 1:
        start_date = td.index[i]
    elif td.loc[td.index[i], 'exit'] == 1:
        td.loc[td.index[i], 'days'] = td.index[i] - start_date
td.days = td.days.dt.days
td.days = td.days.fillna(0)
td.days = td.days.astype(int)

# Annual percentage return.
td['annual'] = ((np.power(1 + td.profit / td.cost, (365 / td.days)) - 1) * 100).round(1)

pd.set_option("display.max_columns", None)
td

,open,high,low,close,upr,lwr,mid,sys,buy,sell,state,entry,exit,volatility,risk_amt,shares,charges,sduty,cost,value,profit,pct,days,annual
date,,,,,,,,,,,,,,,,,,,,,,,,
2011-08-26,2.2100,2.2960,2.210,2.260,2.246,1.3500,1.79800,1,1,0,1,1,0,0.204,7352.94,3256,11.95,0.0,7370.51,0.00,0.00,0.0,0,0.0
2011-10-14,2.3250,2.3250,2.325,2.325,2.400,2.2600,2.33000,4,0,1,0,0,1,0.000,0.00,814,11.95,0.0,1842.63,1880.60,37.97,2.1,49,16.4
2012-06-01,3.5750,3.5750,3.350,3.450,3.700,3.4000,3.55000,3,0,1,0,0,1,0.000,0.00,814,11.95,0.0,1842.63,2796.35,953.72,51.8,280,72.2
2013-03-29,3.6500,3.6500,3.625,3.625,3.800,3.6000,3.70000,2,0,1,0,0,1,0.000,0.00,814,11.95,0.0,1842.63,2938.80,1096.17,59.5,581,34.1
2013-08-02,3.6250,3.6250,3.510,3.510,3.800,3.4000,3.60000,1,0,1,0,0,1,0.000,0.00,814,11.95,0.0,1842.63,2845.19,1002.56,54.4,707,25.1
2016-05-13,0.4000,0.4200,0.400,0.420,0.400,0.1075,0.25375,1,1,0,1,1,0,0.396,3787.88,9020,11.95,0.0,3800.35,0.00,0.00,0.0,0,0.0
2016-06-24,0.4650,0.4650,0.425,0.440,0.490,0.4000,0.44500,4,0,1,0,0,1,0.000,0.00,2255,11.95,0.0,950.09,980.25,30.16,3.2,42,31.2
2017-02-17,0.8200,0.8200,0.820,0.820,0.835,0.8100,0.82250,3,0,1,0,0,1,0.000,0.00,2255,11.95,0.0,950.09,1837.15,887.06,93.4,280,136.2
2017-03-10,0.8200,0.8200,0.775,0.775,0.835,0.7700,0.80250,2,0,1,0,0,1,0.000,0.00,2255,11.95,0.0,950.09,1735.68,785.59,82.7,301,107.7
2017-07-21,0.6700,0.6700,0.660,0.660,0.835,0.5800,0.70750,1,0,1,0,0,1,0.000,0.00,2255,11.95,0.0,950.09,1476.35,526.26,55.4,434,44.9
2018-09-07,0.5500,0.9150,0.550,0.825,0.725,0.4000,0.56250,1,1,0,1,1,0,0.318,4716.98,5720,11.95,0.0,4730.95,0.00,0.00,0.0,0,0.0
2018-12-21,1.2250,1.2250,0.950,1.075,1.325,1.0000,1.16250,4,0,1,0,0,1,0.000,0.00,1430,11.95,0.0,1182.74,1525.30,342.56,29.0,105,142.1
2019-10-11,2.8500,2.8500,2.750,2.750,3.300,2.2900,2.79500,3,0,1,0,0,1,0.000,0.00,1430,11.95,0.0,1182.74,3920.55,2737.81,231.5,399,199.3
2019-12-06,2.7000,2.7000,2.590,2.600,3.300,2.0200,2.66000,2,0,1,0,0,1,0.000,0.00,1430,11.95,0.0,1182.74,3706.05,2523.31,213.3,455,150.0
2020-02-28,2.5300,2.5300,2.170,2.170,3.300,1.3250,2.31250,1,0,1,0,0,1,0.000,0.00,1430,11.95,0.0,1182.74,3091.15,1908.41,161.4,539,91.7
2020-11-20,2.7300,2.9400,2.700,2.880,2.830,1.4550,2.14250,1,1,0,1,1,0,0.256,5859.38,2036,11.95,0.0,5875.63,0.00,0.00,0.0,0,0.0
2020-12-25,2.7700,2.7800,2.660,2.700,2.940,2.5000,2.72000,4,0,1,0,0,1,0.000,0.00,509,11.95,0.0,1468.91,1362.35,-106.56,-7.3,35,-54.4
2021-01-29,3.3500,3.4600,3.130,3.150,4.000,2.4100,3.20500,3,0,1,0,0,1,0.000,0.00,509,11.95,0.0,1468.91,1591.40,122.49,8.3,70,51.8
2021-02-12,3.3100,3.3100,2.870,2.920,4.000,2.2400,3.12000,2,0,1,0,0,1,0.000,0.00,509,11.95,0.0,1468.91,1474.33,5.42,0.4,84,1.6
2021-05-07,3.1000,3.1000,2.920,2.970,4.000,1.9700,2.98500,1,0,1,0,0,1,0.000,0.00,509,11.95,0.0,1468.91,1499.78,30.87,2.1,168,4.6
2022-04-15,3.9800,4.3000,3.900,4.230,4.000,2.4800,3.24000,1,1,0,1,1,0,0.234,6410.26,1516,11.95,0.0,6424.63,0.00,0.00,0.0,0,0.0
2022-05-06,4.2585,4.2585,3.820,3.890,4.300,3.7800,4.04000,4,0,1,0,0,1,0.000,0.00,379,11.95,0.0,1606.16,1462.36,-143.80,-9.0,21,-80.4
2022-05-13,3.8200,3.9000,3.200,3.550,4.300,3.3400,3.82000,3,0,1,0,0,1,0.000,0.00,379,11.95,0.0,1606.16,1333.50,-272.66,-17.0,28,-91.2

In [14]:
td.profit.sum()

12467.340000000004

In [15]:
td.index[-1] - td.index[0]

Timedelta('3913 days 00:00:00')

In [16]:
td.pct.sum()

1015.2