In [1]:
# Donchian Weekly Classic Trend Following System
import gta_prices
import numpy as np
import pandas as pd

In [2]:
# Trade parameters.
exchange = 'LSE'
tidm = 'WOOD'
timeframe = 'Weekly'
filename = f'{exchange}_{tidm}_prices.csv'
p1 = 48 # System 1 look back period.
p2 = 24 # System 2 look back period.
p3 = 12 # System 3 look back period.
p4 = 6  # System 4 look back period.
position_size = 7500  # Position size in major currency unit.
risk_pct = 0.2 # Percentage risk per trade.
commission = 11.95  # Commission per trade.
sduty = 0.0  # Stamp Duty percentage.

In [3]:
# Function definitions.
def charges(date, commission):
    '''Calculate trading charges.'''
    df = pd.DataFrame(index=date, columns=['date_shift', 'charges'])
    df.date_shift = df.index.values
    df.date_shift = df.date_shift.shift()
    df.charges = np.where(df.index == df.date_shift, 0, commission)
    return df.charges

def donchian(prices, period):
    '''Calculate upper, lower, & middle Donchian lines.'''
    df = pd.DataFrame()
    df['upr'] = prices.high.rolling(period).max().shift(periods=1)
    df['lwr'] = prices.low.rolling(period).min().shift(periods=1)
    df['mid'] = 0.5 * (df.upr + df.lwr)
    return df

def shares_div4(shares):
    '''Modify number of shares to be purchased to be divisible by 4.'''
    s = pd.Series(shares.values)
    for i in s.index:
        while s.iloc[i] % 4 != 0:
            s.iloc[i] += 1
    return shares

def state(entry_signal, exit_signal, period):
    '''Calculate trade state signals.'''
    df = pd.concat([entry_signal, exit_signal], axis=1)
    df.columns = ['entry', 'exit']
    df['state'] = 0
    for i in range(period, len(df)):
        if df.loc[df.index[i], 'entry'] == 1 \
        and df.loc[df.index[i - 1], 'state'] == 0:
            df.loc[df.index[i], 'state'] = 1
        elif df.loc[df.index[i], 'exit'] == 1:
            df.loc[df.index[i], 'state'] = 0
        else:
            df.loc[df.index[i], 'state'] = df.loc[df.index[i - 1], 'state']
    return df.state

def trade_summary(trade_list):
    '''Generate trade summary.'''
    frame = pd.DataFrame(columns=['trade', 'entry', 'volatility','cost', 'exit', 'days', 'profit', 'pct', 'annual'])
    for i in list(range(1, trade_list.index.max() + 1)):
        df = trade_list.loc[i]
        trade = df.index[0]
        entry = df.date.iloc[0]
        volatility = df.volatility.iloc[0]
        cost = df.cost.iloc[0]
        exit = df.date.iloc[-1]
        days = df.days.iloc[-1]
        profit = df.profit.sum()
        pct = (profit / cost) * 100
        annual = ((1 + pct / 100) ** (365 / days) - 1) * 100
        frame.loc[i] = [trade, entry, volatility, cost, exit, days, profit, pct, annual]
    frame = frame.set_index('trade')
    return frame

pd.set_option("display.max_columns", None)

In [4]:
# Import weekly closing prices.
prices = gta_prices.weekly(exchange, tidm)

In [5]:
# Donchian channels.
dc1 = donchian(prices, p1)
dc2 = donchian(prices, p2)
dc3 = donchian(prices, p3)
dc4 = donchian(prices, p4)

In [6]:
# System 1 entries & exits.
s1 = pd.concat([prices, dc1], axis=1)
s1['sys'] = 1
s1['buy'] = np.where(s1.close > s1.upr, 1, 0)
s1['sell'] = np.where(s1.close < s1.mid, 1, 0)
s1['state'] = state(s1.buy, s1.sell, p1)
s1['entry'] = np.where(np.logical_and(s1.state == 1, s1.state.shift(periods=1) == 0), 1, 0)
s1['exit'] = np.where(np.logical_and(s1.state == 0, s1.state.shift(periods=1) == 1), 1, 0)

In [7]:
# System 2 entries & exits.
s2 = pd.concat([prices, dc2], axis=1)
s2['sys'] = 2
s2['buy'] = s1.entry
s2['sell'] = np.where(s2.close < s2.mid, 1, 0)
s2['state'] = state(s2.buy, s2.sell, p2)
s2['entry'] = np.where(np.logical_and(s2.state == 1, s2.state.shift(periods=1) == 0), 1, 0)
s2['exit'] = np.where(np.logical_and(s2.state == 0, s2.state.shift(periods=1) == 1), 1, 0)

In [8]:
# System 3 entries & exits.
s3 = pd.concat([prices, dc3], axis=1)
s3['sys'] = 3
s3['buy'] = s1.entry
s3['sell'] = np.where(s3.close < s3.mid, 1, 0)
s3['state'] = state(s3.buy, s3.sell, p3)
s3['entry'] = np.where(np.logical_and(s3.state == 1, s3.state.shift(periods=1) == 0), 1, 0)
s3['exit'] = np.where(np.logical_and(s3.state == 0, s3.state.shift(periods=1) == 1), 1, 0)

In [9]:
# System 4 entries & exits.
s4 = pd.concat([prices, dc4], axis=1)
s4['sys'] = 4
s4['buy'] = s1.entry
s4['sell'] = np.where(s4.close < s4.mid, 1, 0)
s4['state'] = state(s4.buy, s4.sell, p4)
s4['entry'] = np.where(np.logical_and(s4.state == 1, s4.state.shift(periods=1) == 0), 1, 0)
s4['exit'] = np.where(np.logical_and(s4.state == 0, s4.state.shift(periods=1) == 1), 1, 0)

In [10]:
# Trade list indexed by date.
td = pd.concat([s1[s1.entry == 1] , s1[s1.exit == 1], s2[s2.exit == 1], s3[s3.exit == 1], s4[s4.exit == 1]], axis=0)
td = td.sort_index()

In [11]:
# Position size (buy).
td['volatility'] = np.where(td.entry == 1, abs((td.mid - td.close) / td.close).round(3), 0)
td['risk_amt'] = np.where(td.entry == 1, ((position_size * risk_pct) / td.volatility).round(2), 0)
td['shares'] = np.where(td.entry == 1, (td.risk_amt / td.close).astype('int'), 0)
td.shares = shares_div4(td.shares) # Modify number of shares to be purchased to be divisible by 4.
td.risk_amt = np.where(td.entry == 1, (td.close * td.shares).round(2), 0) # Adjust risk amount for revised share count.

In [12]:
# Position size (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        shares = row['shares']
    elif row['exit'] == 1:
        td.at[index, 'shares'] = int(shares / 4)

In [13]:
# Charges.
td['charges'] = charges(td.index, commission)

In [14]:
# Stamp duty.
td['sduty'] = np.where(td.entry==1, ((sduty / 100) * td.close * td.shares).round(2), 0)

In [15]:
# Cost (buy).
td['cost'] = np.where(td.entry == 1, ((td.close * td.shares) + td.charges + td.sduty).round(2), 0)

In [16]:
# Cost (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        cost = row['cost']
    elif row['exit'] == 1:
        td.at[index, 'cost'] = (cost / 4).round(2)

In [17]:
# Value (sell).
td['value'] = np.where(td.exit == 1, ((td.close * td.shares) - td.charges).round(2), 0)

In [18]:
# Profit.
td['profit'] = np.where(td.exit == 1, td.value - td.cost, 0)

In [19]:
# Cumulative profit.
td['cum_profit'] = td.profit.cumsum()

In [20]:
# Percentage return.
td['pct'] = np.where(td.exit == 1, ((td.profit / td.cost) * 100).round(1), 0)

In [21]:
# Trade duration.
td['days'] = 0
for index, row in td.iterrows():
    if row['entry'] == 1:
        start_date = index
    elif row['exit'] == 1:
        td.at[index, 'days'] = index - start_date
td.days = td.days.astype('timedelta64[D]')
td.days = td.days.dt.days

In [22]:
# Annual percentage return.
td['annual'] = ((np.power(1 + td.profit / td.cost, (365 / td.days)) - 1) * 100).round(1)

In [23]:
# Trade list indexed by trade.
td['trade'] = td.state.cumsum()
td = td.reset_index()
td = td.set_index('trade')
td

,date,open,high,low,close,upr,lwr,mid,sys,buy,sell,state,entry,exit,volatility,risk_amt,shares,charges,sduty,cost,value,profit,cum_profit,pct,days,annual
trade,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2009-09-18,8.4567,8.9045,8.4567,8.9045,8.7387,5.3119,7.02530,1,1,0,1,1,0,0.211,7123.60,800,11.95,0.0,7135.55,0.00,0.00,0.00,0.0,0,0.0
1,2009-10-30,9.0700,9.0700,8.2205,8.2205,9.3151,8.4567,8.88590,4,0,1,0,0,1,0.000,0.00,200,11.95,0.0,1783.89,1632.15,-151.74,-151.74,-8.5,42,-53.8
1,2009-10-30,9.0700,9.0700,8.2205,8.2205,9.3151,7.9027,8.60890,3,0,1,0,0,1,0.000,0.00,200,0.00,0.0,1783.89,1644.10,-139.79,-291.53,-7.8,42,-50.8
1,2010-06-04,10.5070,10.6280,10.3600,10.3730,11.6830,9.2100,10.44650,2,0,1,0,0,1,0.000,0.00,200,11.95,0.0,1783.89,2062.65,278.76,-12.77,15.6,259,22.7
1,2011-05-20,11.2200,11.2500,11.0600,11.0800,12.7000,9.6211,11.16055,1,0,1,0,0,1,0.000,0.00,200,11.95,0.0,1783.89,2204.05,420.16,407.39,23.6,609,13.5
2,2013-01-04,10.4100,10.9000,10.3250,10.9000,10.5000,8.3147,9.40735,1,1,0,1,1,0,0.137,10943.60,1004,11.95,0.0,10955.55,0.00,0.00,407.39,0.0,0,0.0
2,2013-04-05,12.1800,12.3900,11.7600,11.7950,12.3300,11.4750,11.90250,4,0,1,0,0,1,0.000,0.00,251,11.95,0.0,2738.89,2948.60,209.71,617.10,7.7,91,34.4
2,2013-05-31,12.2200,12.2200,11.6600,11.6950,12.6000,11.4700,12.03500,3,0,1,0,0,1,0.000,0.00,251,11.95,0.0,2738.89,2923.50,184.61,801.71,6.7,147,17.6
2,2013-06-07,11.5100,11.5200,11.0500,11.3050,12.6000,10.0260,11.31300,2,0,1,0,0,1,0.000,0.00,251,11.95,0.0,2738.89,2825.60,86.71,888.42,3.2,154,7.7
2,2013-12-13,11.6400,11.6450,11.4500,11.5650,12.6000,10.6900,11.64500,1,0,1,0,0,1,0.000,0.00,251,11.95,0.0,2738.89,2890.86,151.97,1040.39,5.5,343,5.9
3,2014-11-21,12.2250,12.3680,12.0900,12.3680,12.3300,10.9300,11.63000,1,1,0,1,1,0,0.060,25032.83,2024,11.95,0.0,25044.78,0.00,0.00,1040.39,0.0,0,0.0
3,2015-04-24,13.8250,13.8250,13.4550,13.5880,14.1200,13.2150,13.66750,4,0,1,0,0,1,0.000,0.00,506,11.95,0.0,6261.20,6863.58,602.38,1642.77,9.6,154,24.3
3,2015-04-24,13.8250,13.8250,13.4550,13.5880,14.1200,13.1150,13.61750,3,0,1,0,0,1,0.000,0.00,506,0.00,0.0,6261.20,6875.53,614.33,2257.10,9.8,154,24.8
3,2015-05-15,12.9950,12.9950,12.7930,12.9630,14.1200,12.1000,13.11000,2,0,1,0,0,1,0.000,0.00,506,11.95,0.0,6261.20,6547.33,286.13,2543.23,4.6,175,9.8
3,2015-07-17,12.6150,12.7800,12.6130,12.6130,14.1200,11.1300,12.62500,1,0,1,0,0,1,0.000,0.00,506,11.95,0.0,6261.20,6370.23,109.03,2652.26,1.7,238,2.7
4,2016-07-01,12.3600,12.8930,12.1050,12.8930,12.8500,10.0980,11.47400,1,1,0,1,1,0,0.110,13666.58,1060,11.95,0.0,13678.53,0.00,0.00,2652.26,0.0,0,0.0
4,2016-11-11,14.8950,14.9400,14.5450,14.6950,15.3750,14.2050,14.79000,4,0,1,0,0,1,0.000,0.00,265,11.95,0.0,3419.63,3882.23,462.60,3114.86,13.5,133,41.7
4,2017-05-12,16.9270,17.0150,16.6880,16.6880,17.4180,16.4600,16.93900,3,0,1,0,0,1,0.000,0.00,265,11.95,0.0,3419.63,4410.37,990.74,4105.60,29.0,315,34.3
4,2018-02-09,19.8330,19.8330,18.9390,18.9390,20.2800,17.6500,18.96500,2,0,1,0,0,1,0.000,0.00,265,11.95,0.0,3419.63,5006.88,1587.25,5692.85,46.4,588,26.7
4,2018-10-05,21.2900,21.2950,20.3900,20.3900,22.8500,18.7430,20.79650,1,0,1,0,0,1,0.000,0.00,265,11.95,0.0,3419.63,5391.40,1971.77,7664.62,57.7,826,22.3
5,2020-09-18,18.3850,18.8500,18.3500,18.7930,18.7650,12.4250,15.59500,1,1,0,1,1,0,0.170,8870.30,472,11.95,0.0,8882.25,0.00,0.00,7664.62,0.0,0,0.0
5,2020-09-25,18.3550,18.3550,17.6350,17.8400,18.8500,17.0550,17.95250,4,0,1,0,0,1,0.000,0.00,118,11.95,0.0,2220.56,2093.17,-127.39,7537.23,-5.7,7,-95.4
5,2020-10-30,18.5600,18.5600,17.5400,17.6680,18.9750,16.4900,17.73250,3,0,1,0,0,1,0.000,0.00,118,11.95,0.0,2220.56,2072.87,-147.69,7389.54,-6.7,42,-45.0
5,2021-06-04,22.9450,23.2400,22.5700,22.6130,25.1200,20.6850,22.90250,2,0,1,0,0,1,0.000,0.00,118,11.95,0.0,2220.56,2656.38,435.82,7825.36,19.6,259,28.7
5,2021-10-29,22.5900,22.7000,22.0350,22.1130,25.1200,19.1350,22.12750,1,0,1,0,0,1,0.000,0.00,118,11.95,0.0,2220.56,2597.38,376.82,8202.18,17.0,406,15.1
6,2022-04-22,24.7000,25.7800,24.6350,25.3900,25.1600,21.7200,23.44000,1,1,0,1,1,0,0.077,19499.52,768,11.95,0.0,19511.47,0.00,0.00,8202.18,0.0,0,0.0
6,2022-05-13,25.5300,25.5300,23.9950,24.1200,26.5000,22.4750,24.48750,3,0,1,0,0,1,0.000,0.00,192,11.95,0.0,4877.87,4619.09,-258.78,7943.40,-5.3,21,-61.2
6,2022-05-13,25.5300,25.5300,23.9950,24.1200,26.5000,22.4750,24.48750,2,0,1,0,0,1,0.000,0.00,192,0.00,0.0,4877.87,4631.04,-246.83,7696.57,-5.1,21,-59.4
6,2022-05-13,25.5300,25.5300,23.9950,24.1200,26.5000,23.8250,25.16250,4,0,1,0,0,1,0.000,0.00,192,0.00,0.0,4877.87,4631.04,-246.83,7449.74,-5.1,21,-59.4

In [24]:
# Trade summary.
tds = trade_summary(td)
tds.round({'volatility': 3, 'pct': 1, 'annual': 1})

           entry  volatility      cost       exit days   profit   pct  annual
trade
1     2009-09-18       0.211   7135.55 2011-05-20  609   407.39   5.7     3.4
2     2013-01-04       0.137  10955.55 2013-12-13  343   633.00   5.8     6.2
3     2014-11-21       0.060  25044.78 2015-07-17  238  1611.87   6.4    10.0
4     2016-07-01       0.110  13678.53 2018-10-05  826  5012.36  36.6    14.8
5     2020-09-18       0.170   8882.25 2021-10-29  406   537.56   6.1     5.4
6     2022-04-22       0.077  19511.47 2022-05-13   21  -752.44  -3.9   -49.5