In [1]:
# Donchian Weekly Classic Trend Following System
import gta_price
import numpy as np
import pandas as pd

In [2]:
# Trade parameters.
exchange = 'LSE'
tidm = 'HSV'
timeframe = 'Weekly'
filename = f'{exchange}_{tidm}_prices.csv'
p = [48, 24, 12, 6] # Look back periods.
position_size = 7500  # Position size in major currency unit.
risk_pct = 0.2 # Percentage risk per trade.
commission = 11.95  # Commission per trade.
sduty = 0.5  # Stamp Duty percentage.

In [3]:
# Function definitions.
def charges(date, commission):
    '''Calculate trading charges.'''
    df = pd.DataFrame(index=date, columns=['date_shift', 'charges'])
    df.date_shift = df.index.values
    df.date_shift = df.date_shift.shift()
    df.charges = np.where(df.index == df.date_shift, 0, commission)
    return df.charges

def donchian(prices, period):
    '''Calculate upper, lower, & middle Donchian lines.'''
    df = pd.DataFrame()
    df['upr'] = prices.high.rolling(period).max().shift(periods=1)
    df['lwr'] = prices.low.rolling(period).min().shift(periods=1)
    df['mid'] = 0.5 * (df.upr + df.lwr)
    return df

def shares_div4(shares):
    '''Modify number of shares to be purchased to be divisible by 4.'''
    s = pd.Series(shares.values)
    for i in s.index:
        while s.iloc[i] % 4 != 0:
            s.iloc[i] += 1
    return shares

def state(entry_signal, exit_signal, period):
    '''Calculate trade state signals.'''
    df = pd.concat([entry_signal, exit_signal], axis=1)
    df.columns = ['entry', 'exit']
    df['state'] = 0
    for i in range(period, len(df)):
        if df.loc[df.index[i], 'entry'] == 1 \
        and df.loc[df.index[i - 1], 'state'] == 0:
            df.loc[df.index[i], 'state'] = 1
        elif df.loc[df.index[i], 'exit'] == 1:
            df.loc[df.index[i], 'state'] = 0
        else:
            df.loc[df.index[i], 'state'] = df.loc[df.index[i - 1], 'state']
    return df.state

def trade_summary(trade_list):
    '''Generate trade summary.'''
    frame = pd.DataFrame(columns=['trade', 'entry', 'volatility','cost', 'exit', 'days', 'profit', 'pct', 'annual'])
    if trade_list.entry.iloc[-1] == 1:
        trade_num = trade_list.index.max()
    else:
        trade_num = trade_list.index.max() + 1
        
    for i in list(range(1, trade_num)):
        df = trade_list.loc[i]
        trade = df.index[0]
        entry = df.date.iloc[0]
        volatility = df.volatility.iloc[0]
        cost = df.cost.iloc[0]
        exit = df.date.iloc[-1]
        days = df.days.iloc[-1]
        profit = df.profit.sum()
        pct = (profit / cost) * 100
        annual = ((1 + pct / 100) ** (365 / days) - 1) * 100
        frame.loc[i] = [trade, entry, volatility, cost, exit, days, profit, pct, annual]
    frame = frame.set_index('trade')
    return frame

pd.set_option("display.max_columns", None)

In [4]:
# Import weekly closing prices.
prices = gta_price.weekly(exchange, tidm)

In [5]:
# Donchian channels.
for i in range(len(p)):
    globals()[f'p{i + 1}'] = p[i]
    globals()[f'dc{i + 1}'] = donchian(prices, p[i])

In [6]:
# System 1 entries & exits.
s1 = pd.concat([prices, dc1], axis=1)
s1['sys'] = 1
s1['buy'] = np.where(s1.close > s1.upr, 1, 0)
s1['sell'] = np.where(s1.close < s1.mid, 1, 0)
s1['state'] = state(s1.buy, s1.sell, p1)
s1['entry'] = np.where(np.logical_and(s1.state == 1, s1.state.shift(periods=1) == 0), 1, 0)
s1['exit'] = np.where(np.logical_and(s1.state == 0, s1.state.shift(periods=1) == 1), 1, 0)

In [7]:
# System 2 entries & exits.
s2 = pd.concat([prices, dc2], axis=1)
s2['sys'] = 2
s2['buy'] = s1.entry
s2['sell'] = np.where(s2.close < s2.mid, 1, 0)
s2['state'] = state(s2.buy, s2.sell, p2)
s2['entry'] = np.where(np.logical_and(s2.state == 1, s2.state.shift(periods=1) == 0), 1, 0)
s2['exit'] = np.where(np.logical_and(s2.state == 0, s2.state.shift(periods=1) == 1), 1, 0)

In [8]:
# System 3 entries & exits.
s3 = pd.concat([prices, dc3], axis=1)
s3['sys'] = 3
s3['buy'] = s1.entry
s3['sell'] = np.where(s3.close < s3.mid, 1, 0)
s3['state'] = state(s3.buy, s3.sell, p3)
s3['entry'] = np.where(np.logical_and(s3.state == 1, s3.state.shift(periods=1) == 0), 1, 0)
s3['exit'] = np.where(np.logical_and(s3.state == 0, s3.state.shift(periods=1) == 1), 1, 0)

In [9]:
# System 4 entries & exits.
s4 = pd.concat([prices, dc4], axis=1)
s4['sys'] = 4
s4['buy'] = s1.entry
s4['sell'] = np.where(s4.close < s4.mid, 1, 0)
s4['state'] = state(s4.buy, s4.sell, p4)
s4['entry'] = np.where(np.logical_and(s4.state == 1, s4.state.shift(periods=1) == 0), 1, 0)
s4['exit'] = np.where(np.logical_and(s4.state == 0, s4.state.shift(periods=1) == 1), 1, 0)

In [10]:
# Trade list indexed by date.
td = pd.concat([s1[s1.entry == 1] , s1[s1.exit == 1], s2[s2.exit == 1], s3[s3.exit == 1], s4[s4.exit == 1]], axis=0)
td = td.sort_index()

In [11]:
# Position size (buy).
td['volatility'] = np.where(td.entry == 1, abs((td.mid - td.close) / td.close), 0)
td['risk_amt'] = np.where(td.entry == 1, ((position_size * risk_pct) / td.volatility), 0)
td['shares'] = np.where(td.entry == 1, (td.risk_amt / td.close).astype('int'), 0)
td.shares = shares_div4(td.shares) # Modify number of shares to be purchased to be divisible by 4.
td.risk_amt = np.where(td.entry == 1, (td.close * td.shares), 0) # Adjust risk amount for revised share count.

In [12]:
# Position size (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        shares = row['shares']
    elif row['exit'] == 1:
        td.at[index, 'shares'] = int(shares / 4)

In [13]:
# Charges.
td['charges'] = charges(td.index, commission)

In [14]:
# Stamp duty.
td['sduty'] = np.where(td.entry==1, ((sduty / 100) * td.close * td.shares), 0)

In [15]:
# Cost (buy).
td['cost'] = np.where(td.entry == 1, ((td.close * td.shares) + td.charges + td.sduty), 0)

In [16]:
# Cost (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        cost = row['cost']
    elif row['exit'] == 1:
        td.at[index, 'cost'] = (cost / 4)

In [17]:
# Value (sell).
td['value'] = np.where(td.exit == 1, ((td.close * td.shares) - td.charges), 0)

In [18]:
# Profit.
td['profit'] = np.where(td.exit == 1, td.value - td.cost, 0)

In [19]:
# Cumulative profit.
td['profit_cum'] = td.profit.cumsum()

In [20]:
# Percentage return.
td['pct'] = np.where(td.exit == 1, ((td.profit / td.cost) * 100), 0)

In [21]:
# Trade duration.
td['days'] = 0
for index, row in td.iterrows():
    if row['entry'] == 1:
        start_date = index
    elif row['exit'] == 1:
        td.at[index, 'days'] = index - start_date
td.days = td.days.astype('timedelta64[D]')
td.days = td.days.dt.days

In [22]:
# Annual percentage return.
td['annual'] = ((np.power(1 + td.profit / td.cost, (365 / td.days)) - 1) * 100)

In [23]:
# Trade list indexed by trade.
td['trade'] = td.state.cumsum()
td = td.reset_index()
td = td.set_index('trade')
td

,date,open,high,low,close,upr,lwr,mid,sys,buy,sell,state,entry,exit,volatility,risk_amt,shares,charges,sduty,cost,value,profit,profit_cum,pct,days,annual
trade,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2001-12-07,1.1954,1.2277,1.1954,1.2277,1.2062,0.87769,1.041945,1,1,0,1,1,0,0.151303,9914.9052,8076,11.95,49.574526,9976.429726,0.0000,0.000000,0.000000,0.000000,0,0.000000
1,2002-02-01,1.3462,1.3462,1.3031,1.3085,1.3591,1.27080,1.314950,4,0,1,0,0,1,0.000000,0.0000,2019,11.95,0.000000,2494.107432,2629.9115,135.804069,135.804069,5.444997,56,41.279788
1,2002-02-22,1.3085,1.3085,1.2568,1.2568,1.3591,1.19000,1.274550,3,0,1,0,0,1,0.000000,0.0000,2019,11.95,0.000000,2494.107432,2525.5292,31.421769,167.225837,1.259840,77,6.114301
1,2002-04-05,1.2385,1.2492,1.2094,1.2148,1.3591,1.10380,1.231450,2,0,1,0,0,1,0.000000,0.0000,2019,11.95,0.000000,2494.107432,2440.7312,-53.376231,113.849606,-2.140094,119,-6.420056
1,2002-09-06,1.1792,1.1846,1.1415,1.1469,1.3591,0.99077,1.174935,1,0,1,0,0,1,0.000000,0.0000,2019,11.95,0.000000,2494.107432,2303.6411,-190.466331,-76.616726,-7.636653,273,-10.076506
2,2003-09-05,1.1254,1.1738,1.1200,1.1706,1.1415,0.78615,0.963825,1,1,0,1,1,0,0.176640,8493.8736,7256,11.95,42.469368,8548.292968,0.0000,0.000000,-76.616726,0.000000,0,0.000000
2,2003-10-03,1.1577,1.1631,1.1523,1.1577,1.1954,1.12000,1.157700,4,0,1,0,0,1,0.000000,0.0000,1814,11.95,0.000000,2137.073242,2088.1178,-48.955442,-125.572168,-2.290770,28,-26.072978
2,2003-10-10,1.1545,1.1545,1.0985,1.1092,1.1954,1.05320,1.124300,3,0,1,0,0,1,0.000000,0.0000,1814,11.95,0.000000,2137.073242,2000.1388,-136.934442,-262.506610,-6.407569,35,-49.871827
2,2004-02-06,1.1825,1.1825,1.1458,1.1458,1.2385,1.09310,1.165800,2,0,1,0,0,1,0.000000,0.0000,1814,11.95,0.000000,2137.073242,2066.5312,-70.542042,-333.048652,-3.300872,154,-7.647305
2,2007-07-27,3.8769,3.9415,3.5668,3.5969,4.3917,3.41600,3.903850,1,0,1,0,0,1,0.000000,0.0000,1814,11.95,0.000000,2137.073242,6512.8266,4375.753358,4042.704706,204.754487,1421,33.139857
3,2009-09-11,3.1898,3.4397,3.1683,3.3514,3.2997,1.77910,2.539400,1,1,0,1,1,0,0.242287,6193.3872,1848,11.95,30.966936,6236.304136,0.0000,0.000000,4042.704706,0.000000,0,0.000000
3,2009-11-06,3.5086,3.5194,3.3212,3.4462,3.7735,3.19200,3.482750,4,0,1,0,0,1,0.000000,0.0000,462,11.95,0.000000,1559.076034,1580.1944,21.118366,4063.823072,1.354544,56,9.165471
3,2009-11-20,3.4246,3.4785,3.2782,3.2954,3.7735,2.96800,3.370750,3,0,1,0,0,1,0.000000,0.0000,462,11.95,0.000000,1559.076034,1510.5248,-48.551234,4015.271838,-3.114103,70,-15.207262
3,2009-11-20,3.4246,3.4785,3.2782,3.2954,3.7735,2.87750,3.325500,2,0,1,0,0,1,0.000000,0.0000,462,0.00,0.000000,1559.076034,1522.4748,-36.601234,3978.670604,-2.347623,70,-11.650670
3,2010-11-12,4.6986,4.7148,4.3745,4.3938,5.4062,3.41600,4.411100,1,0,1,0,0,1,0.000000,0.0000,462,11.95,0.000000,1559.076034,2017.9856,458.909566,4437.580170,29.434714,427,24.675495
4,2011-05-06,5.2898,5.4492,5.2834,5.4277,5.4062,4.21080,4.808500,1,1,0,1,1,0,0.114081,13156.7448,2424,11.95,65.783724,13234.478524,0.0000,0.000000,4437.580170,0.000000,0,0.000000
4,2011-06-24,5.6754,5.6808,5.5146,5.5300,5.7615,5.31680,5.539150,4,0,1,0,0,1,0.000000,0.0000,606,11.95,0.000000,3308.619631,3339.2300,30.610369,4468.190539,0.925170,49,7.100655
4,2011-07-22,5.3308,5.3609,5.1822,5.3308,5.7615,5.05080,5.406150,3,0,1,0,0,1,0.000000,0.0000,606,11.95,0.000000,3308.619631,3218.5148,-90.104831,4378.085708,-2.723336,77,-12.268011
4,2011-07-29,5.3049,5.3981,5.1100,5.1972,5.7615,4.65340,5.207450,2,0,1,0,0,1,0.000000,0.0000,606,11.95,0.000000,3308.619631,3137.5532,-171.066431,4207.019277,-5.170326,84,-20.600585
4,2011-08-05,5.2231,5.3168,4.6814,4.8623,5.7615,4.36580,5.063650,1,0,1,0,0,1,0.000000,0.0000,606,11.95,0.000000,3308.619631,2934.6038,-374.015831,3833.003446,-11.304286,91,-38.192947
5,2013-05-24,2.3843,2.8571,2.3843,2.7462,2.7085,1.56260,2.135550,1,1,0,1,1,0,0.222362,6744.6672,2456,11.95,33.723336,6790.340536,0.0000,0.000000,3833.003446,0.000000,0,0.000000
5,2013-07-26,3.1468,3.1909,2.7375,2.8646,3.2060,2.83020,3.018100,4,0,1,0,0,1,0.000000,0.0000,614,11.95,0.000000,1697.585134,1746.9144,49.329266,3882.332712,2.905849,63,18.052006
5,2013-08-09,2.9088,2.9422,2.6998,2.7322,3.2060,2.27660,2.741300,3,0,1,0,0,1,0.000000,0.0000,614,11.95,0.000000,1697.585134,1665.6208,-31.964334,3850.368378,-1.882930,77,-8.616639
5,2013-10-18,2.7203,2.7515,2.4231,2.5308,3.2060,1.99120,2.598600,1,0,1,0,0,1,0.000000,0.0000,614,11.95,0.000000,1697.585134,1541.9612,-155.623934,3694.744444,-9.167371,147,-21.238337
5,2013-10-18,2.7203,2.7515,2.4231,2.5308,3.2060,2.18620,2.696100,2,0,1,0,0,1,0.000000,0.0000,614,0.00,0.000000,1697.585134,1553.9112,-143.673934,3551.070510,-8.463430,147,-19.714016
6,2014-01-31,3.0563,3.5646,3.0369,3.5280,3.3385,1.99120,2.664850,1,1,0,1,1,0,0.244657,6138.7200,1740,11.95,30.693600,6181.363600,0.0000,0.000000,3551.070510,0.000000,0,0.000000
6,2014-03-14,3.4828,3.5355,3.2986,3.3148,3.7929,3.03690,3.414900,4,0,1,0,0,1,0.000000,0.0000,435,11.95,0.000000,1545.340900,1429.9880,-115.352900,3435.717610,-7.464560,42,-49.043300
6,2014-05-16,3.7100,3.7929,3.4580,3.4892,3.7929,3.24580,3.519350,3,0,1,0,0,1,0.000000,0.0000,435,11.95,0.000000,1545.340900,1505.8520,-39.488900,3396.228710,-2.555352,105,-8.605379
6,2014-07-04,3.3600,3.4968,3.3331,3.3600,3.7929,2.97660,3.384750,2,0,1,0,0,1,0.000000,0.0000,435,11.95,0.000000,1545.340900,1449.6500,-95.690900,3300.537810,-6.192219,154,-14.058586
6,2015-10-02,4.1800,4.2060,4.0470,4.0760,4.7977,3.44400,4.120850,1,0,1,0,0,1,0.000000,0.0000,435,11.95,0.000000,1545.340900,1761.1100,215.769100,3516.306910,13.962557,609,8.148382
7,2016-05-27,4.1760,4.9320,4.1760,4.8800,4.7977,3.56100,4.179350,1,1,0,1,1,0,0.143576,10443.2000,2140,11.95,52.216000,10507.366000,0.0000,0.000000,3516.306910,0.000000,0,0.000000
7,2016-09-23,5.7550,5.8800,5.5950,5.6100,5.9100,5.50000,5.705000,4,0,1,0,0,1,0.000000,0.0000,535,11.95,0.000000,2626.841500,2989.4000,362.558500,3878.865410,13.802070,119,48.670665
7,2017-01-20,6.0450,6.1950,5.9000,6.0250,6.3350,5.78000,6.057500,3,0,1,0,0,1,0.000000,0.0000,535,11.95,0.000000,2626.841500,3211.4250,584.583500,4463.448910,22.254236,238,36.090909
7,2017-02-24,5.9200,5.9900,5.7150,5.8600,6.3350,5.55500,5.945000,2,0,1,0,0,1,0.000000,0.0000,535,11.95,0.000000,2626.841500,3123.1500,496.308500,4959.757410,18.893736,273,26.033870
7,2018-03-02,7.4700,7.5600,7.0400,7.0500,8.7200,5.46000,7.090000,1,0,1,0,0,1,0.000000,0.0000,535,11.95,0.000000,2626.841500,3759.8000,1132.958500,6092.715910,43.130067,644,22.535977
8,2018-05-25,8.4550,9.1450,7.9350,8.9200,8.7200,6.82500,7.772500,1,1,0,1,1,0,0.128643,11667.3600,1308,11.95,58.336800,11737.646800,0.0000,0.000000,6092.715910,0.000000,0,0.000000
8,2018-09-07,10.2800,10.4100,9.9450,10.0800,10.4600,9.75500,10.107500,4,0,1,0,0,1,0.000000,0.0000,327,11.95,0.000000,2934.411700,3284.2100,349.798300,6442.514210,11.920560,105,47.917663
8,2018-10-05,10.3000,10.4000,9.6600,9.6800,10.6600,9.17000,9.915000,3,0,1,0,0,1,0.000000,0.0000,327,11.95,0.000000,2934.411700,3153.4100,218.998300,6661.512510,7.463108,133,21.839206
8,2018-11-16,9.7800,9.8100,9.3050,9.3800,10.6600,8.69500,9.677500,2,0,1,0,0,1,0.000000,0.0000,327,11.95,0.000000,2934.411700,3055.3100,120.898300,6782.410810,4.120018,175,8.785599
8,2018-12-14,8.9700,9.0800,8.7600,8.8000,10.6600,7.00000,8.830000,1,0,1,0,0,1,0.000000,0.0000,327,11.95,0.000000,2934.411700,2865.6500,-68.761700,6713.649110,-2.343287,203,-4.173843
9,2019-04-05,10.2600,11.3500,10.2600,10.9500,10.6600,7.27500,8.967500,1,1,0,1,1,0,0.181050,8278.2000,756,11.95,41.391000,8331.541000,0.0000,0.000000,6713.649110,0.000000,0,0.000000
9,2019-05-10,10.8900,10.9000,10.6600,10.7100,11.7100,9.82000,10.765000,4,0,1,0,0,1,0.000000,0.0000,189,11.95,0.000000,2082.885250,2012.2400,-70.645250,6643.003860,-3.391701,35,-30.221449
9,2019-07-19,11.5900,11.6700,11.3300,11.4500,12.7500,10.17000,11.460000,3,0,1,0,0,1,0.000000,0.0000,189,11.95,0.000000,2082.885250,2152.1000,69.214750,6712.218610,3.323023,105,12.034514
9,2019-08-02,11.6800,11.9100,11.0600,11.0600,12.7500,9.52000,11.135000,2,0,1,0,0,1,0.000000,0.0000,189,11.95,0.000000,2082.885250,2078.3900,-4.495250,6707.723360,-0.215818,119,-0.660489
9,2020-03-13,11.2100,11.4500,9.3600,9.4850,13.5200,10.17000,11.845000,1,0,1,0,0,1,0.000000,0.0000,189,11.95,0.000000,2082.885250,1780.7150,-302.170250,6405.553110,-14.507292,343,-15.362465
10,2022-05-13,9.9250,11.2500,9.5600,10.6900,10.2400,5.79000,8.015000,1,1,0,1,1,0,0.250234,5986.4000,560,11.95,29.932000,6028.282000,0.0000,0.000000,6405.553110,0.000000,0,0.000000

In [24]:
# Trade summary.
tds = trade_summary(td)
tds.round({'volatility': 3, 'pct': 1, 'annual': 1})

,entry,volatility,cost,exit,days,profit,pct,annual
trade,,,,,,,,
1,2001-12-07,0.151,9976.429726,2002-09-06,273,-76.616726,-0.8,-1.0
2,2003-09-05,0.177,8548.292968,2007-07-27,1421,4119.321432,48.2,10.6
3,2009-09-11,0.242,6236.304136,2010-11-12,427,394.875464,6.3,5.4
4,2011-05-06,0.114,13234.478524,2011-08-05,91,-604.576724,-4.6,-17.1
5,2013-05-24,0.222,6790.340536,2013-10-18,147,-281.932936,-4.2,-10.0
6,2014-01-31,0.245,6181.363600,2015-10-02,609,-34.763600,-0.6,-0.3
7,2016-05-27,0.144,10507.366000,2018-03-02,644,2576.409000,24.5,13.2
8,2018-05-25,0.129,11737.646800,2018-12-14,203,620.933200,5.3,9.7
9,2019-04-05,0.181,8331.541000,2020-03-13,343,-308.096000,-3.7,-3.9

In [25]:
cost_total = tds.cost.sum()
cost_total

81543.76329

In [26]:
profit_total = tds.profit.sum()
profit_total

6405.553110000004

In [27]:
pct_total = (profit_total / cost_total) * 100
pct_total

7.855356254799611

In [28]:
days_total = (tds.exit.iloc[-1] - tds.entry.iloc[0])
days_total = days_total.days
days_total

6671

In [29]:
annual_total = ((1 + pct_total / 100) ** (365 / days_total) - 1) * 100
annual_total

0.41461235899182824