In [1]:
# Donchian Weekly Classic Trend Following System
import gta_prices
import gta_size
import numpy as np
import pandas as pd

In [2]:
# Trade parameters.
exchange = 'LSE'
tidm = 'HSV'
timeframe = 'Weekly'
filename = f'{exchange}_{tidm}_prices.csv'
p = [48, 24, 12, 6] # Look back periods.
position_size = 7500  # Position size in major currency unit.
risk_pct = 0.2 # Percentage risk per trade.
commission = 11.95  # Commission per trade.
sduty = 0.5  # Stamp Duty percentage.

In [3]:
# Function definitions.
def charges(date, commission):
    '''Calculate trading charges.'''
    df = pd.DataFrame(index=date, columns=['date_shift', 'charges'])
    df.date_shift = df.index.values
    df.date_shift = df.date_shift.shift()
    df.charges = np.where(df.index == df.date_shift, 0, commission)
    return df.charges

def donchian(prices, period):
    '''Calculate upper, lower, & middle Donchian lines.'''
    df = pd.DataFrame()
    df['upr'] = prices.high.rolling(period).max().shift(periods=1)
    df['lwr'] = prices.low.rolling(period).min().shift(periods=1)
    df['mid'] = 0.5 * (df.upr + df.lwr)
    return df

def state(entry_signal, exit_signal, period):
    '''Calculate trade state signals.'''
    df = pd.concat([entry_signal, exit_signal], axis=1)
    df.columns = ['entry', 'exit']
    df['state'] = 0
    for i in range(period, len(df)):
        if df.loc[df.index[i], 'entry'] == 1 \
        and df.loc[df.index[i - 1], 'state'] == 0:
            df.loc[df.index[i], 'state'] = 1
        elif df.loc[df.index[i], 'exit'] == 1:
            df.loc[df.index[i], 'state'] = 0
        else:
            df.loc[df.index[i], 'state'] = df.loc[df.index[i - 1], 'state']
    return df.state

def trade_summary(trade_list):
    '''Generate trade summary.'''
    frame = pd.DataFrame(columns=['trade', 'entry', 'volatility','cost', 'exit', 'days', 'profit', 'pct', 'annual'])
    if trade_list.entry.iloc[-1] == 1:
        trade_num = trade_list.index.max()
    else:
        trade_num = trade_list.index.max() + 1
        
    for i in list(range(1, trade_num)):
        df = trade_list.loc[i]
        trade = df.index[0]
        entry = df.date.iloc[0]
        volatility = df.volatility.iloc[0]
        cost = df.cost.iloc[0]
        exit = df.date.iloc[-1]
        days = df.days.iloc[-1]
        profit = df.profit.sum()
        pct = (profit / cost) * 100
        annual = ((1 + pct / 100) ** (365 / days) - 1) * 100
        frame.loc[i] = [trade, entry, volatility, cost, exit, days, profit, pct, annual]
    frame = frame.set_index('trade')
    return frame

pd.set_option("display.max_columns", None)

In [4]:
# Import weekly closing prices.
prices = gta_prices.weekly(exchange, tidm)

In [5]:
# Donchian channels.
for i in range(len(p)):
    globals()[f'p{i + 1}'] = p[i]
    globals()[f'dc{i + 1}'] = donchian(prices, p[i])

In [6]:
# System 1 entries & exits.
s1 = pd.concat([prices, dc1], axis=1)
s1['sys'] = 1
s1['buy'] = np.where(s1.close > s1.upr, 1, 0)
s1['sell'] = np.where(s1.close < s1.mid, 1, 0)
s1['state'] = state(s1.buy, s1.sell, p1)
s1['entry'] = np.where(np.logical_and(s1.state == 1, s1.state.shift(periods=1) == 0), 1, 0)
s1['exit'] = np.where(np.logical_and(s1.state == 0, s1.state.shift(periods=1) == 1), 1, 0)

In [7]:
# System 2 entries & exits.
s2 = pd.concat([prices, dc2], axis=1)
s2['sys'] = 2
s2['buy'] = s1.entry
s2['sell'] = np.where(s2.close < s2.mid, 1, 0)
s2['state'] = state(s2.buy, s2.sell, p2)
s2['entry'] = np.where(np.logical_and(s2.state == 1, s2.state.shift(periods=1) == 0), 1, 0)
s2['exit'] = np.where(np.logical_and(s2.state == 0, s2.state.shift(periods=1) == 1), 1, 0)

In [8]:
# System 3 entries & exits.
s3 = pd.concat([prices, dc3], axis=1)
s3['sys'] = 3
s3['buy'] = s1.entry
s3['sell'] = np.where(s3.close < s3.mid, 1, 0)
s3['state'] = state(s3.buy, s3.sell, p3)
s3['entry'] = np.where(np.logical_and(s3.state == 1, s3.state.shift(periods=1) == 0), 1, 0)
s3['exit'] = np.where(np.logical_and(s3.state == 0, s3.state.shift(periods=1) == 1), 1, 0)

In [9]:
# System 4 entries & exits.
s4 = pd.concat([prices, dc4], axis=1)
s4['sys'] = 4
s4['buy'] = s1.entry
s4['sell'] = np.where(s4.close < s4.mid, 1, 0)
s4['state'] = state(s4.buy, s4.sell, p4)
s4['entry'] = np.where(np.logical_and(s4.state == 1, s4.state.shift(periods=1) == 0), 1, 0)
s4['exit'] = np.where(np.logical_and(s4.state == 0, s4.state.shift(periods=1) == 1), 1, 0)

In [10]:
# Trade list indexed by date.
td = pd.concat([s1[s1.entry == 1] , s1[s1.exit == 1], s2[s2.exit == 1], s3[s3.exit == 1], s4[s4.exit == 1]], axis=0)
td = td.sort_index()

In [11]:
# Position size (buy).
td['volatility'] = np.where(td.entry == 1, abs((td.mid - td.close) / td.close), 0)
td['risk_amt'] = np.where(td.entry == 1, ((position_size * risk_pct) / td.volatility), 0)
td['shares'] = np.where(td.entry == 1, (td.risk_amt / td.close).astype('int'), 0)
td.shares = gta_size.remainder_zero(td.shares, 4) # Modify number of shares to be purchased to be divisible by 4.
td.risk_amt = np.where(td.entry == 1, (td.close * td.shares), 0) # Adjust risk amount for revised share count.

In [12]:
# Position size (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        shares = row['shares']
    elif row['exit'] == 1:
        td.at[index, 'shares'] = int(shares / 4)

In [13]:
# Charges.
td['charges'] = charges(td.index, commission)

In [14]:
# Stamp duty.
td['sduty'] = np.where(td.entry==1, ((sduty / 100) * td.close * td.shares), 0)

In [15]:
# Cost (buy).
td['cost'] = np.where(td.entry == 1, ((td.close * td.shares) + td.charges + td.sduty), 0)

In [16]:
# Cost (sell).
for index, row in td.iterrows():
    if row['entry'] == 1:
        cost = row['cost']
    elif row['exit'] == 1:
        td.at[index, 'cost'] = (cost / 4)

In [17]:
# Value (sell).
td['value'] = np.where(td.exit == 1, ((td.close * td.shares) - td.charges), 0)

In [18]:
# Profit.
td['profit'] = np.where(td.exit == 1, td.value - td.cost, 0)

In [19]:
# Cumulative profit.
td['profit_cum'] = td.profit.cumsum()

In [20]:
# Percentage return.
td['pct'] = np.where(td.exit == 1, ((td.profit / td.cost) * 100), 0)

In [21]:
# Trade duration.
td['days'] = 0
for index, row in td.iterrows():
    if row['entry'] == 1:
        start_date = index
    elif row['exit'] == 1:
        td.at[index, 'days'] = index - start_date
td.days = td.days.astype('timedelta64[D]')
td.days = td.days.dt.days

In [22]:
# Annual percentage return.
td['annual'] = ((np.power(1 + td.profit / td.cost, (365 / td.days)) - 1) * 100)

In [23]:
# Trade list indexed by trade.
td['trade'] = td.state.cumsum()
td = td.reset_index()
td = td.set_index('trade')
td.round(2)

,date,open,high,low,close,upr,lwr,mid,sys,buy,sell,state,entry,exit,volatility,risk_amt,shares,charges,sduty,cost,value,profit,profit_cum,pct,days,annual
trade,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2001-12-07,1.20,1.23,1.20,1.23,1.21,0.88,1.04,1,1,0,1,1,0,0.15,9914.91,8076,11.95,49.57,9976.43,0.00,0.00,0.00,0.00,0,0.00
1,2002-02-01,1.35,1.35,1.30,1.31,1.36,1.27,1.31,4,0,1,0,0,1,0.00,0.00,2019,11.95,0.00,2494.11,2629.91,135.80,135.80,5.44,56,41.28
1,2002-02-22,1.31,1.31,1.26,1.26,1.36,1.19,1.27,3,0,1,0,0,1,0.00,0.00,2019,11.95,0.00,2494.11,2525.53,31.42,167.23,1.26,77,6.11
1,2002-04-05,1.24,1.25,1.21,1.21,1.36,1.10,1.23,2,0,1,0,0,1,0.00,0.00,2019,11.95,0.00,2494.11,2440.73,-53.38,113.85,-2.14,119,-6.42
1,2002-09-06,1.18,1.18,1.14,1.15,1.36,0.99,1.17,1,0,1,0,0,1,0.00,0.00,2019,11.95,0.00,2494.11,2303.64,-190.47,-76.62,-7.64,273,-10.08
2,2003-09-05,1.13,1.17,1.12,1.17,1.14,0.79,0.96,1,1,0,1,1,0,0.18,8493.87,7256,11.95,42.47,8548.29,0.00,0.00,-76.62,0.00,0,0.00
2,2003-10-03,1.16,1.16,1.15,1.16,1.20,1.12,1.16,4,0,1,0,0,1,0.00,0.00,1814,11.95,0.00,2137.07,2088.12,-48.96,-125.57,-2.29,28,-26.07
2,2003-10-10,1.15,1.15,1.10,1.11,1.20,1.05,1.12,3,0,1,0,0,1,0.00,0.00,1814,11.95,0.00,2137.07,2000.14,-136.93,-262.51,-6.41,35,-49.87
2,2004-02-06,1.18,1.18,1.15,1.15,1.24,1.09,1.17,2,0,1,0,0,1,0.00,0.00,1814,11.95,0.00,2137.07,2066.53,-70.54,-333.05,-3.30,154,-7.65
2,2007-07-27,3.88,3.94,3.57,3.60,4.39,3.42,3.90,1,0,1,0,0,1,0.00,0.00,1814,11.95,0.00,2137.07,6512.83,4375.75,4042.70,204.75,1421,33.14
3,2009-09-11,3.19,3.44,3.17,3.35,3.30,1.78,2.54,1,1,0,1,1,0,0.24,6193.39,1848,11.95,30.97,6236.30,0.00,0.00,4042.70,0.00,0,0.00
3,2009-11-06,3.51,3.52,3.32,3.45,3.77,3.19,3.48,4,0,1,0,0,1,0.00,0.00,462,11.95,0.00,1559.08,1580.19,21.12,4063.82,1.35,56,9.17
3,2009-11-20,3.42,3.48,3.28,3.30,3.77,2.97,3.37,3,0,1,0,0,1,0.00,0.00,462,11.95,0.00,1559.08,1510.52,-48.55,4015.27,-3.11,70,-15.21
3,2009-11-20,3.42,3.48,3.28,3.30,3.77,2.88,3.33,2,0,1,0,0,1,0.00,0.00,462,0.00,0.00,1559.08,1522.47,-36.60,3978.67,-2.35,70,-11.65
3,2010-11-12,4.70,4.71,4.37,4.39,5.41,3.42,4.41,1,0,1,0,0,1,0.00,0.00,462,11.95,0.00,1559.08,2017.99,458.91,4437.58,29.43,427,24.68
4,2011-05-06,5.29,5.45,5.28,5.43,5.41,4.21,4.81,1,1,0,1,1,0,0.11,13156.74,2424,11.95,65.78,13234.48,0.00,0.00,4437.58,0.00,0,0.00
4,2011-06-24,5.68,5.68,5.51,5.53,5.76,5.32,5.54,4,0,1,0,0,1,0.00,0.00,606,11.95,0.00,3308.62,3339.23,30.61,4468.19,0.93,49,7.10
4,2011-07-22,5.33,5.36,5.18,5.33,5.76,5.05,5.41,3,0,1,0,0,1,0.00,0.00,606,11.95,0.00,3308.62,3218.51,-90.10,4378.09,-2.72,77,-12.27
4,2011-07-29,5.30,5.40,5.11,5.20,5.76,4.65,5.21,2,0,1,0,0,1,0.00,0.00,606,11.95,0.00,3308.62,3137.55,-171.07,4207.02,-5.17,84,-20.60
4,2011-08-05,5.22,5.32,4.68,4.86,5.76,4.37,5.06,1,0,1,0,0,1,0.00,0.00,606,11.95,0.00,3308.62,2934.60,-374.02,3833.00,-11.30,91,-38.19
5,2013-05-24,2.38,2.86,2.38,2.75,2.71,1.56,2.14,1,1,0,1,1,0,0.22,6744.67,2456,11.95,33.72,6790.34,0.00,0.00,3833.00,0.00,0,0.00
5,2013-07-26,3.15,3.19,2.74,2.86,3.21,2.83,3.02,4,0,1,0,0,1,0.00,0.00,614,11.95,0.00,1697.59,1746.91,49.33,3882.33,2.91,63,18.05
5,2013-08-09,2.91,2.94,2.70,2.73,3.21,2.28,2.74,3,0,1,0,0,1,0.00,0.00,614,11.95,0.00,1697.59,1665.62,-31.96,3850.37,-1.88,77,-8.62
5,2013-10-18,2.72,2.75,2.42,2.53,3.21,1.99,2.60,1,0,1,0,0,1,0.00,0.00,614,11.95,0.00,1697.59,1541.96,-155.62,3694.74,-9.17,147,-21.24
5,2013-10-18,2.72,2.75,2.42,2.53,3.21,2.19,2.70,2,0,1,0,0,1,0.00,0.00,614,0.00,0.00,1697.59,1553.91,-143.67,3551.07,-8.46,147,-19.71
6,2014-01-31,3.06,3.56,3.04,3.53,3.34,1.99,2.66,1,1,0,1,1,0,0.24,6138.72,1740,11.95,30.69,6181.36,0.00,0.00,3551.07,0.00,0,0.00
6,2014-03-14,3.48,3.54,3.30,3.31,3.79,3.04,3.41,4,0,1,0,0,1,0.00,0.00,435,11.95,0.00,1545.34,1429.99,-115.35,3435.72,-7.46,42,-49.04
6,2014-05-16,3.71,3.79,3.46,3.49,3.79,3.25,3.52,3,0,1,0,0,1,0.00,0.00,435,11.95,0.00,1545.34,1505.85,-39.49,3396.23,-2.56,105,-8.61
6,2014-07-04,3.36,3.50,3.33,3.36,3.79,2.98,3.38,2,0,1,0,0,1,0.00,0.00,435,11.95,0.00,1545.34,1449.65,-95.69,3300.54,-6.19,154,-14.06
6,2015-10-02,4.18,4.21,4.05,4.08,4.80,3.44,4.12,1,0,1,0,0,1,0.00,0.00,435,11.95,0.00,1545.34,1761.11,215.77,3516.31,13.96,609,8.15
7,2016-05-27,4.18,4.93,4.18,4.88,4.80,3.56,4.18,1,1,0,1,1,0,0.14,10443.20,2140,11.95,52.22,10507.37,0.00,0.00,3516.31,0.00,0,0.00
7,2016-09-23,5.76,5.88,5.60,5.61,5.91,5.50,5.70,4,0,1,0,0,1,0.00,0.00,535,11.95,0.00,2626.84,2989.40,362.56,3878.87,13.80,119,48.67
7,2017-01-20,6.04,6.20,5.90,6.02,6.34,5.78,6.06,3,0,1,0,0,1,0.00,0.00,535,11.95,0.00,2626.84,3211.42,584.58,4463.45,22.25,238,36.09
7,2017-02-24,5.92,5.99,5.72,5.86,6.34,5.56,5.94,2,0,1,0,0,1,0.00,0.00,535,11.95,0.00,2626.84,3123.15,496.31,4959.76,18.89,273,26.03
7,2018-03-02,7.47,7.56,7.04,7.05,8.72,5.46,7.09,1,0,1,0,0,1,0.00,0.00,535,11.95,0.00,2626.84,3759.80,1132.96,6092.72,43.13,644,22.54
8,2018-05-25,8.46,9.14,7.94,8.92,8.72,6.82,7.77,1,1,0,1,1,0,0.13,11667.36,1308,11.95,58.34,11737.65,0.00,0.00,6092.72,0.00,0,0.00
8,2018-09-07,10.28,10.41,9.94,10.08,10.46,9.76,10.11,4,0,1,0,0,1,0.00,0.00,327,11.95,0.00,2934.41,3284.21,349.80,6442.51,11.92,105,47.92
8,2018-10-05,10.30,10.40,9.66,9.68,10.66,9.17,9.91,3,0,1,0,0,1,0.00,0.00,327,11.95,0.00,2934.41,3153.41,219.00,6661.51,7.46,133,21.84
8,2018-11-16,9.78,9.81,9.30,9.38,10.66,8.70,9.68,2,0,1,0,0,1,0.00,0.00,327,11.95,0.00,2934.41,3055.31,120.90,6782.41,4.12,175,8.79
8,2018-12-14,8.97,9.08,8.76,8.80,10.66,7.00,8.83,1,0,1,0,0,1,0.00,0.00,327,11.95,0.00,2934.41,2865.65,-68.76,6713.65,-2.34,203,-4.17
9,2019-04-05,10.26,11.35,10.26,10.95,10.66,7.28,8.97,1,1,0,1,1,0,0.18,8278.20,756,11.95,41.39,8331.54,0.00,0.00,6713.65,0.00,0,0.00
9,2019-05-10,10.89,10.90,10.66,10.71,11.71,9.82,10.76,4,0,1,0,0,1,0.00,0.00,189,11.95,0.00,2082.89,2012.24,-70.65,6643.00,-3.39,35,-30.22
9,2019-07-19,11.59,11.67,11.33,11.45,12.75,10.17,11.46,3,0,1,0,0,1,0.00,0.00,189,11.95,0.00,2082.89,2152.10,69.21,6712.22,3.32,105,12.03
9,2019-08-02,11.68,11.91,11.06,11.06,12.75,9.52,11.14,2,0,1,0,0,1,0.00,0.00,189,11.95,0.00,2082.89,2078.39,-4.50,6707.72,-0.22,119,-0.66
9,2020-03-13,11.21,11.45,9.36,9.48,13.52,10.17,11.84,1,0,1,0,0,1,0.00,0.00,189,11.95,0.00,2082.89,1780.72,-302.17,6405.55,-14.51,343,-15.36
10,2022-05-13,9.93,11.25,9.56,10.69,10.24,5.79,8.02,1,1,0,1,1,0,0.25,5986.40,560,11.95,29.93,6028.28,0.00,0.00,6405.55,0.00,0,0.00

In [24]:
# Trade summary.
tds = trade_summary(td)
tds.round({'volatility': 3, 'pct': 1, 'annual': 1})

,entry,volatility,cost,exit,days,profit,pct,annual
trade,,,,,,,,
1,2001-12-07,0.151,9976.429726,2002-09-06,273,-76.616726,-0.8,-1.0
2,2003-09-05,0.177,8548.292968,2007-07-27,1421,4119.321432,48.2,10.6
3,2009-09-11,0.242,6236.304136,2010-11-12,427,394.875464,6.3,5.4
4,2011-05-06,0.114,13234.478524,2011-08-05,91,-604.576724,-4.6,-17.1
5,2013-05-24,0.222,6790.340536,2013-10-18,147,-281.932936,-4.2,-10.0
6,2014-01-31,0.245,6181.363600,2015-10-02,609,-34.763600,-0.6,-0.3
7,2016-05-27,0.144,10507.366000,2018-03-02,644,2576.409000,24.5,13.2
8,2018-05-25,0.129,11737.646800,2018-12-14,203,620.933200,5.3,9.7
9,2019-04-05,0.181,8331.541000,2020-03-13,343,-308.096000,-3.7,-3.9

In [25]:
cost_total = tds.cost.sum()
cost_total

81543.76329

In [26]:
profit_total = tds.profit.sum()
profit_total

6405.553110000004

In [27]:
pct_total = (profit_total / cost_total) * 100
pct_total

7.855356254799611

In [28]:
days_total = (tds.exit.iloc[-1] - tds.entry.iloc[0])
days_total = days_total.days
days_total

6671

In [29]:
annual_total = ((1 + pct_total / 100) ** (365 / days_total) - 1) * 100
annual_total

0.41461235899182824