In [1]:
# RSI PowerZones Weekly
import gta_indicator
import gta_plot
import gta_prices
import gta_signals
import gta_statistics
import gta_trades
import numpy as np
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
# Trade parameters.
exchange = 'LSE'
tidm = 'IBPO'
timeframe = 'Weekly'
filename = f'{exchange}_{tidm}_prices.csv'
history_start = '2010-09-14'
p1 = 48 # System1 look back period.
p2 = 24 # System2 look back period.
p3 = 12 # System3 look back period.
p4 = 6  # System4 look back period.
strategy = f'Donchian'
position_size = 7500  # Position size in major currency unit.
charges = 11.95  # Commission per trade.
stamp_duty = 0.0  # Stamp Duty percentage.
stop_loss = 20  # Stop Loss percentage.

In [3]:
# Import weekly closing prices.
prices = gta_prices.weekly(exchange, tidm, history_start)

In [4]:
# Donchian channels.
dc1 = gta_indicator.donchian(prices, p1)
dc2 = gta_indicator.donchian(prices, p2)
dc3 = gta_indicator.donchian(prices, p3)
dc4 = gta_indicator.donchian(prices, p4)

In [5]:
# System1 trade list.
s1 = pd.concat([prices, dc1], axis=1)
s1['buy'] = np.where(s1.close > s1.upr, 1, 0)
s1['sell'] = np.where(s1.close < s1.mid, 1, 0)
s1['state'] = gta_signals.state_signal(s1.buy, s1.sell, p1)
s1['entry'] = np.where(np.logical_and(s1.state == 1, s1.state.shift(periods=1) == 0), 1, 0)
s1['exit'] = np.where(np.logical_and(s1.state == 0, s1.state.shift(periods=1) == 1), 1, 0)
t1 = gta_trades.trade_list(s1.close, s1.entry, s1.exit)
# td4 = td4.sort_index()
t1

            entry_price  exit_date  exit_price
date
2011-08-26        2.260 2013-08-02        3.51
2016-05-13        0.420 2017-07-21        0.66
2018-09-07        0.825 2020-02-28        2.17
2020-11-20        2.880 2021-05-07        2.97
2022-04-15        4.230 2022-04-22        4.28

In [6]:
# System2 trade list.
s2 = pd.concat([prices, dc2], axis=1)
s2['buy'] = s1.entry
s2['sell'] = np.where(s2.close < s2.mid, 1, 0)
s2['state'] = gta_signals.state_signal(s2.buy, s2.sell, p2)
s2['entry'] = np.where(np.logical_and(s2.state == 1, s2.state.shift(periods=1) == 0), 1, 0)
s2['exit'] = np.where(np.logical_and(s2.state == 0, s2.state.shift(periods=1) == 1), 1, 0)
t2 = gta_trades.trade_list(s2.close, s2.entry, s2.exit)
t2

            entry_price  exit_date  exit_price
date
2011-08-26        2.260 2013-03-29       3.625
2016-05-13        0.420 2017-03-10       0.775
2018-09-07        0.825 2019-12-06       2.600
2020-11-20        2.880 2021-02-12       2.920
2022-04-15        4.230 2022-04-22       4.280

In [7]:
# System3 trade list.
s3 = pd.concat([prices, dc3], axis=1)
s3['buy'] = s1.entry
s3['sell'] = np.where(s3.close < s3.mid, 1, 0)
s3['state'] = gta_signals.state_signal(s3.buy, s3.sell, p3)
s3['entry'] = np.where(np.logical_and(s3.state == 1, s3.state.shift(periods=1) == 0), 1, 0)
s3['exit'] = np.where(np.logical_and(s3.state == 0, s3.state.shift(periods=1) == 1), 1, 0)
t3 = gta_trades.trade_list(s3.close, s3.entry, s3.exit)
t3

            entry_price  exit_date  exit_price
date
2011-08-26        2.260 2012-06-01        3.45
2016-05-13        0.420 2017-02-17        0.82
2018-09-07        0.825 2019-10-11        2.75
2020-11-20        2.880 2021-01-29        3.15
2022-04-15        4.230 2022-04-22        4.28

In [8]:
# System4 trade list.
s4 = pd.concat([prices, dc4], axis=1)
s4['buy'] = s1.entry
s4['sell'] = np.where(s4.close < s4.mid, 1, 0)
s4['state'] = gta_signals.state_signal(s4.buy, s4.sell, p4)
s4['entry'] = np.where(np.logical_and(s4.state == 1, s4.state.shift(periods=1) == 0), 1, 0)
s4['exit'] = np.where(np.logical_and(s4.state == 0, s4.state.shift(periods=1) == 1), 1, 0)
t4 = gta_trades.trade_list(s4.close, s4.entry, s4.exit)
t4

            entry_price  exit_date  exit_price
date
2011-08-26        2.260 2011-10-14       2.325
2016-05-13        0.420 2016-06-24       0.440
2018-09-07        0.825 2018-12-21       1.075
2020-11-20        2.880 2020-12-25       2.700
2022-04-15        4.230 2022-04-22       4.280