In [1]:
# SIPP Portfolio Performance.
import numpy as np
import pandas as pd
import plotly.graph_objects as go

In [2]:
# Parameters.
portfolio_name = 'SIPP-G'

In [3]:
# Import portfolio equity holdings.
dh = pd.read_csv(
    f'{portfolio_name}_holdings.csv',
    header=0,
    names=[
        'date',
        'name',
        'tidm',
        'shares',
        'price',
        'cost',
        'charges',
        'sduty',
        'value',
        'unrealised',
        'profit',
        'pct_return',
        'pct_annual',
    ],
    index_col=0,
    usecols=['date', 'name', 'tidm', 'profit'],
    engine='python',
    skipfooter=1,
    parse_dates=True,
    dayfirst=True,
)

# Filter portfolio equity holdings for closed positions.
dh = dh[dh.name == 'Position Closed']
dh = dh.sort_index()
dh

                       name   tidm   profit
date
2018-08-14  Position Closed    NXR   221.25
2018-12-11  Position Closed   GFRD  -406.77
2018-12-20  Position Closed  CMS#1   510.83
2019-04-09  Position Closed    PFC     0.13
2019-07-09  Position Closed    IAG  -293.78
...                     ...    ...      ...
2022-04-01  Position Closed   RNWH     9.87
2022-04-19  Position Closed   BRCK   243.59
2022-04-19  Position Closed   WOSG  2356.99
2022-05-23  Position Closed   WOOD  -229.20
2022-06-20  Position Closed    CHG -1255.85

[75 rows x 3 columns]

In [4]:
# Import portfolio cash transactions.
dt = pd.read_csv(
    f'{portfolio_name}_transactions.csv',
    header=0,
    names=[
        'date',
        'time',
        'ionic_id',
        'ticker',
        'type',
        'shares',
        'price',
        'broker',
        'stamp',
        'total',
        'non_cash',
        'note'
    ], 
    index_col=0,
    usecols=['date', 'type', 'total'],
    parse_dates=True,
    dayfirst=True,
)

# Filter portfolio cash transactions for credits, interest, & charges.
dt = dt[(dt.type == 'Credit') | (dt.type == 'Interest') | (dt.type == 'Charges')]
dt = dt.sort_index()
dt

                type    total
date
2017-05-24    Credit  1079.16
2017-06-09  Interest     0.02
2017-07-04   Charges     0.38
2017-07-05    Credit   550.00
2017-07-09  Interest     0.01
...              ...      ...
2022-05-09    Credit     2.91
2022-05-10    Credit   892.32
2022-06-07   Charges    11.13
2022-06-09    Credit     1.80
2022-06-15    Credit   892.32

[169 rows x 2 columns]

In [5]:
# Total portfolio value (closed equity holdings + cash transactions)
start_date = min(dh.index[0], dt.index[0])
end_date = max(dh.index[-1], dt.index[-1])
date_range = pd.date_range(start=start_date, end=end_date)

In [6]:
portfolio = pd.DataFrame(index=date_range)

In [7]:
a = portfolio.join([dh.profit, dt.total])
a.loc['2020-11']

            profit   total
2020-11-01     NaN     NaN
2020-11-02     NaN     NaN
2020-11-03     NaN  892.32
2020-11-03     NaN   11.26
2020-11-04     NaN     NaN
2020-11-05     NaN     NaN
2020-11-06     NaN     NaN
2020-11-07     NaN     NaN
2020-11-08     NaN     NaN
2020-11-09     NaN     NaN
2020-11-10 -719.94     NaN
2020-11-10  534.54     NaN
2020-11-11     NaN     NaN
2020-11-12     NaN     NaN
2020-11-13     NaN     NaN
2020-11-14     NaN     NaN
2020-11-15     NaN     NaN
2020-11-16     NaN     NaN
2020-11-17     NaN     NaN
2020-11-18     NaN     NaN
2020-11-19     NaN     NaN
2020-11-20     NaN     NaN
2020-11-21     NaN     NaN
2020-11-22     NaN     NaN
2020-11-23     NaN     NaN
2020-11-24     NaN     NaN
2020-11-25     NaN     NaN
2020-11-26     NaN     NaN
2020-11-27     NaN     NaN
2020-11-28     NaN     NaN
2020-11-29     NaN     NaN
2020-11-30     NaN     NaN

In [11]:
a = a.fillna(method='ffill')
a.loc['2020-11']

            profit   total
2020-11-01 -679.13  892.32
2020-11-02 -679.13  892.32
2020-11-03 -679.13  892.32
2020-11-03 -679.13   11.26
2020-11-04 -679.13   11.26
2020-11-05 -679.13   11.26
2020-11-06 -679.13   11.26
2020-11-07 -679.13   11.26
2020-11-08 -679.13   11.26
2020-11-09 -679.13   11.26
2020-11-10 -719.94   11.26
2020-11-10  534.54   11.26
2020-11-11  534.54   11.26
2020-11-12  534.54   11.26
2020-11-13  534.54   11.26
2020-11-14  534.54   11.26
2020-11-15  534.54   11.26
2020-11-16  534.54   11.26
2020-11-17  534.54   11.26
2020-11-18  534.54   11.26
2020-11-19  534.54   11.26
2020-11-20  534.54   11.26
2020-11-21  534.54   11.26
2020-11-22  534.54   11.26
2020-11-23  534.54   11.26
2020-11-24  534.54   11.26
2020-11-25  534.54   11.26
2020-11-26  534.54   11.26
2020-11-27  534.54   11.26
2020-11-28  534.54   11.26
2020-11-29  534.54   11.26
2020-11-30  534.54   11.26