In [1]:
import gta_prices
import numpy as np
import pandas as pd

In [2]:
def donchian(prices, period):
    '''Calculate upper, lower, & middle Donchian lines.'''
    df = pd.DataFrame(prices.copy())
    df['upr'] = prices.high.rolling(period).max().shift(periods=1)
    df['lwr'] = prices.low.rolling(period).min().shift(periods=1)
    df['mid'] = 0.5 * (df.upr + df.lwr)
    return df

In [3]:
# Trade parameters.
exchange = 'LSE'
tidm = 'HSV'
periods = {'p1': 48, 'p2': 24, 'p3': 12, 'p4': 6}

In [4]:
# Import weekly closing prices.
prices = gta_prices.weekly(exchange, tidm)

In [5]:
# Donchian channels.
dc = {}
for i, period in enumerate(periods.values()):
    i += 1
    globals()[f'p{i}'] = period
    dc[f'dc{i}'] = donchian(prices, period)

In [8]:
dc['dc4']

             open    high    low     close     upr    lwr     mid
date
1994-01-07    NaN     NaN    NaN   0.33234     NaN    NaN     NaN
1994-01-14    NaN     NaN    NaN   0.33385     NaN    NaN     NaN
1994-01-21    NaN     NaN    NaN   0.33815     NaN    NaN     NaN
1994-01-28    NaN     NaN    NaN   0.34031     NaN    NaN     NaN
1994-02-04    NaN     NaN    NaN   0.34095     NaN    NaN     NaN
...           ...     ...    ...       ...     ...    ...     ...
2022-04-15  8.900   8.900  8.500   8.55000   9.390  5.790  7.5900
2022-04-22  8.750   9.855  8.350   9.80500   9.390  5.790  7.5900
2022-04-29  9.850  10.170  9.570   9.83000   9.855  6.435  8.1450
2022-05-06  9.790  10.020  9.565   9.90000  10.170  6.605  8.3875
2022-05-13  9.925  11.250  9.560  10.69000  10.170  8.350  9.2600

[1480 rows x 7 columns]