In [1]:
import gta_prices
import numpy as np
import pandas as pd

In [2]:
def state(entry_signal, exit_signal, period):
    '''Calculate trade state signals.'''
    df = pd.concat([entry_signal, exit_signal], axis=1)
    df.columns = ['entry', 'exit']
    df['state'] = 0
    for i in range(period, len(df)):
        if df.loc[df.index[i], 'entry'] == 1 \
                and df.loc[df.index[i - 1], 'state'] == 0:
            df.loc[df.index[i], 'state'] = 1
        elif df.loc[df.index[i], 'exit'] == 1:
            df.loc[df.index[i], 'state'] = 0
        else:
            df.loc[df.index[i], 'state'] = df.loc[df.index[i - 1], 'state']
    return df.state

In [3]:
# Trade parameters.
exchange = 'LSE'
tidm = 'HSV'
periods = {'p1': 48, 'p2': 24, 'p3': 12, 'p4': 6}
position_size = 7500
risk_pct = 0.2
commission = 11.95
sduty = 0.5

In [4]:
# Import weekly closing prices.
prices = gta_prices.weekly(exchange, tidm)

In [5]:
# Donchian lines, entries & exits for each look back period.
entry = None
for i, period in enumerate(periods.values()):
    i += 1
    globals()[f'p{i}'] = period
    df = pd.DataFrame(prices.copy())
    df['upr'] = prices.high.rolling(period).max().shift(periods=1)
    df['lwr'] = prices.low.rolling(period).min().shift(periods=1)
    df['mid'] = 0.5 * (df.upr + df.lwr)
    df['sys'] = i
    df['period'] = period
    if i == 1:
        df['buy'] = np.where(df.close > df.upr, 1, 0)
    else:
        df['buy'] = entry
    df['sell'] = np.where(df.close < df.mid, 1, 0)
    df['state'] = state(df.buy, df.sell, period)
    df['entry'] = np.where(np.logical_and(df.state == 1, df.state.shift(periods=1) == 0), 1, 0)
    if i == 1:
        entry = df.entry
    df['exit'] = np.where(np.logical_and(df.state == 0, df.state.shift(periods=1) == 1), 1, 0)
    globals()[f'dc{i}'] = df

In [6]:
# Trade list indexed by date.
td = pd.concat([dc1[dc1.entry == 1], dc1[dc1.exit == 1], dc2[dc2.exit == 1], dc3[dc3.exit == 1],
                dc4[dc4.exit == 1]], axis=0)
td = td.sort_index()

In [7]:
# Position size (buy).
td['volatility'] = np.where(td.entry == 1, abs((td.mid - td.close) / td.close), 0)
td['risk_amt'] = np.where(td.entry == 1, ((position_size * risk_pct) / td.volatility).round(2), 0)
td['shares'] = np.where(td.entry == 1, (td.risk_amt / td.close).astype('int'), 0)
# td.shares = shares_div4(td.shares) # Modify number of shares to be purchased to be divisible by 4.
# td.risk_amt = np.where(td.entry == 1, (td.close * td.shares).round(2), 0) # Adjust risk amount for revised share count.
td.round(3)

,open,high,low,close,upr,lwr,mid,sys,period,buy,sell,state,entry,exit,volatility,risk_amt,shares
date,,,,,,,,,,,,,,,,,
2001-12-07,1.195,1.228,1.195,1.228,1.206,0.878,1.042,1,48,1,0,1,1,0,0.151,9913.87,8075
2002-02-01,1.346,1.346,1.303,1.308,1.359,1.271,1.315,4,6,0,1,0,0,1,0.000,0.00,0
2002-02-22,1.308,1.308,1.257,1.257,1.359,1.190,1.275,3,12,0,1,0,0,1,0.000,0.00,0
2002-04-05,1.238,1.249,1.209,1.215,1.359,1.104,1.231,2,24,0,1,0,0,1,0.000,0.00,0
2002-09-06,1.179,1.185,1.142,1.147,1.359,0.991,1.175,1,48,0,1,0,0,1,0.000,0.00,0
2003-09-05,1.125,1.174,1.120,1.171,1.142,0.786,0.964,1,48,1,0,1,1,0,0.177,8491.84,7254
2003-10-03,1.158,1.163,1.152,1.158,1.195,1.120,1.158,4,6,0,1,0,0,1,0.000,0.00,0
2003-10-10,1.154,1.154,1.098,1.109,1.195,1.053,1.124,3,12,0,1,0,0,1,0.000,0.00,0
2004-02-06,1.182,1.182,1.146,1.146,1.238,1.093,1.166,2,24,0,1,0,0,1,0.000,0.00,0
2007-07-27,3.877,3.941,3.567,3.597,4.392,3.416,3.904,1,48,0,1,0,0,1,0.000,0.00,0
2009-09-11,3.190,3.440,3.168,3.351,3.300,1.779,2.539,1,48,1,0,1,1,0,0.242,6191.01,1847
2009-11-06,3.509,3.519,3.321,3.446,3.774,3.192,3.483,4,6,0,1,0,0,1,0.000,0.00,0
2009-11-20,3.425,3.479,3.278,3.295,3.774,2.968,3.371,3,12,0,1,0,0,1,0.000,0.00,0
2009-11-20,3.425,3.479,3.278,3.295,3.774,2.878,3.326,2,24,0,1,0,0,1,0.000,0.00,0
2010-11-12,4.699,4.715,4.374,4.394,5.406,3.416,4.411,1,48,0,1,0,0,1,0.000,0.00,0
2011-05-06,5.290,5.449,5.283,5.428,5.406,4.211,4.808,1,48,1,0,1,1,0,0.114,13148.50,2422
2011-06-24,5.675,5.681,5.515,5.530,5.762,5.317,5.539,4,6,0,1,0,0,1,0.000,0.00,0
2011-07-22,5.331,5.361,5.182,5.331,5.762,5.051,5.406,3,12,0,1,0,0,1,0.000,0.00,0
2011-07-29,5.305,5.398,5.110,5.197,5.762,4.653,5.207,2,24,0,1,0,0,1,0.000,0.00,0
2011-08-05,5.223,5.317,4.681,4.862,5.762,4.366,5.064,1,48,0,1,0,0,1,0.000,0.00,0
2013-05-24,2.384,2.857,2.384,2.746,2.709,1.563,2.136,1,48,1,0,1,1,0,0.222,6745.76,2456
2013-07-26,3.147,3.191,2.738,2.865,3.206,2.830,3.018,4,6,0,1,0,0,1,0.000,0.00,0
2013-08-09,2.909,2.942,2.700,2.732,3.206,2.277,2.741,3,12,0,1,0,0,1,0.000,0.00,0
2013-10-18,2.720,2.751,2.423,2.531,3.206,1.991,2.599,1,48,0,1,0,0,1,0.000,0.00,0
2013-10-18,2.720,2.751,2.423,2.531,3.206,2.186,2.696,2,24,0,1,0,0,1,0.000,0.00,0
2014-01-31,3.056,3.565,3.037,3.528,3.339,1.991,2.665,1,48,1,0,1,1,0,0.245,6131.03,1737
2014-03-14,3.483,3.536,3.299,3.315,3.793,3.037,3.415,4,6,0,1,0,0,1,0.000,0.00,0
2014-05-16,3.710,3.793,3.458,3.489,3.793,3.246,3.519,3,12,0,1,0,0,1,0.000,0.00,0
2014-07-04,3.360,3.497,3.333,3.360,3.793,2.977,3.385,2,24,0,1,0,0,1,0.000,0.00,0
2015-10-02,4.180,4.206,4.047,4.076,4.798,3.444,4.121,1,48,0,1,0,0,1,0.000,0.00,0
2016-05-27,4.176,4.932,4.176,4.880,4.798,3.561,4.179,1,48,1,0,1,1,0,0.144,10447.44,2140
2016-09-23,5.755,5.880,5.595,5.610,5.910,5.500,5.705,4,6,0,1,0,0,1,0.000,0.00,0
2017-01-20,6.045,6.195,5.900,6.025,6.335,5.780,6.058,3,12,0,1,0,0,1,0.000,0.00,0
2017-02-24,5.920,5.990,5.715,5.860,6.335,5.555,5.945,2,24,0,1,0,0,1,0.000,0.00,0
2018-03-02,7.470,7.560,7.040,7.050,8.720,5.460,7.090,1,48,0,1,0,0,1,0.000,0.00,0
2018-05-25,8.455,9.145,7.935,8.920,8.720,6.825,7.773,1,48,1,0,1,1,0,0.129,11660.13,1307
2018-09-07,10.280,10.410,9.945,10.080,10.460,9.755,10.108,4,6,0,1,0,0,1,0.000,0.00,0
2018-10-05,10.300,10.400,9.660,9.680,10.660,9.170,9.915,3,12,0,1,0,0,1,0.000,0.00,0
2018-11-16,9.780,9.810,9.305,9.380,10.660,8.695,9.678,2,24,0,1,0,0,1,0.000,0.00,0
2018-12-14,8.970,9.080,8.760,8.800,10.660,7.000,8.830,1,48,0,1,0,0,1,0.000,0.00,0
2019-04-05,10.260,11.350,10.260,10.950,10.660,7.275,8.968,1,48,1,0,1,1,0,0.181,8284.99,756
2019-05-10,10.890,10.900,10.660,10.710,11.710,9.820,10.765,4,6,0,1,0,0,1,0.000,0.00,0
2019-07-19,11.590,11.670,11.330,11.450,12.750,10.170,11.460,3,12,0,1,0,0,1,0.000,0.00,0
2019-08-02,11.680,11.910,11.060,11.060,12.750,9.520,11.135,2,24,0,1,0,0,1,0.000,0.00,0
2020-03-13,11.210,11.450,9.360,9.485,13.520,10.170,11.845,1,48,0,1,0,0,1,0.000,0.00,0
2022-05-13,9.925,11.250,9.560,10.690,10.240,5.790,8.015,1,48,1,0,1,1,0,0.250,5994.39,560